<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<div class="modal fade" id="item_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="item_title"></h4>
			</div>	 
			<form id="item_form">
				<input type="hidden" id="item_id" name="itemId"/>
				<input type="hidden" id="product_id" name="productId"/>
				<input type="hidden" id="stopSelling" name="stopSelling" value="1"/>
			<div class="modal-body">
				<div class="box-body">
					
						<div class="form-group">
							<label>아이템이름</label>
							<input type="text" id="item_name" name="itemName" class="form-control input-sm" size="10" placeholder="아이템명을 입력하세요." required="required"/>
	                    </div>
	                    <div class="form-group">
	                    	<label>가격</label>
	                    	<input type="number" id="item_price" name="price" min="0" class="form-control input-sm" size="10" placeholder="가격을 입력하세요." required="required"/>
	                    </div>
	                    <div class="form-group">
	                    	<label>아이템수량</label>
	                    	<input type="number" id="item_total_count" name="totalItemCnt" min="0" class="form-control input-sm" size="10" placeholder="아이템 수량을 입력하세요." required="required"/>
	                    </div>
	                    <div class="form-group">
	                    	<label>최대구입수량</label>
	                    	<input type="number" id="max_item_count" name="maxItemCnt" min="0" class="form-control input-sm" size="10" placeholder="한번에 구입가능한 수를 입력하세요. 0일 경우 제한 없음" required="required"/>
	                    </div>
	                    <div class="form-group">
	                    	<label>남은수량</label>
	                    	<input type="number" id="item_count" name="itemCnt" min="0" class="form-control input-sm" size="10" placeholder="남은 수량" required="required"/>
	                    </div>
             <div class="form-group">
             </div>
           </div>
           <!-- /.box-body -->
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" id="itemSubmit">저장</button>
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">취소</button>
           </div>
          </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->