<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    #parse ("/admin/layout/common_css.vm")
  </head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			#parse ("/admin/layout/header.vm")
			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="clearfix"></div>
					
					<div class="row">
						<div class="col-md-8 col-sm-12 col-xs-12">
						 	<div class="x_panel">
						 		<div class="x_title">
                    				<h2>앱 버전 <small>정보</small></h2>
                    				<div class="clearfix"></div>
                  				</div>
                  				<div class="x_content">
                  					<form class="form-horizontal form-label-left" novalidate>
                  						<div class="item form-group">
                  							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="android">안드로이드 버전</label>
                  							 <div class="col-md-6 col-sm-9 col-xs-12">
                  							 	<input type="text" class="form-control" id="versionName" required="required" value="$!{version.versionName}"/>
                  							 </div>
                  						</div>
                  						<div class="ln_solid"></div>
                      					<div class="form-group">
                        					<div class="col-md-6 col-md-offset-3">
                        						<button type="button" class="btn btn-primary btn-flat" onclick="javascript:versionUpdate('A');">버전수정</button>
                     						</div>
                     					</div>
                  					</form>
                  				</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
			#parse ("/admin/layout/footer.vm")
		</div>
	</div>
	
	#parse ("/admin/layout/common_js.vm")
	<script>
		function versionUpdate(osType) {
			var formData = new FormData();
			formData.append("osType", osType);
			if(osType == 'A') {
				formData.append("osVersion", $("#versionName").val());
			} else if(osType == "I") {
				formData.append("osVersion", $("#iosVersionName").val());
			}
			$.ajax({
				url: '/admin/version/update',
				processData: false,
				contentType: false,
				data: formData,
				type: 'POST',
				success: function(result){
					bootbox.alert("수정되었습니다.", function() {
						window.location.reload(true);
					});
				},
				 error: function(){
					 bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
				 }
			});
		}
	</script>
</body>
</html>
