<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>발그레 | 관리자페이지</title>
   	
   	#parse ("/admin/layout/common_css.vm")	
   	
   	<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.bootstrap.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" rel="stylesheet" />
</head>

<body class="nav-md footer_fixed">
	<div class="container body">
		<div>
			#parse ("/admin/layout/header.vm")
			<!-- page content -->
			<div class="right_col" role="main">
				<div id="items" class="col-md-12 col-sm-12 col-xs-12" style="display:none;">
					<div class="x_panel">
						<div class="x_content">
							<table id="item_datatables" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
								<thead>
			                        <tr>
			                        	<th>아이템명</th>
			                        	<th>공급가</th>
			            			    <th>가격</th>
			            			    <th>수량</th>
			            			    <th>최대구입수량</th>
			            			    <th>남은 수량</th>
			            			    <th>판매상태</th>
			                        </tr>
			                      </thead>
			                      <tbody>	
			                      	<tr>
			                      		<td></td>
			                      		<td></td>
			            			    <td></td>
			            			    <td></td>
			            			    <td></td>
			            			    <td></td>
			            			    <td></td>
			                        </tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>#if($!{box} == 0)상품 #else 발그레박스 #end <small>목록</small></h2>
                    <ul class="nav navbar-right">
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatables" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                        	<th>p.no</th>
            			    <th>이미지</th>
            			    <th>상품명</th>
            			    <th>베스트점수</th>
            			    <th>평점</th>
            			    <th>조회수</th>
            			    <th>브랜드</th>
            			    <th>판매상태</th>
            			    <th>판매자</th>
            			    <th>등록일</th>
                        </tr>
                      </thead>
                      <tbody>	
                      	<tr>
                      		<td></td>
                      		<td></td>
            			    <td></td>
            			    <td></td>
            			    <td></td>
            			    <td></td>
            			    <td></td>
            			    <td></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
			</div>
			</div>
		</div>
		#parse ("/admin/product/item_modal.vm")
		<!-- page content end-->
		#parse ("/admin/layout/footer.vm")
	</div>
</div>
		#parse ("/admin/layout/common_js.vm")
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
    <script>
    var myTable;
    var itemTable;
    $(document).ready(function() {
        myTable = $('#datatables').DataTable({
        	 dom: 'Bfrtip',
			stateSave: true,	
          	"processing": true,
          	"serverSide": true,
          	"order": [],
          	"ajax": {
          		"url": "list_processing?box=$!{box}",
          		"data": function(data) {
          			console.log(data);
          			planify(data);
                }
          	},
          	select:true,
          	columns: [
					{"data": "productId", "name": "productId"},
					{"data": "thumbUrl", "name": "thumbUrl"},
					{"data": "prodName", "name": "prodName"},
					{"data": "score", "name": "score"},
					{"data": "reviewStar", "name": "reviewStar"},
					{"data": "viewCount", "name": "viewCount"},
					{"data": "brand.brandName", "name": "brand.brandName"},
					{"data": "stopSelling", "name": "stopSelling"},
					{"data": "seller.name", "name": "seller.name"},
					{"data": "regDate", "name": "regDate"}
				],
				"columnDefs": [
						{
							"targets": 1,//index of column starting from 0	
							"data": "thumbnail", //this name should exist in your JSON response
							"render": function ( data, type, full, meta ) {
								console.log(data);
								return '<img src="' + "${image_url}" + data + '" height="70" />';	
							}
						},
						{
	   						"targets": 7,//index of column starting from 0	
	    					"data": "regDate", //this name should exist in your JSON response
	    					"render": function ( data, type, full, meta ) {
	    						if(data == 1) {
	    							return '<span class="label label-danger">판매중지</span>';
	    						} else {
	    							return '<span class="label label-success">판매 중</span>';	
	    						}
	    								
	    					}
						},
						{
		  				   "targets": 9,//index of column starting from 0
		  				    "data": "regDate", //this name should exist in your JSON response
		  				    "render": function ( data, type, full, meta ) {
		  				    	e();
		  				    	return new Date(data).format("yyyy-MM-dd HH:mm:ss");		
		  				    }
		  				}
					],
				buttons: [
				        {
				              text: '등록',
				              action: function ( e, dt, button, config ) {
				            	  location.href="write?box=$!{box}";
				              }
				          },
				          {
				              text: '수정',
				              enabled: false,
				              action: function ( e, dt, button, config ) {
				            	  var rowData = myTable.rows( '.selected' ).data().toArray();
				            	  location.href="write?box=$!{box}&productId="+rowData[0].productId;
				              }
				          },
				          {
				              text: '아이템등록',
				              enabled: false,
				              action: function ( e, dt, button, config ) {
				            	  var rowData = myTable.rows( '.selected' ).data().toArray();
				            	  editItem("add", rowData[0].productId);	
				              }
				          },
				          {
				              text: '점수주기',
				              enabled: false,
				              action: function ( e, dt, button, config ) {
				            	  var rowData = myTable.rows( '.selected' ).data().toArray();
				            	  scoreAdd(rowData);
				              }
				          },
				          {
				              text: '판매',
				              enabled: false,
				              action: function ( e, dt, button, config ) {
				            	  var rowData = myTable.rows( '.selected' ).data().toArray();
				                  seller(rowData, 0);
				              }
				          },
				          {
				              text: '판매중지',
				              enabled: false,
				              action: function ( e, dt, button, config ) {
				            	  var rowData = myTable.rows( '.selected' ).data().toArray();
				                  seller(rowData, 1);
				              }
				          }
				      ],
			responsive: true
        });
        
        myTable.on( 'select', function () {
            var selectedRows = myTable.rows( { selected: true } ).count();
            if(selectedRows == 1) {
            	var rowData = myTable.rows( '.selected' ).data().toArray();
            	initItemTable(rowData[0].productId);
            } else {
            	$("#items").css("display", "none");
            }
            
            myTable.button( 5 ).enable( selectedRows > 0 );
            myTable.button( 4 ).enable( selectedRows > 0 );
            myTable.button( 3 ).enable( selectedRows > 0 );
            myTable.button( 1 ).enable( selectedRows === 1 );
            myTable.button( 2 ).enable( selectedRows === 1 );
            e();
        } );
        
        myTable.on( 'deselect', function () {
            var selectedRows = myTable.rows( { selected: true } ).count();
            console.log(selectedRows);
            if(selectedRows == 0) {
            	myTable.button( 5 ).disable();
            	myTable.button( 4 ).disable();
            	myTable.button( 3 ).disable();
            	myTable.button( 2 ).disable();
           		myTable.button( 1 ).disable();
           		
            }
            
            if(selectedRows == 1) { 
            	myTable.button( 1 ).enable();
            	myTable.button( 2 ).enable();
            }
            e();
        } );
        
        
   	 $('#item_form').submit(function(e) {
			e.preventDefault();
			var submit = true;

 	        // evaluate the form using generic validaing
 	    if (!validator.checkAll($(this))) {
				submit = false;
			}
 	        
			if (submit) 
				insertItem();

			return false;
		});
    } );
    
    function scoreAdd(rowData) {
   		bootbox.prompt({
			title: "점수를 입력 해 주세요.",
        	callback: function (result) {
        		if(result) {
    	    		$.ajax({
        				url: "score?score="+result,
    	    			contentType: 'application/json',
        			    mimeType: 'application/json',
        			    dataType: 'json', 
        			    data: JSON.stringify(rowData), 
    	    			type: 'POST',
    	    			success: function(result){
    	    				if(result.resultCode == 200) {
    	    					bootbox.alert(result.message, function() {
    	    						myTable.ajax.reload();
    	    					});
    	    				} else {
    	    					bootbox.alert(result.message, function() {});
    	    				}
    	    			},
    	    			error: function(){
    	    				bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
    	    			}
    	    		});
 				}
 			}
   		});
    }
    function planify(data) {
        for (var i = 0; i < data.columns.length; i++) {
            column = data.columns[i];
            column.searchRegex = column.search.regex;
            column.searchValue = column.search.value;
            delete(column.search);
        }
    }

    function seller(rowData, flag) {
    	console.log(rowData);
    	var message;
    	if(flag == 0) {
    		message = "선택한 상품을 판매하시겠습니까?";
    	} else {
    		message = "선택한 상품 판매를 중지하시겠습니까?";
    	}
    	bootbox.confirm({
    	    message: message,
    	    buttons: {
    	        confirm: {
    	            label: 'Yes',
    	            className: 'btn-success'
    	        },
    	        cancel: {
    	            label: 'No',
    	            className: 'btn-danger'
    	        }
    	    },
    	    callback: function (result) {
    	    	if(result) {
    	    		$.ajax({
        				url: "seller?seller="+flag,
        				contentType: 'application/json',
        			    mimeType: 'application/json',
        			    dataType: 'json', 
        			    data: JSON.stringify(rowData), 
        				type: 'POST',
        				success: function(result){
        					if(result.resultCode == 200) {
        						bootbox.alert(result.message, function() {
        							myTable.ajax.reload();
        						});
        					} else {
        						bootbox.alert(result.message, function() {});
        					}
        				},
        				error: function(){
        					bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
        				}
        			});
    	    	}
    	    }
    	});
    }
    </script>
    <!-- /Datatables -->
    
    
    <!-- item tables -->
    <script>
	function initItemTable(productId) {
		if(itemTable) {
			itemTable.ajax.url( "item_processing?productId="+productId);
			itemTable.ajax.reload();
		} else {
			$("#items").css("display", "block");
		    itemTable = $('#item_datatables').DataTable({
		   	 dom: 'Bfrtip',
				stateSave: true,	
		     	"processing": true,
		     	"serverSide": true,
		     	"order": [],
		     	"paging": false,
		     	"searching": false,
		     	"ajax": {
		     		"url": "item_processing?productId="+productId,
		     		"data": function(data) {
		     			console.log(data);
		     			planify(data);
		           }
		     	},
		     	select:true,
		     	columns: [
						{"data": "itemName", "name": "itemName"},
						{"data": "supply_price", "name": "supply_price"},
						{"data": "price", "name": "price"},
						{"data": "totalItemCnt", "name": "totalItemCnt"},
						{"data": "maxItemCnt", "name": "maxItemCnt"},
						{"data": "itemCnt", "name": "itemCnt"},
						{"data": "stopSelling", "name": "stopSelling"}
					],
					"columnDefs": [
							{
		   						"targets": 6,//index of column starting from 0	
		    					"data": "regDate", //this name should exist in your JSON response
		    					"render": function ( data, type, full, meta ) {
		    						e();
		    						if(data == 1) {
		    							return '<span class="label label-danger">판매중지</span>';
		    						} else {
		    							return '<span class="label label-success">판매 중</span>';	
		    						}
		    								
		    					}
							}
						],
					buttons: [
					          {
					              text: '수정',
					              enabled: false,
					              action: function ( e, dt, button, config ) {
					            	  var rowData = itemTable.rows( '.selected' ).data().toArray();
					            	  editItem("upd", rowData[0].itemId);
					            	  //location.href="write?productId="+rowData[0].productId;
					              }
					          },
					          {
					              text: '판매',
					              enabled: false,
					              action: function ( e, dt, button, config ) {
					            	  var rowData = itemTable.rows( '.selected' ).data().toArray();
					            	  itemSeller(rowData, 0);
					              }
					          },
					          {
					              text: '판매중지',
					              enabled: false,
					              action: function ( e, dt, button, config ) {
					            	  var rowData = itemTable.rows( '.selected' ).data().toArray();
					            	  itemSeller(rowData, 1);
					              }
					          }
					      ],
				responsive: true
		   });
		   
		    itemTable.on( 'select', function () {
		       var selectedRows = itemTable.rows( { selected: true } ).count();
		       itemTable.button( 2 ).enable( selectedRows > 0 );
		       itemTable.button( 1 ).enable( selectedRows > 0 );
		       itemTable.button( 0 ).enable( selectedRows === 1 );
		   } );
		   
		    itemTable.on( 'deselect', function () {
		       var selectedRows = itemTable.rows( { selected: true } ).count();
		       console.log(selectedRows);
		       if(selectedRows == 0) {
		    	   itemTable.button( 2 ).disable();
		    	   itemTable.button( 1 ).disable();
		    	   itemTable.button( 0 ).disable();
		       }
		       
		       if(selectedRows == 1) { 
		    	   itemTable.button( 1 ).enable();
		    	   itemTable.button( 2 ).enable();
		       }
		   	});
		}
	}
	
	function editItem(action, id) {
		console.log("item : " + action + ", " + id);
		var formData = new FormData();
      	formData.append("item_id", id);
      	$('#item_form').each(function(){
      	     this.reset();
      	});
      	
      	if(action == "add") {
      		$("#item_id").val("");
      		$("#product_id").val(id);
      		$("#itemSubmit").text("등록");
      		$('#item_modal').modal();
      	} else {
          	$.ajax({
     		     type: "GET",
     		     url: "/admin/item/getItem?itemId="+id,
     		     data:null,
     	         success: function(data){
     	        	$("#item_id").val(data.itemId);
     	        	$("#product_id").val(data.product.productId);
     	        	$("#item_name").val(data.itemName);
     	        	$("#item_price").val(data.price);
     	        	$("#supply_price").val(data.supply_price);
     	        	$("#item_total_count").val(data.totalItemCnt);
     	        	$("#max_item_count").val(data.maxItemCnt);
     	        	$("#item_count").val(data.itemCnt);
     	        	$("#stopSelling").val(data.stopSelling);
     	        	$("#info1").val(data.info1);
     	        	$("#info2").val(data.info2);
     	        	$("#info3").val(data.info3);
     	        	$("#info4").val(data.info4);
     	        	$("#info5").text(data.info5);
     	        	$("#info6").val(data.info6);
     	        	$("#info7").val(data.info7);
     	        	$("#info8").val(data.info8);
     	        	$("#info9").text(data.info9);
     	        	$("#info10").text(data.info10);
     	        	$("#info11").text(data.info11);
     	        	$("#info12").val(data.info12);
     	        	$("#info13").val(data.info13);
     	        	
     	        	$("#itemSubmit").text("수정");
     	        	$('#item_modal').modal();
     		     },
     			 error: function(){
     				bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
     			 }
     	  	});
      	}
	}
	
	function itemSeller(rowData, flag) {
    	console.log(rowData);
    	var message;
    	if(flag == 0) {
    		message = "선택한 상품을 판매하시겠습니까?";
    	} else {
    		message = "선택한 상품 판매를 중지하시겠습니까?";
    	}
    	bootbox.confirm({
    	    message: message,
    	    buttons: {
    	        confirm: {
    	            label: 'Yes',
    	            className: 'btn-success'
    	        },
    	        cancel: {
    	            label: 'No',
    	            className: 'btn-danger'
    	        }
    	    },
    	    callback: function (result) {
    	    	if(result) {
    	    		$.ajax({
        				url: "/admin/item/seller?seller="+flag,
        				contentType: 'application/json',
        			    mimeType: 'application/json',
        			    dataType: 'json', 
        			    data: JSON.stringify(rowData), 
        				type: 'POST',
        				success: function(result){
        					if(result.resultCode == 200) {
        						bootbox.alert(result.message, function() {
        							itemTable.ajax.reload();
        						});
        					} else {
        						bootbox.alert(result.message, function() {});
        					}
        				},
        				error: function(){
        					bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
        				}
        			});
    	    	}
    	    }
    	});
    }
	
    function insertItem() {
    	var params = $("#item_form").serializeObject();
    	
    	console.log(JSON.stringify(params));
    	$.ajax({
			url: "/admin/item/save?productId="+$("#product_id").val(),
			contentType: 'application/json',
		    mimeType: 'application/json',
		    dataType: 'json', 
		    data: JSON.stringify(params),
			type: 'POST',
			success: function(result){
				if(result.resultCode == 200) {
					bootbox.alert(result.message, function() {
						$('#item_modal').modal('hide');
						itemTable.ajax.reload();
					});
				} else {
					bootbox.alert(result.message, function() {});
				}
			},
			error: function(){
				bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
			}
		});
    }
    </script>
    <!-- /item tables -->
</body>
</html>