<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>발그레 | 관리자페이지</title>

	#parse ("/admin/layout/common_css.vm")
    <!-- Summernote -->
    <link href="/vendors/summernote/summernote.css" rel="stylesheet">
    
    <style type="text/css">
    	div.detail_note{
		    border-radius: 15px;
		    display: inline-block;
		    font-size: 15px;
		    margin: 15px 0;
		    padding: 3px 10px;
		   font-weight: bold;
		}
		
		.main_color{
		   color: #FFFFFF;
		   background: #6fc5db;
		   border: 0px;
		}
    </style>
  </head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			#parse ("/admin/layout/header.vm")
			<!-- page content -->
			<div class="right_col" role="main">
            	<div class="clearfix"></div>
            		<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
                			<div class="x_panel">
                  				<div class="x_title">
                    				<h2>#if($!{box} == 0)상품 #else 발그레박스 #end <small>등록</small></h2>
                    				<div class="clearfix"></div>
                  				</div>
                  			<div class="x_content">
                    			<form class="form-horizontal form-label-left" id="productForm">
									<input type="hidden" id="productId" name="productId" value="$!{product.product.productId}"/>  
									<input type="hidden" id="deliveryId" name="deliveryId" value="$!{product.product.productDelivery.deliveryId}"/>
									<input type="hidden" id="thumb_path" name="thumb_path" value="$!{product.product.thumbUrl}" required="required"/>
									<input type="hidden" id="detail_path" name="detail_path" value="$!{product.product.banner}"/>
									<input type="hidden" id="box" name="box" value="$!{box}"/>
                      				<div class="form-group" id="ctg">
                      					#if($!{box} == 0)
	                  						<label class="control-label col-md-2 col-sm-2 col-xs-12">카테고리 <span class="required">*</span></label>
	                  						<div class="col-md-8 col-sm-8 col-xs-12">
	                  							<select class="select2_multiple form-control" id="category" name="category[]" multiple="multiple">
	                  							#foreach( $ctg in $category)
	                  								#if($!ctg.get(3))
	                  									<option value="$!ctg.get(3)">$ctg.get(1) > $ctg.get(4)</option>
	                  								#else
	                  									<option value="$!ctg.get(0)">$ctg.get(1)</option>
	                  								#end
	                  							#end
	                  							</select>
	                   						</div>
                   						#end
  	              					</div>
  	              					<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">상품명 <span class="required">*</span></label>
	                        			<div class="col-md-8 col-sm-8 col-xs-12">
		                          			<input type="text" id="productName" name="productName" class="form-control" placeholder="상품명을 입력하세요." required="required" value="$!{product.product.prodName}">
	    	                    		</div>
	        	              		</div>
	        	              		<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">상품설명 <span class="required">*</span></label>
	                        			<div class="col-md-8 col-sm-8 col-xs-12">
		                          			<input type="text" id="productDesc" name="productDesc" class="form-control" placeholder="설명을 입력하세요." required="required" value="$!{product.product.prodDesc}">
	    	                    		</div>
	        	              		</div>
	        	              		<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">브랜드 <span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
                        					<select class="select2 form-control" id="brand" name="brand" required="required">
                        					#foreach( $info in $brand )
	                        					<option value="$info.brandId">$info.brandName</option>
    	                    				#end
        	                				</select>
    	    	                		</div>
        	    	          		</div>
                      				#if ($!product.product.thumbUrl)
                      				<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">등록된 썸네일 <span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
        	              					<img src="$!{product.imageUrl}$!{product.product.thumbUrl}" alt="Picture" width="300px">
            		    				</div>
            		  				</div>
                      				#end
                      				#if ($!product.product.banner)
                      				<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">등록된 배너 <span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
        	              					<img src="$!{product.imageUrl}$!{product.product.banner}" alt="Picture" width="300px">
            		    				</div>
            		  				</div>
                      				#end
                      				<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">썸네일이미지</label>
	                        			<div class="col-md-8 col-sm-8 col-xs-12">
		                          			<div id="thumb-image" class="dropzone dz-message text-center">
	    									</div>
	    	                    		</div>
	        	              		</div>
                      				<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">배너이미지</label>
	                        			<div class="col-md-8 col-sm-8 col-xs-12">
		                          			<div id="detail-image" class="dropzone dz-message text-center">
	    									</div>
	    	                    		</div>
	        	              		</div>
									<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">상품설명 <span class="required">*</span></label>
                         				<div class="col-md-10 col-sm-10 col-xs-12">
			              					<div id="summernote">
			              					#if($!{product.product.content})
			              						$!{product.product.content}
			              					#end
			              					</div>
			            				</div>
                      				</div>
                      				<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">원가<span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
	                          				<input type="number" id="price" name="price" class="form-control" min="0" placeholder="원가를 입력하세요." required="required" value="$!{product.product.price}">
    	                    			</div>
        	              			</div>
        	              			<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">판매가<span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
		                          			<input type="number" id="salePrice" name="salePrice" class="form-control" min="0" placeholder="판매가를 입력하세요." required="required" value="$!{product.product.salePrice}">
    		                    		</div>
        	              			</div>
        	              			<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">세일</label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
		                          			<input type="text" id="sale" name="sale" class="form-control" placeholder="자동계산" required="required" readonly="readonly" value="$!{product.product.sale}">
		                          			<span class="message">원가 및 세일가 입력시 % 자동 계산</span>
    	                    			</div>
        	              			</div>
        	              			<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">택배유형<span class="required">*</span></label>
    	                    			<div class="col-md-8 col-sm-8 col-xs-12">
	    	                      			<select class="select2 form-control" id="delivery" name="delivery"  required="required" >
            	            					<option value="0" selected>일반택배</option>
                	        					<option value="1">자사택배</option>
                    	    				</select>
    	                	    		</div>
        	              			</div>
        	              			<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">택배사<span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
	                        				<select class="select2 form-control" id="dcompany" name="dcompany" required="required">
    	                    				#foreach( $info in $company )
        	                					<option value="$info.code">$info.name</option>
            	            				#end
                	        				</select>
    	            	        		</div>
        	            	  		</div>
                      				<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">무료배송<span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
	                          				<input type="number" name="freeDelivery" id="freeDelivery" class="form-control" min="-1" required="required" value="$!{product.product.productDelivery.freeDelivery}">
	                          				<span class="message">
                          						무료배송 금액  ex) 9800원 이상 무료배송  -> 9800 입력<br/>
                          						무료배송 일 경우  0 입력
                          						유료배송 일 경우 -1 입력
                        					</span>
    	                    			</div>
        	              			</div>
        	              			<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">배송비<span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
	                          				<input type="number" name="deliveryPrice" id="deliveryPrice" class="form-control" min="-1" required="required" value="$!{product.product.productDelivery.deliveryPrice}">
    	                    			</div>
        	              			</div>
        	              			<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">출고일<span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
		                          			<input type="number" id="deliveryDate" name="deliveryDate" class="form-control" min="0" required="required" value="$!{product.product.productDelivery.deliveryDate}">
		                          			<span class="message">
        	                  					출고 예상일  ex) 2일 이내 출고  -> 2 입력<br/>
            	              					당일 출고 일 경우  0 입력
                	        				</span>
    	            	        		</div>
        	            	  		</div>
        	              			<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">특이사항</label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
											<textarea id="message" name="uniqueness" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="10" data-parsley-maxlength="100" data-parsley-minlength-message="10 ~ 100 자만 입력가능합니다."
                            					data-parsley-validation-threshold="10">$!{product.product.productDelivery.uniqueness}</textarea>
    	                    			</div>
        	              			</div>
        	              			<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">판매자<span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
	                        				<select class="select2 form-control" name="seller" id="seller" required="required">
    	                    				#foreach( $info in $advertiser )
        	                					<option value="$info.userId">$info.name</option>
            	            				#end
                	        				</select>
    	            	        		</div>
        	            	  		</div>
        	              			<div class="ln_solid"></div>
                      				<div class="form-group">
                        				<div class="col-md-6 col-md-offset-3">
                        					<button type="button" class="btn btn-primary" onclick="javascript:history.back();">취소</button>
                        					#if($action == 'update')
                          						<button id="send" type="submit" class="btn btn-success">수정하기</button>
                          					#else
                          						<button id="send" type="submit" class="btn btn-success">등록하기</button>
                          					#end
                        				</div>
                      				</div>
                    			</form>
                  			</div>
                		</div>
              		</div>
            	</div>
        	</div>
        	<!-- /page content -->
		#parse ("/admin/layout/footer.vm")
	</div>
</div>

	#parse ("/admin/layout/common_js.vm")
	<!-- summernote -->
    <script src="/vendors/summernote/summernote.min.js"></script>
    <!-- include summernote-ko-KR -->
	<script src="/vendors/summernote/lang/summernote-ko-KR.js"></script>	
	
		<script>
	Dropzone.autoDiscover = false;
	 var _this;
	 var detail_this;
	 $(function() {
		 $('div#thumb-image').dropzone({
				url: "/admin/product/upload?thumb=1", // 드롭다운 시 업로드 되는 URL
			    maxFiles: 1,
			    maxFilesize: 10,
			    acceptedFiles: "image/*",
			    maxfilesexceeded: function(file) {
			    	console.log("maxfilesexceeded");
			        this.removeAllFiles();
			        this.addFile(file);
			    },
			    init: function() {
			    	this.on('success', function(file, json) {
			    		if(json.resultCode == 200) {
			    			// 성공
			    			$("#thumb_path").val(json.message);
			    		} else {
			    			//실패
			    			this.removeFile(file); 
			    		}
			    	});
			    	detail_this = this;
			    	this.on("error", function(file, message) { 
		                this.removeFile(file); 
		    		});
			    }
		
		});
		 
		  $('div#detail-image').dropzone({
			url: "/admin/product/upload?thumb=2", // 드롭다운 시 업로드 되는 URL
		    maxFiles: 1,
		    maxFilesize: 10,
		    acceptedFiles: "image/*",
		    maxfilesexceeded: function(file) {
		    	console.log("maxfilesexceeded");
		        this.removeAllFiles();
		        this.addFile(file);
		    },
		    init: function() {
		    	this.on('success', function(file, json) {
		    		if(json.resultCode == 200) {
		    			// 성공
		    			$("#detail_path").val(json.message);
		    		} else {
		    			//실패
		    			this.removeFile(file); 
		    		}
		    	});
		    	detail_this = this;
		    	this.on("error", function(file, message) { 
	                this.removeFile(file); 
	    		});
		    }
	
		});
	});
	    
	</script>
	<!-- Select2 -->
    <script>
      $(document).ready(function() {
		$("#price").change(function() {
			var salePrice = $("#salePrice").val();
			if(salePrice != '') {
				var sale = 100-(salePrice / $("#price").val() * 100);
				$("#sale").val(Math.round(sale));
			}
			console.log($("#price").val());	
		});
		
		$("#salePrice").change(function() {
			var price = $("#price").val();
			if(price != '') {
				var sale = 100-($("#salePrice").val() / price * 100);
				$("#sale").val(Math.round(sale));
				
			}
		});
		
        $(".select2").select2({});
        $(".select2_multiple").select2({
          placeholder: "카테고리를 선택하세요.",
          allowClear: true
        });
        
        var ctg = Array();
        #foreach($ctg in $!{product.category}) 
        	ctg.push($ctg.category.menuId);
        #end
        
        $("#category").val(ctg).trigger("change");
        #if($!{product.product.seller.email}) 
        	$("#seller").val("$!{product.product.seller.userId}").trigger("change");
        #end
        #if($!{product.product.brand.brandId}) 
			$("#brand").val("$!{product.product.brand.brandId}").trigger("change");
        #end
        
        #if($!{product.product.productDelivery.deliveryCompany.code})
        	$("#dcompany").val("$!{product.product.productDelivery.deliveryCompany.code}").trigger("change");
        #end
      });
    </script>
    <!-- /Select2 -->
    
    <!-- summernote -->
    <script>
      $(document).ready(function() {
  		$('#summernote').summernote({
  		    lang: 'ko-KR', // default: 'en-US'
		   	height : 350,
		   	toolbar: [
			   	       // [groupName, [list of button]]
			   	       	['style', ['style']],
			   	       	['media', ['picture', 'link', 'video']],
			   	    	['table', ['table', 'hr']],
				   	    ['style2', ['bold', 'italic', 'underline', 'clear']],
				   	    ['font', ['strikethrough', 'superscript', 'subscript']],
				   	    ['fontname', ['fontname']],
				   	    ['fontsize', ['fontsize']],
				   	    ['color', ['color']],
				   	    ['para', ['ul', 'ol', 'paragraph']],
				   	    ['height', ['height']],
				   	    ['misc', ['undo', 'redo', 'fullscreen', 'codeview', 'help']],
				   	    ['tag', ['addTag']]
			   	     ],
		   	callbacks: {
	  		    onImageUpload : function(files) {
	  		    	sendFile(files[0], $(this));
	  		    }
		   	}
  		  });

      });
      
      function sendFile(file, editor) {
    	    data = new FormData();
    	    data.append("uploadFile", file);
    	    $.ajax({
    	        data : data,
    	        type : "POST",
    	        url : "imageUpload",
    	        cache : false,
    	        contentType : false,
    	        processData : false,
    	        success : function(data) {
    	        	//alert(data);
    	        	editor.summernote('insertImage', data);
    	            //editor.insertImage(welEditable, data);
    	        }
    	    });
    	}

    </script>
    <!-- /summernote -->


	<!-- validator -->
	<script>
      // initialize the validator function
      validator.message.date = 'not a real date';

      // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
      $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        .on('keypress', 'input[required][pattern]', validator.keypress);

      $('.multi.required').on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
      });

      $('form').submit(function(e) {
        e.preventDefault();
        var submit = true;

        // evaluate the form using generic validaing
        if (!validator.checkAll($(this))) {
          submit = false;
        }
        
        if (submit) {
			insertData();
        }
        	
          //this.submit();

        return false;
      });
      
	function insertData() {

		var params = $("#productForm").serializeObject();
		
		/*
		var result = $('#image').cropper("getCroppedCanvas");
		
  		if(result.toDataURL) {
  			params.thumbUrl = result.toDataURL();
  		} else {
  			#if (!$!product.product.thumbUrl)
  				bootbox.alert("썸네일을 등록해 주세요.", function() {});
  			#end
  		}*/
  		
  		var markupStr = $('#summernote').summernote('code');
  		params.content = markupStr;
		$.ajax({
			type: 'POST',
		    url: "save",
		    contentType: 'application/json',
		    mimeType: 'application/json',
		    dataType: 'json', 
		    data: JSON.stringify(params),
	        success: function(result){
	        	if(result.resultCode == 200) {
	        		bootbox.alert("등록 되었습니다.", function() {
						history.back();
					});
    			} else {
    				bootbox.alert(result.message, function() {});
    			}
		     },
			 error: function(){
				bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
			 }
	  	});
    }
    </script>
    <!-- /validator -->
</body>
</html>