html{width:100%; height:100%;}
ul,li,input{margin:0; padding:0; border:0;}
body{margin:0px; padding:0px; width:100%; height:690px; color:#666; font-size:13px; font-family:Dotum; background:url('../img/bg_line.jpg') repeat-x scroll 0 0 transparent}
table,td{border-collapse:collapse; border-spacing:0; border-style:none; padding:0px;}
img{border:0px}

.btn_zoom {display:inline-block; _zoom:1; margin-left:584px;}

.wrap{position:relative; width:100%; height:690px;}
.logo{margin:0 auto; width:990px; height:48px; padding-top:8px;}
.body{position:relative; margin:0 auto;  width:990px; padding:9px 0; background:url('../img/bodybg.jpg') no-repeat scroll 0 0 transparent; display:block}
.copy{position:relative; margin:0 auto;  width:100%; left:0; bottom:0; padding-top:10px; height:35px; background-color:#fff; background:url('../img/bg_copy.gif') repeat-x;}
.copy p{text-align:center; margin:0;}
.copy p strong{color:#4ba0ed;}

.notice{font-weight:normal; color:#f60;}

.logo p{float:right; display:block; margin-top:5px; margin-right:5px;}

.login_page{padding-top:31px; padding-left:47px; margin-top:94px; margin-left:252px; position:relative; width:503px; height:331px; background:url('../img/loginbox.jpg') no-repeat scroll 0 0 transparent}
.login_page>img{margin-bottom:10px;}
.login>div{padding-top:16px; width:419px; height:157px; border-top:2px solid #e5e8f8; border-bottom:1px solid #e5e8f8;}
.login>div div{margin-left:157px;width:262px; height:60px;}
.login>div div img{float:right}
.login div input{padding-left:10px; width:143px; height:14px; padding:5px 5px; font-size:11px; color:#666; border:1px solid #bac1e9}
.login div p{font-size:11px;color:#f60;}
.login div table{margin-top:15px;}
.login div table img{margin-left:7px}
.login .fleft{float:left; margin-right:24px;}

.passchange_page{position:relative; padding-top:11px; padding-left:12px; margin-top:144px; margin-left:248px; width:503px; height:331px; background:url('../img/passchangebox.jpg') no-repeat scroll 0 0 transparent}
.passchange_page>img{margin-bottom:10px;}
.passchange{padding-left:30px; padding-top:32px;}
.passchange div{margin-top:8px; width:419px; border-top:1px dashed #e5e8f8; border-bottom:2px solid #e5e8f8;}
.passchange ul li{display:inline; padding-left:8px; background:url('../img/bul2.gif') no-repeat scroll 1px 5px transparent;}
.passchange div input{background-color:#fbfbfb; margin-right:6px; margin-bottom:5px; padding-left:10px; width:154px; height:23px; font-size:11px; color:#666; border:1px solid #bac1e9}
.passchange div ul{margin:0; padding:10px 0 5px;}
.passchange div ul li{display:inline-block; font-size:11px; background:url('../img/bul1.gif') no-repeat scroll 1px 11px transparent;}
.passchange div ul li strong{font-weight:normal; color:#f60;}
.passchange_page p{padding-left:173px; margin-top:8px;}
.passchange .fleft{float:left; margin-right:24px;}

.result_page{padding-top:11px; padding-left:15px; margin-top:9px; margin-left:12px; position:relative; width:966px; height:581px; background:url('../img/resultbox.jpg') no-repeat scroll 0 0 transparent}
.result_page>img{margin-bottom:10px;}
.result .gray_box{margin-bottom:30px; width:865px; height:49px; padding-left:21px; padding-top:10px; margin-top:15px; background:url('../img/gray_box.jpg') no-repeat scroll 0 0 transparent;}
.result .gray_box p{margin-top:3px; margin-bottom:3px;}
.result {padding-left:25px; padding-top:40px;}
.result_page > p{margin-top:288px; margin-left:366px;}
.result ul{list-style:none;}
.result ul li{margin-left:9px; margin-bottom:12px; padding-left:6px; font-size:14px; background:url('../img/bul1.gif') no-repeat scroll 1px 6px transparent;}

.grade {padding:19px 15px 0 0;}
.grade p {margin:0 0 3px 15px;}
.grade p strong u{color:#214686;}
.grade .gray_grade {position:relative; width:877px; padding:22px 30px; margin:15px 0 13px 10px; border:1px solid #eaeaea; background-color:#fbfbfb;}
.grade .gray_grade .lt {position:absolute; top:-1px; left:-1px;}
.grade .gray_grade .rt {position:absolute; top:-1px; right:-1px;}
.grade .gray_grade .lb {position:absolute; bottom:-1px; left:-1px;}
.grade .gray_grade .rb {position:absolute; bottom:-1px; right:-1px;}

.grade_page {position:relative; margin-left:12px; width:966px; border:1px solid #75a9d9; background-color:#FFF;}
.grade_page h1 {padding:0; margin:0; width:966px; height:36px; margin: -1px 0 0; background:url('../img/tit_grade.gif') no-repeat;}
.grade_page .grade_page_img{margin:10px 0 0 10px;}

.grade ol{line-height:22px; list-style:none; float:left; margin:0; padding:0; padding-left:10px; display:block;}
.grade ol:after {clear:both; content:""; display:block;}
.grade_page .grade_page_btn{margin-top:12px; padding-left:397px;}
.grade table {color:#000; border-top:1px solid #ddd; border-left:1px solid #ddd;}
.grade table th {height:21px; background-color:#fff6d8; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
.grade table .th {background-color:#fff6d8; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
.grade table td {height:21px; vertical-align:middle; text-align:center; background-color:#fff; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
.grade table td input {width:14px; margin:0 2px;}
.grade table td .txtbox {width:22px; border:1px solid #ccc;}
.grade .gray_grade table {width:285px; height:70px; float:right;}
.grade .gray_grade table td {width:47px;}
.grade ._table {display:block; width:935px; overflow:hidden; overflow-x:auto; margin-left:15px;}
.grade ._table table {display:block; float:left}

.check_page{padding-top:11px; padding-left:15px; margin-top:9px; margin-left:12px; position:relative; width:966px; height:581px; background:url('../img/checkbox.jpg') no-repeat scroll 0 0 transparent}
.check ul li{display:inline; padding-left:8px; background:url('../img/bul2.gif') no-repeat scroll 1px 5px transparent;}
.check_page>img{margin-bottom:10px;}
.check{padding-left:25px; padding-top:53px;}
.check div{margin-bottom:311px; width:865px; height:49px; padding-left:21px; padding-top:13px; margin-top:59px; background:url('../img/gray_box.jpg') no-repeat scroll 0 0 transparent;}
.check div p{margin-top:0px; padding-left:0px; font-weight:bold; line-height:18px}
.check div p strong{color:#f60;}
.check_page p{padding-left:431px;}
