<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<div class="modal fade" id="data_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">상단배너</h4>
			</div>	 
			<form id="item_form" class="form-horizontal">
				<input type="hidden" id="dId" name="dId"/>
				<input type="hidden" id="action" name="action" value="write"/>
				<input type="hidden" id="thumb_path" name="thumb_path" required="required"/>
				<div class="modal-body">
					<div class="box-body">
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12">타입 <span class="required">*</span></label>
							<div class="col-md-8 col-sm-8 col-xs-12">
        						<select class="select2 form-control" name="sbtype" id="sbtype" required="required" style="width:100%;">
        							<option value="0">출석체크</option>
        							<option value="1">브랜드</option>
        							<option value="2">상품</option>
        							<option value="3">기획전</option>
        							<option value="4">쿠폰</option>
        							<option value="5">공지</option>
        						</select>
         					</div>
       					</div>
						<div class="form-group" id="sel_p">
                			<label id="tText" class="control-label col-md-2 col-sm-2 col-xs-12">상품<span class="required">*</span></label>
                			<div class="col-md-8 col-sm-8 col-xs-12">
                				<select class="select2 form-control" id="prod" name="prod" style="width:100%;">
	                			</select>
 	                		</div>
	    	          	</div>
	    	          	<div class="form-group">
                   			<label class="control-label col-md-2 col-sm-2 col-xs-12">이미지</label>
                   			<div class="col-md-8 col-sm-8 col-xs-12">
                      			<div id="thumb-image" class="dropzone dz-message text-center">
								</div>
                    		</div>
   	              		</div>
					</div>
           			<!-- /.box-body -->
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" id="itemSubmit">저장</button>
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">취소</button>
           			</div>
          		</div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->