<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>발그레 | 관리자페이지</title>

	#parse ("/admin/layout/common_css.vm")
    <!-- Summernote -->
    <link href="/vendors/summernote/summernote.css" rel="stylesheet">
    
    <style type="text/css">
    	div.detail_note{
		    border-radius: 15px;
		    display: inline-block;
		    font-size: 15px;
		    margin: 15px 0;
		    padding: 3px 10px;
		   font-weight: bold;
		}
		
		.main_color{
		   color: #FFFFFF;
		   background: #6fc5db;
		   border: 0px;
		}
    </style>
  </head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			#parse ("/admin/layout/header.vm")
			<!-- page content -->
			<div class="right_col" role="main">
            	<div class="clearfix"></div>
            		<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
                			<div class="x_panel">
                  				<div class="x_title">
                    				<h2>브랜드 <small>등록</small></h2>
                    				<div class="clearfix"></div>
                  				</div>
                  			<div class="x_content">
                    			<form class="form-horizontal form-label-left" id="dForm">
                    				<input type="hidden" id="thumb_path" name="thumb_path" value="$!{brand.banner}" required="required"/>
                    				<input type="hidden" name="pid" value="$!{plan.pid}"/>
                    				<input type="hidden" name="action" value="$!{action}"/>
  	              					<div id="def_p" class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">브랜드 명 <span class="required">*</span></label>
                         				<div class="col-md-10 col-sm-10 col-xs-12">
			              					<input type="text" id="brandName" name="brandName" class="form-control" placeholder="브랜드 명을 입력하세요." required="required" value="$!{brand.brandName}">
			            				</div>
                      				</div>
                      				#if ($!brand.banner)
                      				<div class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">등록된 썸네일 <span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
        	              					<img src="$!{image_url}$!{brand.banner}" alt="Picture" width="300px">
            		    				</div>
            		  				</div>
                      				#end
                      				<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">썸네일이미지</label>
	                        			<div class="col-md-8 col-sm-8 col-xs-12">
		                          			<div id="thumb-image" class="dropzone dz-message text-center">
	    									</div>
	    	                    		</div>
	        	              		</div>
        	              			<div class="ln_solid"></div>
                      				<div class="form-group">
                        				<div class="col-md-6 col-md-offset-3">
                        					<button type="button" class="btn btn-primary" onclick="javascript:history.back();">취소</button>
                        					#if($action == 'update')
                          						<button id="send" type="submit" class="btn btn-success">수정하기</button>
                          					#else
                          						<button id="send" type="submit" class="btn btn-success">등록하기</button>
                          					#end
                        				</div>
                      				</div>
                    			</form>
                  			</div>
                		</div>
              		</div>
            	</div>
        	</div>
        	<!-- /page content -->
		#parse ("/admin/layout/footer.vm")
	</div>
</div>

	#parse ("/admin/layout/common_js.vm")
    <script>
	 Dropzone.autoDiscover = false;
      $(document).ready(function() {
    	//  $('#brandName').on('input', function() { 
    	//	    console.log($(this).val()); // get the current value of the input field.
    	//	});
    	$('div#thumb-image').dropzone({
				url: "upload", // 드롭다운 시 업로드 되는 URL
			    maxFiles: 1,
			    maxFilesize: 10,
			    acceptedFiles: "image/*",
			    maxfilesexceeded: function(file) {
			    	console.log("maxfilesexceeded");
			        this.removeAllFiles();
			        this.addFile(file);
			    },
			    init: function() {
			    	this.on('success', function(file, json) {
			    		if(json.resultCode == 200) {
			    			// 성공
			    			$("#thumb_path").val(json.message);
			    		} else {
			    			//실패
			    			this.removeFile(file); 
			    		}
			    	});
			    	detail_this = this;
			    	this.on("error", function(file, message) { 
		                this.removeFile(file); 
		    		});
			    }
		});
      });
    </script>
	<!-- validator -->
	<script>
      // initialize the validator function
      validator.message.date = 'not a real date';

      // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
      $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        .on('keypress', 'input[required][pattern]', validator.keypress);

      $('.multi.required').on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
      });

      $('form').submit(function(e) {
        e.preventDefault();
        var submit = true;

        // evaluate the form using generic validaing
        if (!validator.checkAll($(this))) {
          submit = false;
        }
        
        if (submit) {
			insertData();
        }
        	
          //this.submit();

        return false;
      });
      
	function insertData() {

		var params = $("#dForm").serializeObject();
		
		$.ajax({
			type: 'POST',
		    url: "save",
		    contentType: 'application/json',
		    mimeType: 'application/json',
		    dataType: 'json', 
		    data: JSON.stringify(params),
	        success: function(result){
	        	if(result.resultCode == 200) {
	        		bootbox.alert(result.message, function() {
						history.back();
					});
    			} else {
    				bootbox.alert(result.message, function() {});
    			}
		     },
			 error: function(){
				bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
			 }
	  	});
    }
    </script>
    <!-- /validator -->
</body>
</html>