@charset "utf-8";





/* --------------------------------------------------------------------------------
작성시기: 2013년 12월
작성자: (주)이파트
내용: KCYCLE경륜 기본스타일 설정
-------------------------------------------------------------------------------- */





/* --------------------------------------------------------------------------------
기본설정
-------------------------------------------------------------------------------- */

/*글자 (주지은)*/
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body, table, div, p {font-family:'Nanum Gothic'; line-height:20px; font-size:13px; margin:0; padding:0;}

/*끗*/

/*주지은 수정*/
#sub_title_Bar{height:39px;position:absolute;top:66px;width:100%;background-color:#35393E}
#sub_cont_bg{position:absolute;top:937px;height:684px;background-color:#F6F6F6;width:100%;}
#back_bg{width:100%;height:70px;position:absolute;top:66px;background-color:#d0e8bd;}

* { margin: 0; padding: 0; }

html, body  { margin: 0; padding: 0; color: #454545; font: 13px 'Nanum Gothic';line-height:20px !important;;}
a, a:link, a:visited  { color: #454545; text-decoration: none; cursor: pointer}
a:hover, a:active  { color: #454545; text-decoration: none; cursor: pointer}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {margin:0; padding:0; }
table { border-spacing: 0; border:0;  color: #454545;}
address,caption,cite,code,dfn,em,var { font-style:normal; font-weight:normal; }
ol,ul ,li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%;}
abbr,acronym { border:0; }
hr{clear:both;display:none;} /* 레이아웃 구분시만 사용 */
caption, .hidden {position:absolute; visibility:hidden;overflow:hidden;line-height: 0;width:0;height:0;margin:0;padding:0;font:0/0 Arial;}
img, fieldset{border:0 none;}
p img {vertical-align:middle;}
* html .png24 {tmp:expression(setPng24(this));} /*  png  */
/* pre 태그 줄바꿈*/
pre {word-wrap: break-word;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-break:break-all; font-family:"굴림"}



/* 인풋 스타일 */
textarea {font: 12px/140% "돋움",Dotum; color:#454545; }
input {font: 12px "돋움",Dotum; color:#454545; padding:2px;}
input.radio { vertical-align: middle; margin-bottom: 3px; width:19px; height:15px;}
input.text {border:1px solid #cdcdcd; margin-left:10px; height:20px;}
input.text2 {border:1px solid #cdcdcd;height:20px;}
input.ch {height:15px; vertical-align: middle;}
select {font: 12px/140% tahoma; color:#7b7b7b; border:1px #dcdcdc solid;}


/*폰트사이즈*/
.fts18{font-size:18px !important}
.fts16{font-size:16px !important}
.fts13{font-size:13px !important}

/* 자주 쓰이는 스타일 */
.bgnone {background-image:none !important;margin-bottom:0px !important;}

.br0 {border-right:0 !important;}
.bl0 {border-left:0 !important;}

.txtC {text-align:center !important;}
.txtR {text-align:right !important;}
.txtL {text-align:left !important;}

.fl {float:left !important;}
.fl2 {float:left !important;}
.fr {
	float:right;
	/* width:70%; */
	}
.fr2 {
	float:right;
	width:10%;
}
.fr3 {
	float:right;
}
.c_both{clear:both}
.font10{color:#bebebe; font-size:10px;}
.f_clear {overflow:hidden;}
.weight_bold{font-weight:bold;}

/* 마진 */
.mt5 {margin-top:5px !important;} 
.mt10 {margin-top:10px !important;} 
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;} 
.mt30 {margin-top:30px !important;} 
.mt40 {margin-top:40px !important;}
.mt35 {margin-top:35px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt55 {margin-top:55px !important;}
.mt60 {margin-top:60px !important;}
.mt220 {margin-top:100px !important;}
.mt230 {margin-top:120px !important;}
.mt240 {margin-top:120px !important;}
.mt250 {margin-top:130px !important;}
.mt260 {margin-top:100px !important;}
.mt270 {margin-top:80px !important;}


.mb5 {margin-bottom:5px !important;} 
.mb10 {
	margin-bottom:10px !important;
	} 
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;} 
.mb30 {}} 
.mb40 { !important;}
.mb35 {margin-bottom:35px !important;}
.mb50 {margin-bottom:50px !important;}
.mb45 {margin-bottom:45px !important;}
.mb55 {margin-bottom:55px !important;}
.mb60 {margin-bottom:60px !important;}


.ml5 {margin-left:5px !important;} 
.ml10 {margin-left:10px !important;} 
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;} 
.ml30 {margin-left:30px !important;} .ml40 {margin-left:40px !important;}
.ml35 {margin-left:35px !important;}
.ml50 {margin-left:50px !important;}
.ml45 {margin-left:45px !important;}
.ml50 {margin-left:50px !important;}
.ml55 {margin-left:55px !important;}

.mr5 {margin-right:5px !important;} 
.mr10 {margin-right:10px !important;} 
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;} 
.mr30 {margin-right:30px !important;} .mr40 {margin-right:40px !important;}
.mr35 {margin-right:35px !important;}
.mr50 {margin-right:50px !important;}

.ml0 {margin-left:0 !important;} .ml5 {margin-left:5px !important;} .ml10 {margin-left:10px !important;} .ml15 {margin-left:15px !important;} .ml20 {margin-left:20px !important;} .ml25 {margin-left:25px !important;} .ml30 {margin-left:30px !important;} .ml40 {margin-left:40px !important;}
.mr0 {margin-right:0 !important;} .mr10 {margin-right:10px !important;} .mr20 {margin-right:20px !important;}
.mt-15 {margin-top:-15px !important;} .mt5 {margin-top:5px !important;}
/*.mb0 {margin-bottom:0 !important;} .mb5 {margin-bottom:5px !important;} .mb10{margin-bottom:10px !important;} .mb15{margin-bottom:15px !important;} .mb20{margin-bottom:20px !important;}  .mb30{margin-bottom:30px !important;} .mb35{margin-bottom:35px !important;} .mb45{margin-bottom:45px !important;} .mb50{margin-bottom:50px !important;} .mb60{margin-bottom:60px !important;}
.mlr0 {margin-left:0 !important; margin-right:0 !important;}
.m0 {margin:0 !important;}

/* 패딩 */
.p0 {padding:0 !important;}
.pl0 {padding-left:0 !important;}
.plr0 {padding-left:0 !important; padding-right:0 !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt20 {padding-top:20px !important;}
.pt100 {padding-top:100px !important;}
.pl25 {padding-left:25px !important;}
.pr10 {padding-right:10px !important;}


/* 패딩 */
.pt5 {padding-top:5px !important;} 
.pt10 {padding-top:10px !important;} 
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;} 
.pt30 {padding-top:30px !important;} 
.pt40 {padding-top:40px !important;}
.pt35 {padding-top:35px !important;}

.pb5 {padding-bottom:5px !important;} 
.pb10 {padding-bottom:10px !important;} 
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;} 
.pb30 {padding-bottom:30px !important;} 
.pb40 {padding-bottom:40px !important;}
.pb35 {padding-bottom:35px !important;}
.pb50 {padding-bottom:50px !important;}

.pl5 {padding-left:5px !important;} 
.pl10 {padding-left:10px !important;} 
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;} 
.pl30 {padding-left:30px !important;} 
.pl40 {padding-left:40px !important;}
.pl35 {padding-left:35px !important;}
.pl50 {padding-left:50px !important;}
.pl55 {padding-left:55px !important;}
.pl60 {padding-left:60px !important;}

.pr5 {padding-right:5px !important;} 
.pr10 {padding-right:10px !important;} 
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;} 
.pr30 {padding-right:30px !important;} 
.pr40 {padding-right:40px !important;}
.pr35 {padding-right:35px !important;}
.pr50 {padding-right:50px !important;}


/* 폰트컬러 */
.fcOrange {color:#ac2525 !important;}
.fcBlue {color:#5995bf !important;}
.fcBlue2 {color:#0000e5 !important;}
.fcRed {color:#ff0000 !important;}
.fcBrown {color:#e94f3f !important;}

.fcPointColor {color:#ac2525 !important;}

#blanket {
     background-color:#000;
     -ms-filter: alpha(opacity=50);
     filter: alpha(opacity=50);
	 opacity:0.5;
     position:absolute;
     z-index: 9001;
     top:0px;
     left:0px;
     width:100%;
  }



.red_btn{background:#f45b08; color:#ffffff !important; padding:5px 10px; border-radius:4px;}
.dark_btn{background:#57616b; color:#ffffff !important; padding:5px 10px; border-radius:4px;}

/* --------------------------------------------------------------------------------
레이아웃 설정
-------------------------------------------------------------------------------- */
#wrap {
	position:relative; margin:0 auto; *zoom:1;
	
}
#wrap:after {content:""; clear:both; display:block;}

/* header */
header{background-color:#ffffff}
#header {width:1024px;height:66px; background-color:#ffffff;margin:0 auto}
#header .header_wrap {width:1024px; margin: 0 auto}
#header .logo_css {float:left; width:auto;z-index:100;position:relative; padding-top:10px;}
#header .logo_css a{position:absolute;}
.logo_css{margin-top:9px;}
#header .top_menu {height:45px; width:1024px;margin:0 auto;position:relative;}
#header .top_menu .top_member_menu {position:absolute;right:0;top:-2px; background-size:100%;width:auto;height:27px;padding-right:5px;}
#header .top_menu .top_member_menu a{display:block;float:left;line-height:27px; height:26px;padding-left:5px;color:#666;font-size:11px;}
#header .top_menu .top_member_menu a:first-child{border-left:none;}
#header .top_menu .top_member_menu .add_class01>span{display:inline-block;vertical-align:middle;}
#header .top_menu .top_member_menu img {vertical-align:middle; padding-left:3px} 

#header .loginInfo {
	font-size: 11px; height: 22px; float: right; margin-top: 2px;
	margin-top:5px; color:#454545;
}
#header .loginInfo a:link {color:#454545;}
#header .loginInfo a:hover {color:#454545;}
#header .loginInfo a:active {color:#454545;}
#header .loginInfo a:visited {color:#454545;}
#header .loginInfo p {float: left; display: inline; margin-left: 5px; color:#454545; margin-top:-4px;}
#header .loginInfo .paper, #header .loginInfo .active{margin-top:-1px; margin-left:0;}
#header .loginInfo .paper_t, #header .loginInfo .active_t{margin-top:0px;}
#header .loginInfo .logout{margin-top:-2px; background:url('../images/common/logout_back.gif') no-repeat 0px 5px; width:52px;}

#header .loginInfo a {font-size:11px;}
#header .loginInfo .infobg {
	vertical-align: middle;
	padding-left: 3px; margin: -2px 0 0 2px ; display: inline-block
}
#header .loginInfo .infobg span {
	height: 9px; 
	padding-bottom: 2px; padding-left: 0px; 
	display: inline-block; padding-right: 4px; color:#f45b08; font-weight:bold; margin-top:-2px; margin-left:-5px;
}
#header .loginInfo .name {font-size: 12px; color: #666; margin-top:-1px}
#header .loginInfo .name img {vertical-align: middle; margin:-2px 3px 0 0}
#header .loginInfo .active a {font-size:11px;}
#header .loginInfo .logout {margin-top:-5px; padding-top:1px;}
#header .loginInfo .logout img {vertical-align: middle;}
#header .loginInfo .remote_control {margin-top:-5px}

#header #gnb {height:45px; z-index:100;margin-left:160px}
#header #gnb #gnbLink {float:right; margin-top:18px;}
#header #gnb #gnbLink:after {content:""; clear:both; display:block;}
#header #gnb #gnbLink li {
	position:relative; float:left; display:inline; z-index:200;width:115px;
	text-align:center;
}


#header #gnb #gnbLink>li{margin-top:13px;height:35px;}
#header #gnb #gnbLink>li.current{background:url("/images/main/gnb_Bg.gif")no-repeat 0px 27px}
#header #gnb #gnbLink>li.current>a{font-weight:bold;color:#688c07}
#header #gnb #gnbLink>li.current ul{background-color:#eff4e1}
#header #gnb #gnbLink .top_menu_line {text-align:center;padding-top:5px; width:40px}
#header #gnb #gnbLink > li > a{font-size:16px;color:#000000; font-weight:bold !important;}
/*#header #gnb #gnbLink > li > a img{padding-bottom:7px}*/
#header #gnb #gnbLink li ul {
	position:absolute; display:none; left:px; z-index:100;
	width:115px;top:32px;height:294px;
}
#header #gnb #gnbLink .gnb_dropmenu06{background:#ffffff;}
#header #gnb #gnbLink li ul {
	background:#ffffff; border-top:2px #99cc0e solid; ; width:115px;height:282px;padding-top:10px;border-bottom:1px #a3b396 solid;
}
#header #gnb #gnbLink li.current ul {display:block;}
#header #gnb #gnbLink li ul li {
	position:relative; float:none; display:block; width:115px; padding:0 0 0 0; text-align:left;
}
#header #gnb #gnbLink li ul li a {
	position:relative; display:inline-block; width:115px; height:20px; line-height:20px; text-align:center;color:#414142;font-size:13px
}
#header #gnb #gnbLink li ul li a:hover {
	position:relative; color:#688c07; z-index:300; 
}

#header .menu_Bg{position:absolute;width:100%;left:0px;background-color:#ffffff;z-index:50;height:292px;top:63px;border-top:2px #99CC0E solid;display:none;border-bottom:1px #a3b396 solid; background:#ffffff;}
#header .menu_Bg .Bg_width{width:1024px; height:290px; margin:0 auto; background:url("/images/main/menu_ca.gif") no-repeat;}
#header .menu_Bg.current{display:block}
#header #gnb .menuAll {position:absolute;top:0;right:0;display:inline;}
#header #gnb .menuAllList {position:absolute; z-index:200; top:39px; left:0; display:none; width:958px; border:1px solid #858585; border-top:1px solid #85520c; background:#fff;background:#fff;} 
#header #gnb .EventTop {position:absolute;top:0;left:736px;display:inline;}
#header #gnb #gnbLink li.current iframe.ie6_select {display:block;}
iframe.ie6_select {
	position:absolute; top:0px left:0px; 
	z-index:-99; display:none; width:141px; left:-31px; height:300px; margin-left:3px; 
	border:0; filter: alpha(opacity=0); /* IE에서 테두리없앰 */ }
iframe.ie6_select.m1 {height:139px;}
iframe.ie6_select.m2 {height:307px;}
iframe.ie6_select.m3 {height:119px;}
iframe.ie6_select.m4 {height:223px;}
iframe.ie6_select.m5 {height:201px;}
iframe.ie6_select.m6 {height:286px;}

/* IE7 header영역 오류 해결 */
*:first-child+html #header .top_menu {margin-top:-55px}
*:first-child+html #header .loginInfo {margin-bottom:-60px}
*:first-child+html #header #gnb #gnbLink {width:750px}
*:first-child+html #header #gnb #gnbLink ul {margin-top:-6px}
*:first-child+html #header #gnb #gnbLink ul img {margin:2px 0 -2px 0}
*:first-child+html #header #gnb #gnbLink ul li {margin-left:-16px}
*:first-child+html #header #gnb .menu_all {
	position:absolute; display:inline-block; margin-left: 949px
}

/*header 반응형*/
#skip {position:absolute;top:0;left:-1000em;visibility:hidden;overflow:hidden;width:0;height:0;line-height:0;font-size:0;}
.sub_content {padding:10px;}
#section_mid h2.kcycle_text2{height:34px;line-height:34px;background-color:#eb4d42;color:#ffffff;text-align: center;}
.bt_top_list{font-size:14px}
#section_top {height:60px;}
#section_top .home_btn{display:block;position:absolute;width:46px;height:38px;top:10px;left:12px;}
#section_top .m_logo {text-align:center;padding-top:11px}
#section_top_left {float:left;}
#section_top_right {height:60px}
#section_top .btn_all_menu {position:absolute;top:10px;right:10px;}
#section_top2 {height:36px;text-align:center;}

.menu_layer {display:none;position:absolute;top:5px;z-index:9999;width:100%;}
.all_menu_wrap {background-color:#f7f5f5}
.all_menu_wrap .btn {position:absolute;top:5px;right:10px;}
.all_menu_list {margin:55px 0;width:100%;overflow:hidden;padding-top:16px;border-bottom:2px #eb4d42 solid}
.all_menu_list li {position:relative;float:left;width:25%;height:95px;text-align:center;letter-spacing:-2px;margin-bottom:10px}
.all_menu_list li a {display:block;width:100%;height:62px;text-align:center;font-size:13px;color:#34495e;border-left:1px #DCDCDC solid;}
.all_menu_list li .menu_text{padding-top:15px}
.all_menu_list li .menu_img{display:block;margin:0 auto 10px;float:left;width:63px;height:63px;margin-left:8%}
.all_menu_list li span.menu01 {background:url('/images/main/all_menu_01.png') no-repeat;}
.all_menu_list li span.menu02 {background:url('/images/main/all_menu_02.png') no-repeat;}
.all_menu_list li span.menu03 {background:url('/images/main/all_menu_03.png') no-repeat;}
.all_menu_list li span.menu04 {background:url('/images/main/all_menu_04.png') no-repeat;}
.all_menu_list li span.menu05 {background:url('/images/main/all_menu_05.png') no-repeat;}
.all_menu_list li span.menu06 {background:url('/images/main/all_menu_06.png') no-repeat;}
.all_menu_list li span.menu07 {background:url('/images/main/all_menu_07.png') no-repeat;}
.all_menu_list li span.menu08 {background:url('/images/main/all_menu_08.png') no-repeat;}
.all_menu_list li span.menu09 {background:url('/images/main/all_menu_09.png') no-repeat;}
.all_menu_list li span.menu10 {background:url('/images/main/all_menu_10.png') no-repeat;}
.all_menu_list li span.menu11 {background:url('/images/main/all_menu_11.png') no-repeat;}
.all_menu_list li span.menu12 {background:url('/images/main/all_menu_12.png') no-repeat;}
.all_menu_list li span.menu13 {background:url('/images/main/all_menu_13.png') no-repeat;}
.all_menu_list li span.menu14 {background:url('/images/main/all_menu_14.png') no-repeat;}
.all_menu_list li span.menu15 {background:url('/images/main/all_menu_15.png') no-repeat;}
.all_menu_list li span.menu16 {background:url('/images/main/all_menu_16.png') no-repeat;}
.all_menu_list li span.menu17 {background:url('/images/main/all_menu_17.png') no-repeat;}
.all_menu_list li span.menu18 {background:url('/images/main/all_menu_18.png') no-repeat;}
.all_menu_list li span.menu_text{display:block;width:100%;height: 20px;font-size:18px}




/*위로가기버튼*/
.moveTop{position:absolute;left:1029px;margin-top:150px;text-indent:-9999px;width:29px;height:29px;background:url(../images/btn/move_Top_Btn.gif)no-repeat}





/* 사이트맵 */
#header #gnb .menu_all {
	text-align:right; width:51px; float:right;
	margin-top:-32px	
}

.siteMapBlcok .box {position:relative; width:960px; margin:0 auto; z-index:9999; *zoom:1;}
.siteMapBlcok .box:after {content:""; clear:both; display:block;}
.menuAllList {
	position:absolute; z-index:9999; top:39px; left:0; display:none; 
	width:958px; border:1px solid #858585; border-top:1px solid #85520c; background:#fff;
	background:#fff
}

.menuAllList .allmenuTit {background:url('/images/common/bg_all_menu.gif') no-repeat 0 0; *zoom:1;}
.menuAllList .allmenuTit:after {content:""; clear:both; display:block;}
.menuAllList .allmenuTit .except {float:right; display:inline; margin-right:80px; }
.menuAllList .allmenuTit .except li {float:left; display:inline;}
.menuAllList .allmenuTit .except li a {position:relative; display:inline-block; }
.menuAllList .allmenuTit .except li a img {vertical-align:middle;}

.tb_siteMap {width:100%; }
.tb_siteMap th {height:29px; border-right:1px solid #ffffff;}
.tb_siteMap .last {border-right:0;}
.tb_siteMap td {padding-bottom:10px; border-right:1px solid #e2dfdb; vertical-align:top;}
.tb_siteMap td ul li {margin-top:5px;}
.tb_siteMap td ul li ul {margin:0 0 10px 10px;}
.tb_siteMap td ul li ul li {margin-top:0;}
.tb_siteMap td ul li ul li img {vertical-align:middle;}

.menuAllList .closeBtn {position:absolute; top:11px; right:13px;}

/* container */
#container {
	width:1024px; margin: 0 auto; position:relative;
	z-index:1; _z-index:-1; clear:both; *zoom:1;
}
#container:after {content:""; clear:both; display:block;}

/* 사이드바 */
#lnb {
	float:left; display:inline; width:152px;height:600px;
}
#lnb img {vertical-align:middle;}
#lnb>div{height:82px;background:url('../images/common/left_box_bg.gif') no-repeat;}
#lnb>div h2{font-size:22px;color:#ffffff;padding-top:28px;text-align: center;}
#lnb ul {width:150px;background-color:#eaf1e4}
#lnb>ul>li{position:relative;}
#lnb>ul>li>a{display:block;width:135px;height:23px;background-color:#eaf1e4;font-size:13px;color:#333333;padding-left:15px;padding-top:6px;}
#lnb>ul>li.on>a{background-color:#34495e;color:#ffffff;font-weight:bold;}
#lnb>ul>li>span{display:block; width:8px;height:8px;background:url('../images/common/sub_lnb_off.gif');position:absolute;top:10px;right:12px}
#lnb>ul>li.on>span{display:block; width:8px;height:8px;background:url('../images/common/sub_lnb_on.gif');position:absolute;top:10px;right:12px}
#lnb>ul>li>ul{background-color:#ffffff;padding-top:5px;padding-bottom:5px}
#lnb>ul>li>ul>li{padding-left:15px;height:22px;position:relative;border-top:1px #dcdcdc dotted; border-bottom:1px #dcdcdc dotted;line-height:22px; }
#lnb>ul>li>ul>li:first-child{border-top:none;}
#lnb>ul>li>ul>li.on a {color:#000000;font-weight:bold;margin-right:10px;}
#lnb>ul>li>ul>li span{width:3px;height:5px;display:block;background:url('../images/common/off_men.gif') no-repeat;padding-right:4px;position:absolute;top:9px}
#lnb>ul>li>ul>li.on span{width:3px;height:5px;display:block;background:url('../images/common/on_men.gif') no-repeat;position:absolute;top:9px}
#lnb>ul>li>ul>li>a{color:#666666;font-size:13px;padding-left:15px}
#lnb .lnb_banner a{height:96px;width:152px; padding:0;margin-top:5px}





/* 콘텐츠 영역 */
#content {
	position:relative; float:left; display:inline;
	min-height:800px; _height:850px; width:855px;margin-left:17px;
	/* overflow:hidden; */margin-bottom:60px
}
.contTop {color:; *zoom:1;height:39px;background-color:#35393e}
.contTop:after {content:""; clear:both; display:block;}
.contTop a, .contTop a:link, .contTop a:visited {color:#ffffff   !important;}
.contTop a:hover {color:#ff6613 !important;}
/*.contTop .pageLocation {color:#ffffff; width:270px; border-bottom:5px solid #b1dd26;padding-top:9px;padding-bottom:9px ;font-size:14px; }*/
.contTop .pageLocation span { margin-left:7px}
.contTop .pageLocation span:first-child{margin-left:4px}
.contTop h3 {float:left}

/* 퀵메뉴 */
#quickMenu {float:right; display:inline; margin:56px 10px 0 10px; z-index:100; position:relative}
#quickMenu img {vertical-align:middle;}
#quickMenu ul {padding:28px 0 5px 0; background:url('../images/common/quick_menu.png') no-repeat right 0;}
#quickMenu ul li a {position:relative; display:block; width:49px; height:50px; vertical-align:middle; font:0/0 Arial; text-indent:-2000px; background:url('../images/common/quick_menu.png') no-repeat right 0;}
#quickMenu ul li.m1 a {background-position:right -28px;}
#quickMenu ul li.m2 a {background-position:right -77px;}
#quickMenu ul li.m3 a {background-position:right -127px;}
#quickMenu ul li.m4 a {background-position:right -177px;}
#quickMenu ul li.m5 a {background-position:right -227px;}
#quickMenu ul li.m6 a {background-position:right -277px;}
#quickMenu ul li.m7 a {background-position:right -327px;}
#quickMenu ul li.m8 a {height:19px; background-position:right -377px;}

#quickMenu ul li.m1 a:hover {background-position:left -28px;}
#quickMenu ul li.m2 a:hover {background-position:left -77px;}
#quickMenu ul li.m3 a:hover {background-position:left -127px;}
#quickMenu ul li.m4 a:hover {background-position:left -177px;}
#quickMenu ul li.m5 a:hover {background-position:left -227px;}
#quickMenu ul li.m6 a:hover {background-position:left -277px;}
#quickMenu ul li.m7 a:hover {background-position:left -327px;}
#quickMenu ul li.m8 a:hover {background-position:left -377px;}

/* IE7 quickMenu 오류 해결 */
*:first-child+html #quickMenu {position:absolute; right:10px; top: 190px}





/* footer */
#footerWrap {position:relative; z-index:3}
#footerWrap .footTop_Wrap{background:#ecebeb; height:36px; border-top:1px solid #b5b5b5; border-bottom:1px solid #b5b5b5;}
#footerWrap .footTop {width:1024px; height:36px; margin:0 auto; overflow:hidden;}
#footerWrap .footTop > div { #4a4c4f solid; float:left;height:36px;}
#footerWrap .footTop .info {}
#footerWrap .footTop .info li{background:url('../images/common/footer_list_cir.gif') no-repeat 0px 10px; padding-left:10px; margin-left:15px;}
#footerWrap .footTop .info > ul{;display:block; margin-top:10px}
#footerWrap .footTop .info > ul > li {float:left;}
#footerWrap .footTop .info > ul > li:first-child{padding-left:8px; margin-left:0;} 
#footerWrap .footTop .bt_link {clear:both;}
#footerWrap .footTop .bt_link a{float:left;margin-left:5px;margin-top:10px;}
#footerWrap .footTop .kcycleMobile {
	float:right; width:95px; text-align:center;
	border-right:1px #4a4c4f solid; border-left: none
}
#footerWrap .footTop .add_class01{margin-left:3px}
#footerWrap .footTop .add_class02{margin-left:10px}

#footerWrap .footer_info{clear:both; width:650px;color:#333333;margin-bottom:40px}
#footerWrap .footer_info li.nfree{margin-right:50px}
#footerWrap .footer_info li{float:left; position:relative; height:20px}
#footerWrap .footBottom .footer_info ul li span{padding-right:20px}
#footerWrap .footer_info li .dot{position:absolute;top:18px;left:0}
#footerWrap .footer_info li.ars .line{position:absolute; top:13px;left:70px}
#footerWrap .footer_info li.free .line{position:absolute;top:13px;left:44px}
#footerWrap .footer_info li.nfree .line{position:absolute;top:13px;left:44px}
#footerWrap .bottom_Site{float:left; position:absolute; top:16px; right:250px;}
#footerWrap .bottom_Site li{/* padding-left:20px; */line-height:40px;}
#footerWrap .bottom_Site li:first-child{padding-left:0;}
#footerWrap .footBottom_Wrap{height:171px; background:#f9f9f9; clear:both}
#footerWrap .footBottom { width:1024px; height:171px; line-height:40px; margin:0 auto;position:relative;}
#footerWrap .footBottom .bottomLink {padding:15px 0 15px 0;}
#footerWrap .footBottom .bottomLink li{float:left; padding-left:10px; padding-right:10px; font-weight:bold; background:url('../images/common/line_left.gif') no-repeat 0 5px;}
#footerWrap .footBottom .bottomLink li:first-child{padding-left:0px; background:none;}
#footerWrap .footBottom .bottomLink img {vertical-align:middle}
#footerWrap .footBottom .kcycleMobile img{border:1px #c3c3c3 solid; position:absolute;right:0;top:65px;}
#footerWrap .footBottom .familySiteBox {position:absolute; top:-57px; right:0; display:inline; border:1px #c9c9c9 solid;width:153px;height:25px;margin-top:25px;background-color:#ffffff}
#footerWrap .footBottom .familySiteBox h2{width:153px;height:25px;line-height:25px;margin-left:15px;}
#footerWrap .footBottom .familySiteBox img{margin-left:40px}
#footerWrap .footBottom .familySiteBox .displayList {position:absolute; z-index:100; top:-40px;padding-left:20px; display:none; width:112px; height:140px;}
#footerWrap .footBottom .familySiteBox .displayList ul {border:1px #C9C9C9 solid; width:153px;height:170px; padding-top:7px;;border-bottom:0;;position:absolute;left:-1px;background-color:#ffffff;top:-135px}
#footerWrap .footBottom .familySiteBox .displayList li {margin-bottom:3px; *margin-bottom:0;height:20px;text-align:center;line-height:20px}
#footerWrap .footBottom .familySiteBox .displayList li:hover a{color:#ffffff;background-color:#3C5B9B}
#footerWrap .footBottom .familySiteBox .displayList li a {position:relative; overflow:hidden; display:block; width:100%; height:20px; }
#footerWrap .footBottom .familySiteBox .family_close{width:153px;height:25px;line-height:25px;margin-left:15px;text-indent:-9999px;font-size:0}
#footerWrap .footBottom .fsOpen .displayList {display:block}
#footerWrap .footBottom .bottomText {float:right; padding-top: 16px}
.footer_mark{position:absolute; top:38px; right:100px;}
.kcycleMobile{position:absolute; top:-30px; right:0;}


/* IE7 footer영역 오류 해결 */
*:first-child+html #footerWrap .footBottom .familySiteBox {position:absolute;}
*:first-child+html #footerWrap .footBottom .familySiteBox .displayList {position:absolute;top:-40px}
*:first-child+html #footerWrap .footBottom .familySiteBox .displayList ul {margin-bottom:-5px}
*:first-child+html #footerWrap .footBottom .familySiteBox .displayList li {line-height:16px}
*:first-child+html #footerWrap .footBottom .bottomText{margin-top:-16px}




/* 2014-12-04 웹접근성 수정 */
a.accessibility01{position:absolute; display:block; width:100%; left:0; text-align:center; top:-10000px; z-index:500; font-size:1.3em}
a.accessibility01:hover, a.accessibility01:focus, a.accessibility01:active{position: absolute; top: 0; padding: 8px 0; font-weight:bold; color:#ffffcc; background:url('../images/common/bg_skip_back.jpg') no-repeat center 0; z-index:500;font-size:12px;}
.personalInfoSafe .safeTb tbody th.cell {padding:6px 0; border-top:0 !important; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5;text-align:center; line-height:140%;font-weight:normal; color:#666666; background:none;}





/*header 반응형*/
#skip {position:absolute;top:0;left:-1000em;visibility:hidden;overflow:hidden;width:0;height:0;line-height:0;font-size:0;}
.sub_content {padding:10px;}
#section_mid h2.kcycle_text2{height:34px;line-height:34px;background-color:#eb4d42;color:#ffffff;text-align: center;}
.bt_top_list{font-size:14px}
#section_top {height:60px;}
#section_top .home_btn{display:block;position:absolute;width:46px;height:38px;top:10px;left:12px;}
#section_top .m_logo {text-align:center;padding-top:11px}
#section_top_left {float:left;}
#section_top_right {height:60px}
#section_top .btn_all_menu {position:absolute;top:10px;right:10px;}
#section_top2 {height:36px;text-align:center;}

.menu_layer {display:none;position:absolute;top:5px;z-index:9999;width:100%;}
.all_menu_wrap {background-color:#f7f5f5}
.all_menu_wrap .btn {position:absolute;top:5px;right:10px;}
.all_menu_list {margin:55px 0;width:100%;overflow:hidden;padding-top:16px;border-bottom:2px #eb4d42 solid}
.all_menu_list li {position:relative;float:left;width:25%;height:95px;text-align:center;letter-spacing:-2px;margin-bottom:10px}
.all_menu_list li a {display:block;width:100%;height:62px;text-align:center;font-size:13px;color:#34495e;border-left:1px #DCDCDC solid;}
.all_menu_list li .menu_text{padding-top:15px}
.all_menu_list li .menu_img{display:block;margin:0 auto 10px;float:left;width:63px;height:63px;margin-left:8%}
.all_menu_list li span.menu01 {background:url('/images/main/all_menu_01.png') no-repeat;}
.all_menu_list li span.menu02 {background:url('/images/main/all_menu_02.png') no-repeat;}
.all_menu_list li span.menu03 {background:url('/images/main/all_menu_03.png') no-repeat;}
.all_menu_list li span.menu04 {background:url('/images/main/all_menu_04.png') no-repeat;}
.all_menu_list li span.menu05 {background:url('/images/main/all_menu_05.png') no-repeat;}
.all_menu_list li span.menu06 {background:url('/images/main/all_menu_06.png') no-repeat;}
.all_menu_list li span.menu07 {background:url('/images/main/all_menu_07.png') no-repeat;}
.all_menu_list li span.menu08 {background:url('/images/main/all_menu_08.png') no-repeat;}
.all_menu_list li span.menu09 {background:url('/images/main/all_menu_09.png') no-repeat;}
.all_menu_list li span.menu10 {background:url('/images/main/all_menu_10.png') no-repeat;}
.all_menu_list li span.menu11 {background:url('/images/main/all_menu_11.png') no-repeat;}
.all_menu_list li span.menu12 {background:url('/images/main/all_menu_12.png') no-repeat;}
.all_menu_list li span.menu13 {background:url('/images/main/all_menu_13.png') no-repeat;}
.all_menu_list li span.menu14 {background:url('/images/main/all_menu_14.png') no-repeat;}
.all_menu_list li span.menu15 {background:url('/images/main/all_menu_15.png') no-repeat;}
.all_menu_list li span.menu16 {background:url('/images/main/all_menu_16.png') no-repeat;}
.all_menu_list li span.menu17 {background:url('/images/main/all_menu_17.png') no-repeat;}
.all_menu_list li span.menu18 {background:url('/images/main/all_menu_18.png') no-repeat;}
.all_menu_list li span.menu_text{display:block;width:100%;height: 20px;font-size:18px}






/*17inch모니터*/
@media screen and (max-width:1024px){

#header, #header .header_wrap, #footerWrap, #footerWrap .footTop_Wrap, #footerWrap .footBottom_Wrap{width:100%; margin:0 auto;}
#footerWrap .footBottom{width:100%;}
#header .top_menu{width:99%;}	
#wrap{overflow:hidden; width:100%;}
#lnb ul{width:150px;}	
#lnb>div{width:150px;}
#lnb>ul>li>a{width:135px; font-size:12px;}
#content{width:76%;}



body, table, div, p {font-family:'Nanum Gothic'; line-height:20px; font-size:12px;}
#header .menu_Bg .Bg_width{background-size:25%;}
.date_search_box{background-size:100%;}
.generalConfirm{padding-bottom:5px;}
	



}


@media screen and (max-width:875px){
	#header #gnb{margin-left:0;}
	

}

@media screen and (max-width:930px){ /*768이였음*/
	.mt220{margin-top:50px !important;}
	.mt240{margin-top:50px !important;}
	.mt230{margin-top:50px !important;}
	.mt250{margin-top:50px !important;}
	.music_banner{width:67%;}
	#header, #header .header_wrap, #footerWrap, #footerWrap .footTop_Wrap, #footerWrap .footBottom_Wrap{width:1024px; margin:0 auto;}
	#footerWrap .footBottom{width:1024px;}
	#header .top_menu{width:1024px;}	
	#wrap{overflow:hidden; width:1024px;}
	
	
}

	






