/*form*/
textarea	{ border:1px solid #989cad; color:#959595; vertical-align:top;}
img {border:0;}
textfiled	{ border:1px solid #989cad; height:20px;}
/*
select	{ behavior: url('/UFWeb/common/css/selectBox.htc');}
*/
input	{ font-size:11px; font-family:Arial, Helvetica, sans-serif, dotum, 돋움; }

/*title영역*/
.tit_B {width:100%; height:60px; letter-spacing:-2px; background-image:url(img/his_bg.gif); background-position:bottom; background-repeat:repeat-x;}
.tit_B img {border:0;}
.tit_B .Mname {text-align:left; vertical-align:top; font-size:32px; color:#00a9e9; padding-top:10px; }
.tit_B .Bbtn	{ text-align:right; vertical-align:top; border:0px; padding-top:10px; }

/*list_amount,btn*/
.amBtn { width:100%; height:20px; vertical-align:top; padding:0px 0px 10px 0px; }
.amBtn .C { text-align:center; color:#000000; }
.amBtn .R { text-align:right; }
.amBtn .L { text-align:left; }
.amBtn img { border:0px;}
.amBtn .fB { color:#00a9e9; }
.amBtn .fG { color:#999999; }

/*view_btn_box*/
.Vbtn	{ width:100%; padding:20px 0px 10px 0px; height:20px; }
.Vbtn .L { text-align:left; }
.Vbtn .R { text-align:right; }

/*테이블 a링크*/
table a:hover { text-decoration:underline; }
table a:active,
table a:focus,
table a{color:#636363; text-decoration:none; }



/*테이블_List*/
table.list {width:100%; border-top:0px solid #464646; border-collapse:collapse; text-align:center;}
table.list tr th {border:none; border-bottom:1px solid #00c8f1;  border-top:1px solid #00c8f1; color:#959595; font-weight:bold; text-align:right; vertical-align:middle; height:25px;}
table.list tr td {padding:3px 3px 3px 3px; border:none; border-bottom:1px solid #dfe0e0; border-top:none; color:#555555; text-align:right; vertical-align:middle;}
table.list tr td.border {padding:3px 3px 3px 3px; border:1px solid #00c8f1; color:#555555; text-align:left; vertical-align:middle;}
table.list tr td.no_border {padding:3px 3px 3px 3px; border:none; border-bottom:none; border-top:none; color:#555555; text-align:left; vertical-align:middle;}
table.list tr th.right_b  { background-image:url(img/thR_b.gif); background-repeat:no-repeat; background-position:right; !important;} /*테이블_List 오른쪽선*/
table.list tr td.right_b  { background-image:url(img/thR_b.gif); background-repeat:no-repeat; background-position:right; !important;} /*테이블_List 오른쪽 파란선*/
table.list tr td.center_b { background-image:url(img/thR_b.gif); background-repeat:no-repeat; background-position:center; !important;} /*테이블_List 중앙 파란선*/
table.list tr th.blue {color:#00a9e9 !important; font-weight:bold;} /*제목 파란 글씨*/
table.list tr th.blue a:hover ,
table.list tr th.blue a:active,
table.list tr th.blue a:focus,
table.list tr th.blue a{color:#00a9e9 !important; font-weight:bold;}
table.list tr td.blue {color:#00a9e9 !important; font-weight:bold;} /*제목 파란 글씨*/
table.list tr td.left {text-align:left !important; padding:6px 0px 6px 15px !important;} /*왼쪽정렬*/
table.list tr td.bold {font-weight:bold !important; color:#7a7a7a !important;} /*글씨두껍게*/
table.list tr td.sumBG	{ background-color:#ecebeb; }
table.list tr td.highlightBG { background-color:#ffe4e1; }  /* 당직조회 BG추가 */
table.list tr td img {border:0; padding:0 0 0 0;}

/*테이블_List number*/
.number {font-size:13px;width:100%; padding:30px 0px 0px 0px;  color:#959595; text-align:center; }
.number a:hover { font-size:13px;color:#959595;text-decoration:underline;font-weight:bold;}
.number a:active,
.number a:focus,
.number a{font-size:13px;letter-spacing:1px;color:#959595;text-decoration:none; }
.number .spR16 {padding-right:16px; }
.number .spR8 {padding-right:8px; }
.number .spL16 {padding-left:16px; }
.number img {border:0; }

/* 메인페이지 포틀릿의 number */
.MainNumber {width:520px; padding:-5px 0px 20px 0px;  color:#959595; text-align:center; }
.MainNumber a:hover { color:#959595;text-decoration:underline;font-weight:bold;}
.MainNumber a:active,
.MainNumber a:focus,
.MainNumber a{letter-spacing:1px;color:#959595;text-decoration:none; }
.MainNumber .spR16 {padding-right:16px; }
.MainNumber .spR8 {padding-right:8px; }
.MainNumber .spL16 {padding-left:16px; }
.MainNumber img {border:0; }

/*테이블_List_S*/
table.list_S {width:500px; border-top:1px solid #464646; border-collapse:collapse; text-align:center;}
table.list_S tr th {border:none; border-bottom:2px solid #00c8f1;  color:#959595; font-weight:bold; text-align:center; vertical-align:middle; height:30px;}
table.list_S tr td {height:30px; border:none; border-bottom:1px solid #dfe0e0; border-top:none; color:#959595; text-align:center; vertical-align:middle;}
table.list_S tr th.right_b { background-image:url(img/thR_b.gif); background-repeat:no-repeat; background-position:right; !important;} /*테이블_List 오른쪽선*/
table.list_S tr th.blue {color:#00a9e9 !important;} /*제목 파란 글씨*/
table.list_S tr td.blue {color:#00a9e9 !important; font-weight:bold;} /*제목 파란 글씨*/
table.list_S tr td.left {text-align:left !important; padding:6px 0px 6px 15px !important;} /*왼쪽정렬*/
table.list_S tr td.bold {font-weight:bold !important; color:#7a7a7a !important;} /*글씨두껍게*/
table.list_S tr th.sumBG	{ background-color:#ecebeb; }
table.list_S tr td.sumBG	{ background-color:#ecebeb; }

/*padding*/
.p10	{ padding:10px; }
.p15    { padding:15px; }
.pT5	{ padding-top:5px; }
.pT10	{ padding-top:10px; }
.pT15   { padding-top:15px; }
.pT20	{ padding-top:20px; }
.pB10	{ padding-bottom:10px; }
.pL10   { padding-left:10px; }
.pL30   { padding-left:30px; }

/*테이블_View*/
table.view {width:100%; border-top:1px solid #464646; border-collapse:collapse;}
table.view td { border-bottom:1px solid #dfe0e0; vertical-align:middle; height:30px;}
table.view tr td.right_b { background-image:url(img/thR_b.gif); background-repeat:no-repeat; background-position:right; !important;}
table.view tr td.BL { border:none; border-bottom:2px solid #00c8f1; }
table.view tr td.fB { color:#00a9e9; font-weight:bold; text-align:center; }
table.view tr td.fT { color:#333333; text-align:left; padding:0px 0px 0px 10px; }
table.view tr td.fC { color:#959595; text-align:center; padding:0px 0px 0px 10px; }
table.view tr td.tA { padding:10px 0px 10px 0px; }
table.view tr td a:hover ,
table.view tr td a:active,
table.view tr td a:focus,
table.view tr td a{color:#00a9e9 !important; font-weight:bold;}



/*테이블_rep*/
.rep_line	{ width:100%; height:11px; background:url(img/rep_line_bg.gif) repeat-x; }
table.rep	{ width:100%; }
table.rep tr td { text-align:left;color:#959595;  }
table.rep tr td.dot	{  border-bottom:1px dotted #787878; }
table.rep tr td.f11B { color:#555555; font-weight:bold;}
table.rep .img	{ border:3px #CCCCCC solid ; text-align:center; width:30px;}


/*설명 text_Area*/
.infoBox	{width:773px; padding:5px; color:#959595; background-color:#efefef; border:1px solid #ccc; text-align:left;
            font-size:11px; font-family:Arial, Helvetica, sans-serif, dotum, 돋움;  }


/* 비고 */
.bd_commonbox {font-size:12px;width:100%;margin:0 auto;background: url(img/bigoboxtop.gif) no-repeat left top;}
.bd_commonbox  .box_content  {padding:10px 10px 0px 20px;}
.bd_commonbox  .box_content  h4 {text-align:left;background: url(img/icon_ksmind.jpg) no-repeat left 4px;padding-left:14px;color:#2086e0;margin-bottom:5px;}
.bd_commonbox  .box_content li {list-style-type:none;text-align:left;background: url(img/icon_dotblue.gif) no-repeat 0 6px;padding-left:7px;color:#959595;}
.bd_commonbox  .box_content li a {list-style-type:none;text-align:left;color:#959595;}
.bd_commonbox  .box_content p {text-align:left;line-height:120%;}
.bd_commonbox .boxbottom {width:100%;background: url(img/bigoboxbottom.gif) no-repeat left top;height:20px;}


#eduLink {position:absolute;top:380px;z-index:3;width:280;padding-left:20px;}	

/* 프리콜 뷰 */
#Freecall {
	border:3px solid #2086e0;POSITION: absolute;top:80px;left:0px;background-color:#ffffff;z-index:9999; WIDTH: 500px; HEIGHT: 380px; FONT-SIZE: 11px; padding:0px;
}