/* CSS Document */

body  { margin:0px ;
		scrollbar-face-color: #E9E8E8;
		scrollbar-shadow-color: #8D8D8D;
		scrollbar-highlight-color: #FFFFFF;
		scrollbar-3dlight-color: #8D8D8D;
		scrollbar-darkshadow-color: #FFFFFF;
		scrollbar-track-color: #F2F2F2;
		scrollbar-arrow-color: #8D8D8D;
		font-size:6px;}

img   { border:none}
td    { font-family:돋움,Verdana, Arial, Helvetica; font-size:12px; color:#343434; line-height:18px}

a:link    {font-family:돋움,Verdana, Arial, Helvetica; text-decoration:none; COLOR:#da0001; font: 12px;}
a:visited {font-family:돋움,Verdana, Arial, Helvetica; text-decoration:none; COLOR:#9E0B0E; font: 12px;}
a:hover   {font-family:돋움,Verdana, Arial, Helvetica; text-decoration:none; COLOR:#AF5200;}

/* 입력가능 input Box */
.input        { border:1px solid #B8A32E; font-size:12px; background-color:#F2E7A5; color:#232323; height:17px; padding-left:5px;}

/* 입력가능하고, 우측 정렬하는 input Box(금액 입력시 사용) */
.input_r      { border:1px solid #B8A32E; font-size:12px; background-color:#F2E7A5; color:#232323; height:17px; padding-right:5px; text-align:right;}

/* 입력불가능 input Box */
.input_g      { border:1px solid #FFFFFF; font-size:12px; background-color:#FFFFFF; color:#232323; height:17px; padding-left:5px;}

/* 입력불가능하고, 우측 정렬하는 input Box(금액 입력시 사용) */
.input_g_r    { border:1px solid #FFFFFF; font-size:12px; background-color:#FFFFFF; color:#232323; height:17px; padding-right:5px; text-align:right;}

/* 입력불가능 input Box(%검색버튼이 우측에 있을 경우 & 서브 컬럼명이 있을 경우) */
.input_g_s    { border:1px solid #B8A32E; font-size:12px; background-color:#FFFFFF; color:#232323; height:17px; padding-left:5px;}

/* 입력불가능 input Box(%검색버튼이 우측에 있을 경우 & 서브 컬럼명이 있을 경우) */
.input_g_s_r  { border:1px solid #B8A32E; font-size:12px; background-color:#FFFFFF; color:#232323; height:17px; padding-right:5px; text-align:right;}

/* [상담센터]로그인화면 input Box */
.input_login  { border:0px solid #B8B8B8; font-size:12px; background-color:#D9D9D9; color:#232323; height:17px; padding-left:5px;}

/* [영업정보]로그인화면 input Box */
.input_loginfo { border:0px solid #B8B8B8; font-size:12px; background-color:#FFFFFF; color:#232323; height:17px; padding-left:5px;}

.input_loginfo1 { border:0px solid #B8B8B8; font-size:12px; background-color:#ffffff; color:#232323; height:17px; padding-left:3px; text-align:right;}
.input_loginfo2 { border:0px solid #B8B8B8; font-size:12px; background-color:#ffffff; color:#232323; height:17px; padding-left:1px;}

.input_member { border:1px solid #000000; font-size:12px; background-color:#FFFFFF; color:#000000; height:17px; padding-left:5px;}
.input_p      { border:1px solid #CECAB0; font-size:12px; background-color:#EFEEE8; color:#232323; height:17px; padding-right:5px; text-align:right;}

/* 입력 가능 textarea Box */
.text   { border:1px solid #B8A32E; font-size:12px; background-color:#ffffff; color:#232323; padding-left:5px;}

/* 입력불가능 textarea Box */
.text_g { border:1px solid #CECAB0; font-size:12px; background-color:#EFEEE8; color:#232323; padding-left:5px;}

/* 입력가능 select Box */
.select   { border:1px solid #B8A32E; font-size:12px; background-color:#F2E7A5; color:#232323; padding-left:5px; }

/* 입력불가능 select Box */
.select_d { border:1px solid #D4D4D4; font-size:12px; background-color:#FFFFFF; color:#232323; padding-left:5px; }

/*중복 선택시*/
.multi_select { font-size: 12px; color: #232323; background: #F2E7A5; padding-left:5px; }

/*title*/
.tit { font-size: 15px; color:#111111; font-weight: bold;}
.subtit3 { font-size: 13px; color:#222222;}
.subtit2 { font-size: 13px; color:#444444;}
.subtit1 { font-size: 13px; color:#790000;}

/*회색바탕/글씨*/
.td_g
 { background-color:#EFEEE8; padding-left:8px; color:#49462c;}

/*소계/글씨*/
.td_t
 { background-color:#DDEBD9; padding-left:8px; color:#49462c;}

/*소계/금액 글씨*/
.td_t_r
 { background-color:#DDEBD9; padding-left:8px; color:#49462c; text-align:right; }

/*글씨/오른쪽*/
.td_c
 { text-align:right;padding-right:2px;}

/*회색바탕/글씨/p:2px*/
.td_g_p
 { background-color:#EFEEE8; padding-left:2px; color:#49462c;}

/*연그린바탕/글씨/p:2px*/
.td_gr_p
 { background-color:#E6F1EF; padding-left:3px; color:#49462c;}

/*회색바탕/글씨/중앙*/
.td_g_ce
 { background-color:#EFEEE8; text-align:center; color:#49462c; height: 23px;}

/*흰색바탕/글씨*/
.td_w
 { background-color:#FFFFFF; padding-left:8px; padding-right:8px; }

/* 백그라운드 없슴.*/
.td_w1
 { padding-left:8px; padding-right:8px; }

/*흰색바탕/글씨/p:2px*/
.td_w_p
 { background-color:#FFFFFF; padding-left:2px; padding-right:2px; }

/*흰색바탕/글씨/중앙*/
.td_w_ce
 { background-color:#FFFFFF; text-align:center }

/*중앙*/
.td_w_ce1
 { text-align:center }

/*글씨(금액)/오른쪽*/
.td_w_c2
 { text-align:right;padding-right:2px; }
 
/*글씨(금액)/오른쪽*/
.td_w_c
 { background-color:#FFFFFF; text-align:right;padding-right:2px; }

 /*글씨(금액)/오른쪽/바탕색*/
.td_g_c
 { background-color:#EFEEE8; text-align:right;padding-right:2px; }
.td_g_c2
 { background-color:#C0C0C0; text-align:right;padding-right:2px; }
/*글씨/중앙*/
.td_ce
 { text-align:center }

 /*진한회색바탕/글씨*/
.td_g2
 { background-color:#DDD9C8; padding-left:8px; color:#49462c;}

 /*연한회색바탕/글씨*/
.td_g3
 { background-color:#FAF7E1; padding-left:8px; color:#49462c;}

/*table아웃라인 색*/
.tab
{background-color:#C6c4b5; bordercolorlight:#447B7B; bordercolordark:white}

/*table top라인 색*/
.orange
{background-color:#FAA369; height:2px;}
.orangel
{background-color:#FFCC78; height:2px;}
.green
{background-color:#9DA069; height:2px;}
.greenl
{background-color:#C8C9AB; height:2px;}
.blue
{background-color:#00466C; height:2px;}
.bluel
{background-color:#51A5C4; height:2px;}

/*page 링크*/
.pag         {text-decoration:none; COLOR:#444444; margin-left: 11px; margin-right: 11px; word-spacing: 8px; font: 10px "Arial", "Helvetica";}
.pag a:link    {text-decoration:none; COLOR:#444444; font: 10px "Arial", "Helvetica"; font-weight: bold;}
.pag a:visited {text-decoration:none; COLOR:#444444; font: 10px "Arial", "Helvetica";}
.pag a:hover   {text-decoration:none; COLOR:#444444;}

/*달력 청색바탕/흰글씨/중앙*/
.td_date1
 { background-color:#527588; text-align:center; padding-top:2px; color="#ffffff"; width:23px; height:19px; }

 /*달력 연한청색바탕/숫자/중앙*/
.td_date2
 { background-color:#E3F5F3; text-align:right; padding-top:2px; padding-right:5px; color="#1C465D" width:23px; height:19px; }

 /*달력 연한청색바탕/숫자/중앙*/
.td_date3
 { background-color:#A4CED2; text-align:right; padding-top:2px; padding-right:5px; color="#1C465D" width:23px; height:19px; }

 /*버튼 링크*/
.btn         {text-decoration:none; background-color:#A4CED2; COLOR:#232323; margin-left: 11px; margin-right: 11px; word-spacing: 8px; font: 12px "Arial", "Helvetica";}
.btn a:link    {text-decoration:none; COLOR:#003446; font: 12px "Arial", "Helvetica"; font-weight: bold;}
.btn a:visited {text-decoration:none; COLOR:#003446; font: 12px "Arial", "Helvetica";}
.btn a:hover   {text-decoration:none; COLOR:#da0001;}

/*페이지 링크 포인트 칼라 */
.poi1{color:#da0001;}

/*테이블링크 커서생성 소스*/
.cursor { cursor: hand}

/*테이블링크 커서생성 소스*/
.cursor1 { cursor: hand;color:#6633FF;}
/*테이블링크 커서생성 소스*/
.cursor2
 { background-color:#EFEEE8; text-align:center; cursor: hand;color:#6633FF; height: 23px;}
/*글씨/왼쪽정렬(제목)*/
.td_l { text-align:left;padding-left:15px; }

/*제목이 출력되는 영역입니다.*/
.input_gongji
{text-align:center; border:1px solid #EEEDE9; font-size:12px; background-color:#EEEDE9; color:#49462c; height:17px; padding-left:10px;font-weight: bold;}

.input_gongj2
{text-align:center; border:1px solid #EEEDE9; font-size:12px; background-color:#A4CED2; color:#1C465D; height:17px; font-weight: bold;}

/*게시판 제목 링크 포인트 칼라 */
.poi2{color:#A85900;}

/*내용 texteara Box */
.text_gongji { border:1px solid #C3C3C3; font-size:12px; background-color:#ffffff; color:#232323; padding-left:5px;}

/* ----------------------------------------------------------------*/
/* 리스트에서 사용하는 CSS */
/* ----------------------------------------------------------------*/
/* 클릭하지 않았을 때 */
.list_w{ background-color:#FFFFFF; height: 23px;}
/* 클릭했을 때 */
.list_s{ background-color:#F1F8F4; height: 23px;}
