<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>발그레 | 관리자페이지</title>
   	
   	#parse ("/admin/layout/common_css.vm")	
   	
   	<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.bootstrap.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" rel="stylesheet" />
</head>

<body class="nav-md footer_fixed">
	<div class="container body">
		<div>
			#parse ("/admin/layout/header.vm")
			<!-- page content -->
			<div class="right_col" role="main">
				<div id="items" class="col-md-12 col-sm-12 col-xs-12" style="display:none;">
					<div class="x_title">
						주문자명 : <span id="buyerName">주문자명</span><br/>
						이메일 : <span id="buyerEmail">이메일</span><br/>
						전화번호 : <span id="buyerTel">전화번호</span><br/>
						우편번호 : <span id="buyerZip">우편번호</span><br/>
						주소 : <span id="buyerAddr">주소</span><br/>
						배송요청사항 : <span id="note">배송요청사항</span>
	                    <ul class="nav navbar-right">
	                    </ul>
	                    <div class="clearfix"></div>
	                </div>
					<div class="x_panel">
						<div class="x_content">
							<table id="item_datatables" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
								<thead>
			                        <tr>
			                        	<th>주문ID</th>
			                        	<th>제품명</th>
			            			    <th>옵션명</th>
			            			    <th>금액</th>
			            			    <th>수량</th>
			            			    <th>송장번호</th>
			            			    <th>택배사</th>
			            			    <th>공급가</th>
			                        </tr>
			                      </thead>
			                      <tbody>	
			                      	<tr>
			                      		<td></td>
			                      		<td></td>
			            			    <td></td>
			            			    <td></td>
			            			    <td></td>
			            			    <td></td>
			            			    <td></td>
			            			    <td></td>
			                        </tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>결제내역 <small>목록</small></h2>
                    <ul class="nav navbar-right">
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatables" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                        	<th>결제ID</th>
                        	<th>제품명</th>
            			    <th>쿠폰할인</th>
            			    <th>포인트할인</th>
            			    <th>결제금액</th>
            			    <th>결제상태</th>
            			    <th>주문일</th>
            			    <th>받는분/주문자</th>
                        </tr>
                      </thead>
                      <tbody>	
                      	<tr>
                      		<td></td>
                      		<td></td>
            			    <td></td>
            			    <td></td>
            			    <td></td>
            			    <td></td>
            			    <td></td>
            			    <td></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
			</div>
			</div>
		</div>
		#parse ("/admin/product/item_modal.vm")
		<!-- page content end-->
		#parse ("/admin/layout/footer.vm")
	</div>
</div>
		#parse ("/admin/layout/common_js.vm")
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
    <script>
    var myTable;
    var itemTable;
    $(document).ready(function() {
        myTable = $('#datatables').DataTable({
			stateSave: true,	
          	"processing": true,
          	"serverSide": true,
          	"order": [],
          	"lengthChange": true,
          	"pageLength": 50,
          	"ajax": {
          		"url": "list_processing?type=$!{type}",
          		"data": function(data) {
          			planify(data);
                },
                dataSrc: function(d){
                    return d.data;    
                }
          	},
          	select:true,
          	columns: [
					{"data": "paymentId", "name": "paymentId"},
					{"data": "name", "name": "name"},
					{"data": "couponDiscount", "name": "couponDiscount"},
					{"data": "pointDiscount", "name": "pointDiscount"},
					{"data": "totalPayment", "name": "totalPayment"},
					{"data": "status", "name": "status"},
					{"data": "regDate", "name": "regDate"},
					{"data": "user.name", "name": "user.name"}
				],
				"columnDefs": [
							{
								"targets": 5,//index of column starting from 0	
								"render": function ( data, type, full, meta ) {
									//ready:미결제, paid:결제완료, cancelled:결제취소, failed:결제실패
									if(data == 'ready') {
										return "미결제";	
									} else if(data == 'paid') {
										return "결제완료";
									} else if(data == 'cancelled') {
										return "결제취소";
									} else if(data == 'failed') {
										return "결제실패";
									}
									return data;
								}
							},
							{
			  				   "targets": 6,//index of column starting from 0
			  				    "data": "regDate", //this name should exist in your JSON response
			  				    "render": function ( data, type, full, meta ) {
			  				    	return new Date(data).format("yyyy-MM-dd HH:mm:ss");		
			  				    }
			  				},
							{
				  				   "targets": 7,//index of column starting from 0
				  				    "data": "user.name", //this name should exist in your JSON response
				  				    "render": function ( data, type, full, meta ) {
				  				    	e();
				  				    	return data + " / " + full.buyer_name + "(" + full.buyer_tel + ")";
				  				    	
				  				    }
				  				}
					],
			responsive: true
        });
        
        myTable.on( 'select', function () {
            var selectedRows = myTable.rows( { selected: true } ).count();
            if(selectedRows == 1) {
            	var rowData = myTable.rows( '.selected' ).data().toArray();
            	initItemTable(rowData[0].paymentId);
            } else {
            	$("#items").css("display", "none");
            }
            e();
        } );
        
        myTable.on( 'deselect', function () {
            var selectedRows = myTable.rows( { selected: true } ).count();
            console.log(selectedRows);
            e();
        } );
        
    } );
    
    function planify(data) {
        for (var i = 0; i < data.columns.length; i++) {
            column = data.columns[i];
            column.searchRegex = column.search.regex;
            column.searchValue = column.search.value;
            delete(column.search);
        }
    }

    </script>
    <!-- /Datatables -->
    
    
    <!-- item tables -->
    <script>
	function initItemTable(paymentId) {
		if(itemTable) {
			itemTable.ajax.url( "item_processing?paymentId="+paymentId);
			itemTable.ajax.reload();
		} else {
			$("#items").css("display", "block");
		    itemTable = $('#item_datatables').DataTable({
				stateSave: true,	
		     	"processing": true,
		     	"serverSide": true,
		     	"order": [],
		     	"paging": false,
		     	"searching": false,
		     	"ajax": {
		     		"url": "item_processing?paymentId="+paymentId,
		     		"data": function(data) {
		     			console.log(data);
		     			planify(data);
		           }
		     	},
		     	select:false,
		     	columns: [
						{"data": "piId", "name": "piId"},
						{"data": "prodName", "name": "prodName"},
						{"data": "itemName", "name": "itemName"},
						{"data": "amount", "name": "amount"},
						{"data": "orderCount", "name": "orderCount"},
						{"data": "deliveryNumber", "name": "deliveryNumber"},
						{"data": "deliveryName", "name": "deliveryName"},
						{"data": "supply_price", "name": "supply_price"}
					],
					"columnDefs": [
							{
		   						"targets": 7,//index of column starting from 0	
		    					"data": "supply_price", //this name should exist in your JSON response
		    					"render": function ( data, type, full, meta ) {
		    						$("#buyerName").text(full.buyer_name);
		    						$("#buyerEmail").text(full.buyer_email);
		    						$("#buyerTel").text(full.buyer_tel);
		    						$("#buyerZip").text(full.buyer_addr);
		    						$("#buyerAddr").text(full.buyer_postcode);
		    						$("#note").text(full.note);
		    						e();
		    						return data;
		    					}
							}
						],
						responsive: {
					        details: {
					            display: $.fn.dataTable.Responsive.display.modal()
					        }
					    }
		   });
		}
	}
    </script>
    <!-- /item tables -->
</body>
</html>