<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>발그레 | 관리자페이지</title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    
        <!-- Datatables -->
    <link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom Theme Style -->
    <link href="/dist/css/custom.min.css" rel="stylesheet">
  </head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			#parse ("/admin/layout/header.vm")
			<!-- page content -->
			<div class="right_col" role="main">
				<div class="col-md-6 col-sm-12 col-xs-12">
                	<div class="x_panel">
                  		<div class="x_title">
                    		<h2>
                    			닉네임 에 권한 부여 된 캠패인
		                    	<small>목록</small>
		                    </h2>
                    <div class="clearfix"></div>
                    
                  </div>
                  <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>제목</th>
                          <th>부제목</th>
                          <th>카테고리</th>
                          <th>상태</th>
                          <th>권한</th>
                        </tr>
                      </thead>
                      <tbody>
                      	#foreach( $uc in $campaign.userCampaign )
                      	<tr>
                      	
                      		<td style="cursor:pointer">$uc.experience.subject</td>
   							<td style="cursor:pointer">$uc.experience.desciption</td>
   							<td style="cursor:pointer">$uc.experience.categoryName</td>
   							<td style="cursor:pointer">
   								#if ($uc.experience.status == "A")모집중
								#elseif ($uc.experience.status == "S")선정중
								#elseif ($uc.experience.status == "R")리뷰중
								#else 마감
								#end
   							</td>
   							<td onclick='event.cancelBubble=true;'>
   								<input type="button" class="btn-xs btn-danger" value="권한취소" onclick="javascript:addCampaign('${uc.user.id}', '${uc.experience.id}', 'del');">
   							</td>
   						</tr>
						#end
                      </tbody>
                    </table>

                  </div>
              </div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
	                <h2>캠패인 목록</h2>
                    <div class="clearfix"></div>
                    
                  </div>
                  <div class="x_content">
                    <table id="datatable-responsive2" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>제목</th>
                          <th>부제목</th>
                          <th>카테고리</th>
                          <th>상태</th>
                          <th>권한</th>
                        </tr>
                      </thead>
                      <tbody>
                      	#foreach( $cp in $campaign.cList )
                      	<tr>
                      		<td style="cursor:pointer">$cp.subject</td>
   							<td style="cursor:pointer">$cp.desciption</td>
   							<td style="cursor:pointer">$cp.categoryName</td>
   							<td style="cursor:pointer">
   								#if ($cp.status == "A")모집중
								#elseif ($cp.status == "S")선정중
								#elseif ($cp.status == "R")리뷰중
								#else 마감
								#end
   							</td>
   							<td onclick='event.cancelBubble=true;'>
   								<input type="button" class="btn-xs btn-info" value="권한부여" onclick="javascript:addCampaign('${user_id}', '${cp.id}', 'add');">
   							</td>
   						</tr>
						#end
                      </tbody>
                    </table>

                  </div>
              </div>
			</div>
		</div>
		<!-- page content end-->
		#parse ("/admin/layout/footer.vm")
	</div>
</div>
	
	 <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>
    <!-- Datatables -->
    <script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
        <!-- BootBox -->
    <script src="/vendors/bootbox/bootbox.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/dist/js/custom.min.js"></script>
    
        <!-- Datatables -->
    <script>
      $(document).ready(function() {
    	  $("#datatable-responsive").DataTable({
    		  "order": [],
    		  "lengthChange": true,
    	      "searching": false,
    	      "pageLength": 10,
              responsive: true
    	  });
    	  
    	  $("#datatable-responsive2").DataTable({
    		  "order": [],
    		  "lengthChange": true,
    	      "searching": true,
    	      "pageLength": 10,
              responsive: true
    	  });
      });

	function addCampaign(user_id, c_id, action) {
		var formData = new FormData();
  		formData.append("user_id", user_id);
  		formData.append("c_id", c_id);
      	formData.append("action", action);
  		$.ajax({
  			url: "campaign/" + action,
  			processData: false,
  			contentType: false,
  			data: formData,
  			type: 'POST',
  			success: function(result){
  				if(result == "success") {
  					window.location.reload(true);
  				} else {
  					bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
  				}
  			},
  			error: function(){
  				bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
  			}
  		});
	}
    </script>
    <!-- /Datatables -->
</body>
</html>