 <meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
 <div class="modal fade" id="device_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">디바이스 정보</h4>
          </div>
          <div class="modal-body">
           <div class="box-body">
             <div class="form-group">
             <table id="device_table" class="table table-striped jambo_table bulk_action adveriser">
                       	<thead>
                         		<tr class="headings">
	                           		<th class="column-title">디바이스ID</th>
	                           		<th class="column-title">OS</th>
	                           		<th class="column-title">OS Ver.</th>
	                           		<th class="column-title">Model</th>
	                           		<th class="column-title">App Ver.</th>
	                          		<th class="column-title no-link last">등록일</th>
                         		</tr>
                       	</thead>
                       	<tbody>
                       	</tbody>
					</table>
             </div>
           </div>
           <!-- /.box-body -->
           <div class="modal-footer">
             <button type="button" class="btn btn-default pull-left" data-dismiss="modal">취소</button>
           </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->