 <meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
 <div class="modal fade" id="point_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="user_point"></h4>
          </div>
          <div class="modal-body">
           <div class="box-body">
             <div class="form-group">
               <label class="col-sm-4 control-label">누적 / 사용 / 남은 포인트</label>
               <label class="col-sm-6 content-label" id="totalPoint"></label>
             </div>
             <div class="form-group">
             <table id="point_table" class="table table-striped jambo_table bulk_action adveriser">
                       	<thead>
                         		<tr class="headings">
	                           		<th class="column-title">포인트 </th>
	                          		<th class="column-title">내역</th>
	                          		<th class="column-title no-link last">처리일</th>
                         		</tr>
                       	</thead>
                       	<tbody>
                       	</tbody>
					</table>
             </div>
           </div>
           <!-- /.box-body -->
           <div class="modal-footer">
             <button type="button" class="btn btn-default pull-left" data-dismiss="modal">취소</button>
           </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->