 <meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
 <div class="modal fade" id="user_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="user_name"></h4>
          </div>
          <div class="modal-body">
           	<form class="form-horizontal" id="user1">
           <div class="box-body">
           	<input type="hidden" id="user_id"/>
             <div class="form-group">
               <label class="col-sm-4 control-label">이름</label>
               <label class="col-sm-6 content-label" id="name"></label>
             </div>
             <div class="form-group">
               <label class="col-sm-4 control-label">이메일</label>
				<label class="col-sm-6 content-label" id="email"></label>
             </div>
             <div class="form-group">
               <label class="col-sm-4 control-label">성별</label>
				<label class="col-sm-6 content-label" id="gender"></label>
             </div>
             <div class="form-group">
               <label class="col-sm-4 control-label">생년월일 (나이)</label>
				<label class="col-sm-6 content-label" id="birthday"></label>
             </div>
             <div class="form-group">
               <label class="col-sm-4 control-label">전화번호</label>
               <label class="col-sm-6 content-label" id="phone"></label>
             </div>
             <div class="form-group">
               <label class="col-sm-4 control-label">계정권한</label>
                <label class="col-sm-6 content-label" id="role"></label>
             </div>
             <div class="form-group">
               <label class="col-sm-4 control-label">등록일</label>
               <label class="col-sm-6 content-label" id="regDate"></label>
             </div>
             #if(${type} == "l")
             <div class="form-group">
               <label class="col-sm-4 control-label">탈퇴이유</label>
               <label class="col-sm-6 content-label" id="reason"></label>
             </div>
             <div class="form-group">
               <label class="col-sm-4 control-label">탈퇴일</label>
               <label class="col-sm-6 content-label" id="delDate"></label>
             </div>
             #end
           </div>
           <!-- /.box-body -->
           <div class="modal-footer">
             <button type="button" class="btn btn-default pull-left" data-dismiss="modal">취소</button>
             #if(${type} == "u")
             	<input type="button" class="btn btn-info" onclick="javascript:updateUser();" value="권한 수정">
             #elseif(${type} == "l")
              	<input type="button" class="btn btn-danger" onclick="javascript:leaveCancel();" value="탈퇴 취소">
             #end
           </div>
         </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->