
.btnC { 
	font-weight:normal;
    display:-moz-inline-box; 
    cursor:pointer; 
    border:none; 
    background-color:transparent; 
    height:20px; 
    background:url(img/btn_C.gif) repeat-x; 
    color:#ffffff; 
	font-size:11px;
    padding:0; 
    overflow:hidden; 
    cursor:pointer; 
    background-position:0 0; 
    text-align : right;
    vertical-align : middle;
} 

.btnC a:hover ,
.btnC a:active,
.btnC a:focus,
.btnC a{color:#ffffff; text-decoration:none; }

 .btnL {
	width:6px;
	background:url(img/btn_L.gif) no-repeat ;
	height:20px;
}

 .btnR {
	width:21px;
	background:url(img/btn_R.gif) no-repeat;
	height:20px;
}

.btnPreL {
	width:20px;
	background:url(img/btn_pre_L.gif) no-repeat;
	height:20px;
}

.btnPreC { 
    display:-moz-inline-box; 
    display:inline-block; 
    cursor:pointer; 
    border:none; 
    background-color:transparent; 
    height:20px; 
    background:url(img/btn_pre_C.gif) repeat-x; 
    color:#ffffff; 
    padding:0; 
    overflow:hidden; 
    cursor:pointer; 
    background-position:0 0; 
    text-align : center;
} 

.btnPreC a:hover ,
.btnPreC a:active,
.btnPreC a:focus,
.btnPreC a{color:#ffffff; text-decoration:none; }

.btnPreR {
	width:7px;
	background:url(img/btn_pre_R.gif) no-repeat;
	height:20px;
}

.btnNextL {
	width:7px;
	background:url(img/btn_next_L.gif) no-repeat;
	height:20px;
}

.btnNextC { 
    display:-moz-inline-box; 
    display:inline-block; 
    cursor:pointer; 
    border:none; 
    background-color:transparent; 
    height:20px; 
    background:url(img/btn_next_C.gif) repeat-x; 
    color:#ffffff; 
    padding:0; 
    overflow:hidden; 
    cursor:pointer; 
    background-position:0 0; 
    text-align : center;
} 

.btnNextC a:hover ,
.btnNextC a:active,
.btnNextC a:focus,
.btnNextC a{color:#ffffff; text-decoration:none; }

.btnNextR {
	width:20px;
	background:url(img/btn_next_R.gif) no-repeat;
	height:20px;
}

