<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="jndi-boa_ds" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:/comp/env/jdbc/CANDS"/>
        <property name="resourceRef" value="false"/> 
    </bean>  
    
    <bean id="jndi-can_ds" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:/comp/env/jdbc/CANDS"/>
        <property name="resourceRef" value="false"/> 
    </bean>            
    
    <bean id="boadao" class="com.posdata.glue.dao.PosJdbcDao">
        <property name="dataSource"><ref local="jndi-boa_ds"/></property>
        <property name="queryManager"><ref local="queryManager"/></property>
        <property name="columnDefCache" value="true"/>
    </bean>    
    
    <bean id="candao" class="com.posdata.glue.dao.PosJdbcDao">
        <property name="dataSource"><ref local="jndi-can_ds"/></property>
        <property name="queryManager"><ref local="queryManager"/></property>
        <property name="columnDefCache" value="true"/>
    </bean>        
    
    <bean id="queryManager" class="com.posdata.glue.dao.manager.PosQueryManagerImpl">
        <constructor-arg><ref local="cacheManager"/></constructor-arg>
        <constructor-arg><ref local="queryLoader"/></constructor-arg>
    </bean>
    
    <bean id="cacheManager" class="com.posdata.glue.cache.PosCacheManagerJCS"/>
    <bean id="queryLoader" class="com.posdata.glue.dao.manager.PosQueryLoader"/>
    
    <bean id="tx_boa" class="com.posdata.glue.transaction.PosDataSourceTransactionManager">
        <property name="dataSource">
            <ref local="jndi-boa_ds"/>
        </property>
    </bean>
    
    <bean id="tx_can" class="com.posdata.glue.transaction.PosDataSourceTransactionManager">
        <property name="dataSource">
            <ref local="jndi-can_ds"/>
        </property>
    </bean>        
</beans>