.result_page>p{margin-top:297px; margin-left:366px;}
.result .gray_box{padding-top:15px;}

.check{padding-top:51px;}

.login div table{height:58px;}
.login .fleft{margin-right:18px;}
.logo p{float:right; display:block; margin-top:-35px;}

.grade ul{float:left; list-style:none; line-height:22px; margin-left:0px; margin-right:190px; padding-left:0px; display:inline;}
