
#main_rapper {width:962px;margin:0 auto;}
#main_rapper  .left_section {float:left;width:213px;}

.caland {clear:both;width:213px;min-height:188px;position:absolute;top:0px;left:-1px;}
.caland .year_select {width:213px;height:54px;background:url(img/L_cal_bgTop.jpg) no-repeat left top;position:relative;}
.caland .year_select  .btn_setup {position:absolute;right:7px;top:5px;}
.caland .year_select ul {position:absolute;top:4px;left:35px;}
.caland .year_select li {float:left;padding-top:2px;margin-top:2px;}
.caland .year_select li.slide {text-align:center;width:128px;font-size:14px;font-family:myriad;font-weight:bold;color:#fff;letter-spacing:-0.05em;padding-top:0px;}

.caland  .cal_bottom {width:213px;height:3px;background: url(../css/img/L_cal_bgBot.jpg) no-repeat;}
.cal {width:212px;background: url(img/bg_calbody.jpg) repeat-y;padding-left:3px;}
.cal .date_tblbox {width:207px;overflow:hidden;}
.cal .date	{width:210px;color:#666666;font-size:12px;font-family:myriad, dotum, arial;}
.cal .date td {height:26px;text-align:center;vertical-align:middle;background:url(img/bg_day.jpg) no-repeat;}
.cal .date .dBG {background:url(img/L_cal_dayBG.jpg) no-repeat left top;}
.cal a { color:#636363; text-decoration:none;}
.cal .date .today	{background-image:url(img/L_cal_todayBG.jpg) ;background-repeat:no-repeat;background-position:center;background-position:bottom;color:#ffffff;}
.left_box_cal {width:200px;height:32px;padding:0px;position:relative;float:left;}


.left_box {width:213px;background:url(img/bg_left_md.jpg) repeat-y left bottom;font-size:12px;font-family:myriad, dotum, arial;clear:both;}
.left_box_title {width:200px;height:32px;background:url(img/cont_s_top.jpg) no-repeat left top;font-size:14px;font-family:NanumGothic;font-weight:bold;padding:9px 0px 0px 13px;.padding:5px 0px 0px 13px;color:#000;position:relative;}
.left_box_title .btn_setup {position:absolute;right:10px;top:5px;}
.left_box_ctn {position:relative;padding-bottom:7px;}

.left_box_ctn2 {position:relative;background: url(img/bg_yellow.gif) no-repeat -1px top;width:213px;height:166px;margin-top:-8px;padding-top:15px;}
.left_box_ctn2 .list {width:190px;margin:0 auto;padding-top:11px;}
.left_box_ctn2 .list li {background: url(img/icon_y.gif) no-repeat 0 5px;padding-left:7px;margin-bottom:11px;}

.left_box_ctn .btn_ctn_controll {position:absolute;right:10px;bottom:15px;}
.left_box_ctn .btn_ctn_controll2 {width:100%;text-align:center;padding-bottom:3px;}
.left_box_bottom {width:213px;height:5px;background:url(img/left_bottom.jpg) no-repeat left top;}

.title_area {background: url(img/dot_yellow.gif) repeat-x left bottom;width:188px;height:25px;margin:0 auto;padding-top:20px;}
.title_area ul {margin-left:40px;}
.title_area li {float:left;}
.title_area li.data {font-weight:bold;text-align:center;width:102px;color:#ff6600;}

.left_box_ctn table {margin-left:9px;margin-bottom:3px;margin-top:-6px;}
.left_box_ctn .alr {background-image:url(img/L_cont_box01.jpg);background-repeat:no-repeat;color:#666666;width:65px;height:39px;line-height:130%;text-align:center;}
.left_box_ctn .alr .fontB	{color:#ddeaf4;padding-top:2px;}
.left_box_ctn .alr a {color:#787878;}

 .zone {color:#4f5b75;line-height:120%; margin-top:8px;}
 .zoneTitle {color:#678CB9;padding-top:5px;font-weight:bold;}
  .zone li {background-image:url(img/ico_zone_dot.jpg) ;padding-left:13px;font-size:12px;background-position:left;background-repeat:no-repeat;color:#999999;}
 .fc9	{ color:#999999; }

 .scadule_list {width:190px;margin:0 auto;padding-bottom:13px;}
 .scadule_list li {background:url(img/dot_line.gif) repeat-x left bottom;width:190px;line-height:140%;padding:6px 0;}
 .scadule_list li .sca_tit {font-weight:bold;color:#00a5e5;}
 .scadule_list li .sca_place {color:#888888;}

 .sulmoon_list {width:209px;margin-left:3px;margin-top:0px;}
 .sulmoon_list li.tit {height:28px;}
 .sulmoon_list li.tit .tit_area {padding-left:10px;padding-top:5px;background: #f7f7f7;border-bottom:1px solid #e7e7e7;}
 .sub_tit {background: url(img/bg_line.gif) no-repeat right 2px;width:52px;}
  .sulmoon_list li .on {font-weight:bold;color:#00a5e5;}
 .r_box {width:187px;height:74px;background: url(img/bg_r_box.gif) no-repeat;margin:0 auto;}
 .r_box p {color:#444444;padding:5px;}

 .time_list {margin-left:20px;padding-top:0px;margin-bottom:5px;margin-top:5px;}
 .time_list li {background: url(img/icon_dot.gif) no-repeat 0 7px;padding-left:7px;}

 #main_rapper .middle_section {float:left;width:522px;margin-left:8px;padding-top:3px;}
/*
.middle_top_tab {width:522px;height:294px;position:relative;background: url(img/bg_maintop_tab.jpg) no-repeat;clear:both;margin-top:3px;padding-top:4px;overflow:hidden;}
.middle_top_tab .left_tabarea {float:left;width:88px;}
.middle_top_tab .left_tabarea  .tabmenu_list li {line-height:0;font-size:0;text-align:left;}
.middle_top_tab .left_tabarea  .tabmenu_list li img {float:left;}
.middle_top_tab .right_frame {float:left;margin-top:1px;position:relative;}
.mtab_sublist {width:116px;float:left;height:287px;background:#678cb9;color:#FFFFFF;}
.mtab_sublist li.icoLine {width:106px;padding-left:10px; height:23px;background:url(img/cont_b_top_C_line.jpg) no-repeat; text-align:left; vertical-align:bottom;padding-top:5px;}
.mtab_sublist li.img_area {height:125px;overflow:hidden;}
.mtab_sublist li.img_area2 {height:125px;overflow:hidden;}
.mtab_sublist li.icoLine {color:#fff;letter-spacing:-1pt;}
.mtab_sublist li.icoLine a { color:#FFFFFF; text-decoration:none;  letter-spacing:-1pt;} 
.mtab_sublist li.icoLine a:visited { color:#FFFFFF; text-decoration:none;  letter-spacing:-1pt;} 
.mtab_sublist li.icoLineon {cursor:pointer;color:#333;text-decoration:none;  letter-spacing:-1pt;width:106px;padding-left:10px; height:23px;background:url(img/cont_b_top_C_line.jpg) no-repeat; text-align:left; vertical-align:bottom;padding-top:5px;} 

.mtab_sublist2 {width:116px;float:left;height:287px;background:#678cb9;text-decoration:none;}
.mtab_sublist2 li.icoLine {width:106px;padding-left:3px; height:23px;background:url(img/cont_b_top_C_line.jpg) no-repeat; text-align:left; vertical-align:bottom;padding-top:5px;}
.mtab_sublist2 li.img_area {height:125px;overflow:hidden;}
.mtab_sublist2 li.icoLine {color:#fff;}
.mtab_sublist2 li.icoLine a { color:#FFFFFF; text-decoration:none;  letter-spacing:-1pt;cursor:hand;} 
.mtab_sublist2 li.icoLine a:visited { color:#FFFFFF; text-decoration:none;  letter-spacing:-1pt;} 
.mtab_sublist2 li.icoLineon {width:106px;padding-left:3px; height:23px;background:url(img/cont_b_top_C_line.jpg) no-repeat; text-align:left; vertical-align:bottom;padding-top:5px;}
.mtab_sublist2 li.icoLineon a {cursor:pointer;color:#333;text-decoration:none;letter-spacing:-1pt;}
.mtab_sublist2 li.icoLineon a:visited {cursor:pointer;color:#333;text-decoration:none;letter-spacing:-1pt;}
.mtab_sublist2 li.icoLineon a:hover {cursor:pointer;color:#333;text-decoration:none;letter-spacing:-1pt;}

.mtab_tbl {float:left;width:314px;vertical-align:top;}
.mtab_tbl th {font-size:12px;font-weight:bold;text-align:center;color:#666666;font-family:dotum;height:32px;line-height:140%;vertical-align:middle;background: #f6f6f6;border-bottom:1px solid #d9d9d9;}
.mtab_tbl th.line {border-right:1px solid #d9d9d9;}

.mtab_tbl td {font-size:12px;text-align:left;color:#666666;font-family:dotum;height:32px;vertical-align:middle;border-bottom:1px solid #f5f5f5;}
.mtab_tbl td.alc {text-align:center;}

.mtab_tbl td a {font-size:12px;color:#666666;}
.mtab_tbl td span {background: url(img/icon_dot.gif) no-repeat 10px 4px;padding-left:17px;}

.mtab_tblw {float:left;vertical-align:top;width:430px;}
.mtab_tblw th {font-size:11px;font-weight:bold;text-align:center;color:#666666;font-family:dotum;height:32px;line-height:140%;vertical-align:middle;background: #f6f6f6;border-bottom:1px solid #d9d9d9;}
.mtab_tblw th.line {border-right:1px solid #d9d9d9;}

.mtab_tblw td {font-size:11px;text-align:left;color:#666666;font-family:dotum;height:32px;vertical-align:middle;border-bottom:1px solid #f5f5f5;}
.mtab_tblw td.alc {text-align:center;}

.mtab_tblw td a {font-size:11px;color:#666666;}
.mtab_tblw td span {background: url(img/icon_dot.gif) no-repeat 10px 4px;padding-left:17px;}


.tab_air li {font-size:11px;background: url(img/icon_dot.gif) no-repeat 0 7px;padding-left:7px;}
.tab_air li a {font-size:11px;}
*/
 .middle_box {width:522px;background:url(img/cont_b_mid.jpg) repeat-y;font-size:12px;font-family:myriad, dotum, arial;}

.middle_title_area {width:509px;height:25px;.height:28px;background:url(img/cont_b_top.jpg) no-repeat;font-size:14px;font-family:³ª´®°íµñ;font-weight:bold;padding-left:13px;padding-top:8px;position:relative;}
.middle_title_area h3 {float:left;color:#000000;}
.middle_title_area .btn {position:absolute;right:7px;top:6px;}
 .middle_box .middle_ctn {position:relative;}
.middle_bottom  {padding-bottom:1px;width:522px;height:10px;background:url(img/cont_b_bot.jpg) no-repeat left top;}

.middle_tab_area {padding-left:2px;width:517px;font-size:12px;font-family:myriad, dotum, arial;vertical-align:top;text-align:left;margin:0 auto;height:26px;position:relative;}
.middle_tab_area .tab {width:100%;}
.middle_tab_area .tab li {background: #f7f7f7;float:left;text-align:center;border-right:1px solid #c9cccd;border-bottom:1px solid #c9cccd;padding:4px 0;}
.middle_tab_area .tab li.on {background:#fff;font-weight:bold;border-bottom:0;}
.middle_tab_area .tab li a {color:#656e76;font-family:³ª´®°íµñ;font-weight:bold;text-decoration:none;}
.middle_tab_area .tab li.last {border-right:0;}

.air_list li {background: url(img/dot.jpg) no-repeat 0 7px;font-size:11px;padding-left:7px;}
.air_list li a {font-size:11px;}

.tab_content {width:505px;margin:0 auto;padding-top:15px;height:135px;overflow:auto;scroll-y:yes;padding-right:8px;position:relative;scrollbar-highlight-color: #CCCCCC;scrollbar-shadow-color: #CCCCCC; scrollbar-arrow-color: #CCCCCC;scrollbar-face-color: #FFFFFF; scrollbar-3dlight-color: #FFFFFF;scrollbar-darkshadow-color: #FFFFFF;scrollbar-track-color: #FFFFFF;}
.art_list  li {background:url(img/line_C_dot30.jpg) no-repeat left bottom;padding:5px 0 4px 15px;position:relative;}
.art_list  li.long_gul {background:none;padding-left:0;height:97px;}
.art_list  li.long_gul .left_photo {float:left;width:144px;}
.art_list  li.long_gul .left_photo img {border:1px solid #cacaca;}
.art_list  li.long_gul .right_txt {float:left;}
.art_list  li.long_gul .right_txt .gray_box {background: #f7f7f7;width:348px;height:38px;}
.art_list  li.long_gul .right_txt .gray_box p {font-weight:bold;color:#444444;margin-left:15px;padding-top:10px;}
.mini_list {padding-top:10px;margin-left:15px;}
.mini_list li {background:none;color:#888888;line-height:130%;padding:2px 0;}

.art_list  li .data {position:absolute;right:0px;font-size:11px;}
.art_list  li .bonbu {width:100px;}

.art_listSchedule  li {background:url(img/line_C_dot30.jpg) no-repeat -20px bottom;padding:5px 0 4px 0px;position:relative;}


.paging {text-align:center;clear:both;padding-top:13px;height:25px;}
.paging span {background: url(img/num_td_line.jpg) no-repeat right 2px;padding:0 6px;text-align:center;}
.paging .btn {background:none;padding:0 3px 0 0;}
.paging .btn2 {background:none;padding:0 0 0 3px;}

.info {margin-bottom:10px;}
.info td {text-align:center;line-height:120%;color:#4f5b73;vertical-align:bottom;}
 
.info .gra {background-image:url(img/cont_b_info_titBG.jpg);background-repeat:no-repeat;width:68px;height:84px;}

.middle_tab_area2 {width:518px;background: #f7f7f7;font-size:12px;font-family:myriad, dotum, arial;vertical-align:top;text-align:left;border-bottom:1px solid #c9cccd7;margin:0 auto;height:26px;position:relative;}

.right_section {float:left;width:211px;padding-top:2px;margin-left:8px;}
.right_box {width:211px;background:url(img/cont_rt_bg.jpg) no-repeat left bottom;padding-bottom:7px;}
.right_box .title_area {width:209px;height:25px;.height:28px;background:url(img/cont_s_top.jpg) no-repeat;font-size:14px;font-family:³ª´®°íµñ;font-weight:bold;padding:9px 0px 0px 13px;.padding:5px 0px 0px 13px;color:#000000;position:relative;}
.right_box  .right_box_bottom {width:211px;height:7px;background: url(img/cont_s_bottom.jpg) no-repeat left top;}
.right_box .title_area .btn_setup {position:absolute;right:20px;top:7px;}

.right_tab_area {width:205px;background: #f7f7f7;font-size:12px;font-family:myriad, dotum, arial;vertical-align:top;text-align:left;margin:0 auto;height:26px;position:relative;}
.right_tab_area  .tab {width:100%;}
.right_tab_area  .tab li {float:left;text-align:center;border-right:1px solid #c9cccd;padding:5px 0;font-weight:normal;border-bottom:1px solid #c9cccd;}
.right_tab_area  .tab li.on {background:#fff;font-weight:bold;border-bottom:0;}
.right_tab_area  .tab li.on a {font-weight:bold;}
.right_tab_area  .tab li a {color:#656e76;font-family:³ª´®°íµñ;font-weight:normal;text-decoration:none;font-size:12px;}
.right_tab_area  .tab li.last {border-right:0;}

.link_list {margin-left:3px;}
.link_list li {height:24px; width:195px;background-image:url(img/cont_b_link_bg.jpg); background-repeat:no-repeat;padding-left:10px; padding-top:7px;text-align:left; vertical-align:bottom;}
.link_list li span{min-width:92px;margin-top:2px;background-image:url(img/comma.gif); background-repeat:no-repeat;}
.link_list li span a{padding-left:7px;}

.link_list2 {margin-left:3px;}
.link_list2 li {height:24px; width:195px;background-image:url(img/cont_b_link_bg.jpg); background-repeat:no-repeat;padding-left:10px; padding-top:6px;text-align:left; vertical-align:bottom;}
.link_list2 li span{min-width:92px;margin-top:2px;background-image:url(img/comma.gif); background-repeat:no-repeat;}
.link_list2 li span a{padding-left:7px;}




.btn_more {width:208px;margin:0 auto;}
.btn_more2 {width:206px;margin:0 auto;}
.btn_more3 {width:208px;margin:5px 0 -11px -9px;}
.btn_more4 {width:206px;margin:0 auto -5px auto;padding-bottom:4px;}


/*
add yu
*/

.btn a.more  {

    float: left;

    display: inline;

    background: url(/UFWeb/common/css/img/btn_more.png) no-repeat 0px;

    width: 21px;

    height: 19px;

    margin: 0px 3px 0px 0px;

    text-indent: -9999em;

    outline: none;

    cursor: pointer;

}


.btn a.more2  {

    float: left;

    display: inline;

    background: url(/UFWeb/common/css/img/btn_more.png) no-repeat 0px;

    width: 21px;

    height: 19px;

    margin: 0px 3px 0px 0px;

    text-indent: -9999em;

    outline: none;

    cursor: pointer;

}

.btn a.zoom  {
    float: left;
    display: inline;
    background: url(/UFWeb/common/css/img/btn_opt_all.png) no-repeat 0px;
    width: 21px;
    height: 19px;
    margin: 0px 3px 0px 0px;
    text-indent: -9999em;
    outline: none;
    cursor: pointer;
}

.btn a.refresh  {
    float: left;
    background: url(/UFWeb/common/css/img/btn_opt_all.png) no-repeat -24px;
    width: 21px;
    height: 19px;
    text-indent: -9999em;
    margin: 0px 1px 0px 0px;
    outline: none;
    cursor: pointer;
}


.btn a.close  {
    float: left;
    display: inline;
    background: url(/UFWeb/common/css/img/btn_opt_all.png) no-repeat -69px;
    width: 21px;
    height: 19px;
    text-indent: -9999em;
    margin: 0px 1px 0px 0px;
    outline: none;
    cursor: pointer;
}


.subject_box {width:99%;border-bottom:1px solid #e7e7e7;background: #f7f7f7;margin:0 auto;padding:4px 0;}
.subject_box li {float:left;}
.subject_box li.title {width:60%;font-size:12px;padding-left:5px;}
.subject_box li.data {width:30%;font-size:11px;padding-right:5px;float:right;text-align:right;}

.media_area {clear:both;text-align:center;padding-bottom:20px;margin-top:10px;}
.m_article_box {clear:both;height:130px;padding-top:0px;overflow:auto;scroll-y:yes;padding-left:2px;position:relative;width:515px;margin:0 auto;}
.bottom_btn {text-align:right;padding:8px;clear:both;}

.mid {padding:6px;}
.mid .head {background-image:url(img/R_head_box.jpg);background-repeat:no-repeat;color:#888;width:64px;height:66px;vertical-align:top;padding-top:3px;text-align:center;line-height:180%;}

.weather_tbl {border-collapse:collapse;width:516px;margin:0px auto;}
.weather_tbl td {border-right:1px solid #e7e7e7;}
.weather_tbl td.last {border-right:0;}
.weather_tbl td li {background: url(img/dot_line.gif) no-repeat left bottom;}
/* 2012.1.12 mod 
.weather_tbl td li.title {background: #f7f7f7;border-bottom:1px solid #e7e7e7;text-align:center;padding:5px 0;font-weight:bold;color:#444444;}
.weather_tbl td li.title_today {background: #f7f7f7;border-bottom:1px solid #e7e7e7;text-align:center;padding:5px 0;font-weight:bold;color:#00a5e5;}
.weather_tbl td li.conditions  {text-align:center;height:85px;color:#444444;}
.weather_tbl td li .tit {display:inline-block;width:32px;margin-right:6px;height:15px;text-align:center;float:left;color:#fff;background: url(img/bg_weather.gif) no-repeat;margin-top:7px;}
.weather_tbl td li .detail {display:inline-block;width:26px;text-align:right;height:15px;padding-top:6px;}

.weather_tbl td li.ondo {padding:10px 0;}
.weather_tbl td li.ondo p {margin-left:25px;}
*/
.weather_tbl td li.title {background: #f7f7f7;border-bottom:1px solid #e7e7e7;text-align:center;padding:0px 0;font-weight:bold;color:#444444;}
.weather_tbl td li.title_today {background: #f7f7f7;border-bottom:1px solid #e7e7e7;text-align:center;padding:0px 0;font-weight:bold;color:#00a5e5;}
.weather_tbl td li.conditions  {text-align:center;height:78px;color:#444444;}
.weather_tbl td li .tit {display:inline-block;width:32px;margin-right:6px;height:15px;text-align:center;float:left;color:#fff;background: url(img/bg_weather.gif) no-repeat;margin-top:4px;}
.weather_tbl td li .detail {display:inline-block;width:30px;text-align:right;height:15px;padding-top:6px;}
.weather_tbl td li.ondo {margin-bottom:5px;height:45px;}
.weather_tbl td li.ondo p {margin-left:25px;}


.food_list {margin:0 auto;width:90%;height:180px;padding:0px 0;}
.food_list .food_1list li {float:left;width:115px;}

.food_mnlist {width:100px;margin:0 auto;}
.food_mnlist li {font-size:11px;width:90px;clear:both;}
.food_mnlist li.tit {text-align:center;color:#02a4e4;}
.food_mnlist li.inbox {margin-top:-3px;background: url(img/bg_food_list.gif) no-repeat left bottom;height:100px;padding:3px 5px;line-height:140%;}


/* ¸Þ¸ð */
.memo_rapper {width:200px;margin:0 auto;height:110px;padding-top:2px;}
.memo_rapper li {color:#272727;height:23px;}
.memo_rapper li a {color:#272727;}
.memo_pagging {text-align:center;clear:both;margin-top:6px;color:#ff7200;}
.memo_pagging a {color:#ff7200;}
.memo_title {height:28px;color:#4270aa;font-weight:bold;}

.memo_wtbl td .tit {font-size:12px;color:#4270aa;font-weight:bold;}
.memo_wtbl td  .memo_wr {width:170px;height:100px;border:1px solid #bdc1c4;}

#memo_plugin {
    width:180px;
    height:200px;
    position:relative;
    overflow:hidden;
	margin:0 auto;
    color:#fff;
}

#memoList_container {
    width:180px;
    height:200px;
    position:absolute;
    top:0;
    left:000px;
    z-index:98;
}

#memoAdd_container {
    width:200px;
    height:200px;
    position:absolute;
    top:0;
    left:210px;
    z-index:98;
}


.link-add2  {float:left;width:300px;margin:0 auto;font-size:12px;font-weight:bold; height:18px;;padding-top:5px;padding-left:5px;background-color:#efefef;margin-bottom:5px;margin-top:5px;}
.link-add1  {width:300px;margin:0 auto;background-color:#fcfcfc;}
.link-add1 dt {float:left;height:20px;padding-top:3px;padding-left:5px;margin-bottom:4px;}
.link-add1 dd {float:left;border:1px solid #cccccc;height:20px;margin-bottom:4px;}
.link-add1 dt {clear:both;width:70px;margin-right:0px;font-size:12px;vertical-align:middle;}
.link-add1 dd {width:200px;}
.link-add1 dd input {border:0;height:16px;width:90%;}
.link-add3  {float:left;width:300px;margin:0 auto;font-size:13px;font-weight:bold; height:18px;;padding-top:5px;padding-left:5px;margin-bottom:5px;text-align:center;}

.btn a.closeAdmin  {
    float: left;
    display: inline;
    background: url(/UFWeb/common/css/img/btn_opt_all.png) no-repeat -69px;
    width: 21px;
    height: 19px;
    text-indent: -9999em;
    margin: 0px 1px 0px 0px;
    outline: none;
    cursor: hand;
}

.link-inrapper {margin:0 auto;width:220px;position:relative;}
.link-inrapper h3 {color:#008ce1;font-size:14px;background: url(img/bar.gif) no-repeat 0 4px;padding-left:10px;}
.link-inrapper .close {position:absolute;}
.btn_center {text-align:center;clear:both;margin-top:10px;}
.link-add  {width:200px;margin:0 auto;}
.link-add dt,dd {float:left;border:1px solid #bde2ef;height:20px;margin-bottom:4px;}
.link-add dt {clear:both;width:60px;margin-right:5px;font-size:11px;vertical-align:middle;}
.link-add dd {width:110px;}
.link-add dd input {border:0;height:16px;width:90%;}


.inrapper .float-l {color:#006fda;}
.inrapper  li {margin-bottom:5px;line-height:140%;padding:3px 6px;letter-spacing:-1px;font-size:11px;border-bottom:1px solid #d1d1d1;}
.inrapper  li.gray {margin-bottom:3px;line-height:130%;padding:3px 6px;border:1px solid #d1d1d1;}
.inrapper  li.blue {margin-bottom:3px;line-height:130%;padding:3px 6px;border:1px solid #6cc0de;}
.inrapper  li.blue a {color:#006fda;}

.ctn_manage_pop {width:124px;position:relative;}
.ctn_manage_pop .top_area {width:124px;relative;background: url(img/bg_ctn_addtop.png) no-repeat left top;height:8px;}
.ctn_manage_pop .ctn_area {background: url(img/bg_ctn_addbottom.png) no-repeat left bottom;padding-bottom:20px;}
.ctn_manage_pop .ctn_area  .inrapper {width:100px;margin:0 auto;}
.ctn_manage_pop .ctn_area  .inrapper .float-l {color:#006fda;}
.ctn_manage_pop .ctn_area  .inrapper  li {margin-bottom:5px;line-height:140%;padding:6px 6px;letter-spacing:-1px;font-size:11px;}
.ctn_manage_pop .ctn_area  .inrapper  li.gray {margin-bottom:3px;line-height:130%;padding:3px 6px;border:1px solid #d1d1d1;}
.ctn_manage_pop .ctn_area  .inrapper  li.blue {margin-bottom:3px;line-height:130%;padding:3px 6px;border:1px solid #6cc0de;}
.ctn_manage_pop .ctn_area  .inrapper  li.blue a {color:#006fda;}

.member_seachbox {width:490px;margin:0 auto;padding:0px 0;}
.member_seachbox .none_msg {text-align:center;padding-top:80px;}
.member_seachinfobox {width:490px;margin:0 auto;padding-top:2px;}
.member_seachinfobox .member_photo {float:left;}
.member_seachinfobox .member_photo img {margin-top:10px;padding:5px;border:1px solid #bde2ef;}
.member_seachinfobox .member_infor {float:left;margin-left:20px;width:350px;}
.member_seachinfobox .member_infor li {text-align:left;line-height:140%;background:url(img/line_C_dot30.jpg) no-repeat left bottom;padding:5px 0 4px 15px;font-size:11px;}
.member_seachinfobox .member_infor li span {width:50px;color:#323333;}

.tit_area_all{background: url(img/result_bg05.gif) no-repeat right bottom;width:115px;height:42px;position:relative;}
.tit_area_all h3 {font-size:18px;color:#000;font-weight:bold;font-family:³ª´®°íµñ;letter-spacing:-1px;}


.tit_area1 {background: url(img/result_bg01.gif) no-repeat right bottom;width:115px;height:42px;position:relative;}
.tit_area1 h3 {font-size:18px;font-weight:bold;font-family:³ª´®°íµñ;letter-spacing:-1px;}

.tit_area2 {background: url(img/result_bg01.gif) no-repeat right bottom;width:115px;height:42px;position:relative;}
.tit_area2 h3 {font-size:18px;font-weight:bold;font-family:³ª´®°íµñ;letter-spacing:-1px;}



/* sub */
.pralse_rapper {width:100%;margin:0 auto;background: url(img/bg_pralse.jpg) no-repeat;height:250px;border-bottom:1px solid #00c8f1;}
.pralse_left_section {float:left;width:295px;}
.pralse_right_section {float:left;width:475px;}

.praise_tody_rapper {width:300px;background: url(img/bg_pralse.jpg) no-repeat left top;}
.praise_tody_rapper h3 {margin-left:60px;padding-top:15px;color:#0074db;font-size:14px;font-weight:bold;}

.praise_tody_rapper  .photo_img {float:left;}
.detail_infor {clear:both;padding-top:30px;}
.detail_infor .photo_img {margin-left:10px;}
.detail_infor .photo_img span {padding:3px;border:1px solid #bde2ef;width:100px;}
.detail_infor  .ppinofor {float:left;margin-left:10px;padding-top:10px;}
.detail_infor  .ppinofor li {background: url(img/icon_arrow.jpg) no-repeat left 3px;padding-left:7px;color:#4f4f4f;margin-bottom:3px;}

.praise_rightbox {float:left;background: url(img/bg_pralse.jpg) no-repeat right top;}
.praise_rightbox  .flort_msg {float:right;padding-top:7px;color:#666666;}
.month_btn {clear:both;padding-top:20px;}
.month_btn li {float:left;margin-right:1px;}

.month_pp {clear:both;padding-top:10px;float:left;}
.month_pp li {width:150px;float:left;}
.month_pp li .pp_photot {}
.month_pp li.btn {width:20px;}
.weekly_pp li {width:70px;}
.mppp_txt  {width:70px;text-align:center;color:#0074db;padding-top:7px;}
.mppp_txt a {text-align:center;color:#0074db;}

.imwon_tbl th {height:30px;vertical-align:middle;background: #f7f7f7;border-top:1px solid #bde2ef;border-bottom:1px solid #bde2ef;}
.imwon_tbl td {height:30px;vertical-align:middle;padding-left:7px;border-top:1px solid #bde2ef;border-bottom:1px solid #bde2ef;}

.imwon_name {text-align:center;height:20px;}
.imwon_statu {clear:both;text-align:center;padding-top:8px;}
.imwon_statu image{padding-top:2px;}

.imwon_icontxt span {height:27px;margin-right:3px;}
.imwon_icontxt .icon01 {background: url(img/icon_imwon01.gif) no-repeat 0 1px;padding-left:15px;font-size:11px;padding-top:2px;}
.imwon_icontxt .icon02 {background: url(img/icon_imwon02.gif) no-repeat 0 1px;padding-left:16px;font-size:11px;padding-top:2px;}
.imwon_icontxt .icon03 {background: url(img/icon_imwon03.gif) no-repeat 0 1px;padding-left:16px;font-size:11px;padding-top:2px;}
.imwon_icontxt .icon04 {background: url(img/icon_imwon04.gif) no-repeat 0 1px;padding-left:15px;font-size:11px;padding-top:2px;}

/* pop contents add */
#pop_ctnrapper {border:3px solid #024ec9;width:635px;min-height:538px;padding:9px 10px 9px 0;position:relative;}
#pop_ctnrapper .close {position:absolute;top:10px;right:10px;}
#pop_ctnrapper .btnEnd {position:absolute;top:10px;right:37px;}

#pop_ctnrapper  .left_tab {float:left;width:110px;}
#pop_ctnrapper  .left_tab h1 {color:#006fda;font-weight:bold;font-size:15px;font-family:³ª´®°íµñ;margin-left:10px;padding-top:2px;background: url(img/bar.gif) no-repeat 0 5px;padding-left:10px;}
#pop_ctnrapper  .left_tab ul {clear:both;margin-top:10px;}
#pop_ctnrapper  .left_tab li.on {background: url(img/bg_ctnadd_mn_on.gif) no-repeat;width:109px;height:22px;padding:3px 15px;font-weight:bold;letter-spacing:-1px;cursor:pointer;}
#pop_ctnrapper  .left_tab li.on a {color:#0d5eaa;}
#pop_ctnrapper  .left_tab li {background: url(img/bg_ctnadd_mn.gif) no-repeat;width:109px;height:22px;padding:3px 15px;font-weight:bold;letter-spacing:-1px;cursor:pointer;}
#pop_ctnrapper  .left_tab li a {color:#6b6b6b;}
#pop_ctnrapper  .left_tab li span {background: url(img/icon_a.gif) no-repeat 0 6px;padding-left:7px;}
#pop_ctnrapper  .right_ctn {float:left;}
#pop_ctnrapper  .right_ctn ul {width:500px;margin-left:15px;padding-top:20px;}
#pop_ctnrapper  .right_ctn li {margin-left:20px;width:220px;height:112px;float:left;border-bottom:1px solid #cecece;padding:8px 0;padding-bottom:5px;}
#pop_ctnrapper  .right_ctn .btn_right {text-align:right;padding-top:10px;height:30px;}


/* ¿¬±¸¿ø- ´çÁ÷ÇöÈ²Á¶È¸¾Ë¸²Ã¢ */
#researchRoster {background:#000;color:#fff;cursor:default;width:320px;height:40px;padding:20px 10px 10px 20px;position:relative;}
#researchRoster .researchRosterImg {position:absolute;top:10px;left:20px;}
#researchRoster .data {vertical-align:top;0px;left:70px;position:relative;}
		
/* IT SUPORT */
.itsuport_rapper {position:relative;width:979px;}
.itsuport_rapper  .head_area {width:979px;height:49px;background: url(img/itpage/bg_top.gif) no-repeat;position:relative;}
.itsuport_rapper  .head_area h1 {position:absolute;top:13px;left:14px;}
.itsuport_rapper  .head_area ul {position:absolute;top:17px;right:16px;}
.itsuport_rapper  .head_area li {float:left;}

.contents_section {clear:both;}
.contents_section .left_colum {float:left;width:159px;margin-left:10px;padding-top:14px;}
.contents_section .left_colum h2 {border-bottom:1px solid #bdbdbd;width:100%;height:43px;}

.right_colum {width:760px;margin-left:10px;float:left;padding-top:7px;}
.right_colum .location {text-align:right;font-size:11px;}

.contents_section .right_colum .title_bar {border-bottom:1px solid #bdbdbd;height:30px;}
.itart_box {width:370px;height:186px;}
.itart_box  h3 {border-bottom:2px solid #40789c;height:20px;background: url(img/itpage/bollet.gif) no-repeat 0 3px;padding-left:15px;color:#5297cc;}
.itart_inbox {border:1px solid #a1c2d4;padding:5px 10px;}
.itart_inbox li {position:relative;background: url(img/itpage/dotline.gif) no-repeat left bottom;padding:5px 0;width:347px;}
.itart_inbox li strong {width:60px;}
.itart_inbox li.last {background:none;}
.itart_inbox li .list {background: url(img/itpage/icon_itbollet.gif) no-repeat 0 5px;padding-left:7px;}
.itart_inbox li .list a {color:#7c7c7c;}
.itart_inbox li .more {position:absolute;right:5px;color:#000;}
.btn_right {text-align:right;padding-top:5px;}



/* °í±Þ°Ë»ö */
.seach_rapper {width:760px;background: url(img/itpage/bg_seachoption_top.gif) no-repeat left top;}
.seach_rapper .seach_head  {height:40px;position:relative;border-bottom:1px solid #006fdb;width:730px;margin:0 auto;padding-top:28px;}
.seach_cont {clear:both;padding-top:10px;width:730px;margin:0 auto;padding-left:8px;}
.seach_option {clear:both;margin-top:5px;}
.seach_option li {float:left;margin-right:6px;}
.special_seacharea {width:731px;margin:0 auto;clear:both;background: url(img/itpage/bg_ctntop.gif) no-repeat left top;}

.seach_input {width:578px;margin:0 auto;padding-top:20px;}
.seach_input li {float:left;margin-right:2px;}
.seachbox {width:385px;height:15px;padding:3px 5px;background:#fff;border:1px solid #96ccff;}

.seach_option_tbl {margin:0 auto;}
.seach_option_tbl  th {text-align:right;vertical-align:middle;color:#0056aa;font-weight:bold;padding:8px 0;}
.seach_option_tbl  th span {background: url(img/itpage/icon_itbollet.gif) no-repeat left 4px;padding-left:7px;}
.seach_option_tbl  td {text-align:left;vertical-align:middle;padding:8px 18px;color:#4f4f4f;}

.scrapButton {background: url(/UFWeb/common/css/img/scrap.jpg) no-repeat 0px 0px;width:16px;}
.scrapDel {background: url(/UFWeb/common/css/img/scrapDel.jpg) no-repeat 0px 0px;width:16px;}

/* ÄªÂù ¸±·¹ÀÌ */
.today_embox {width:180px;margin:0 auto;padding-top:14px;}
.today_inbox  {width:180px;height:95px;background: url(img/itpage/dotline.gif) no-repeat left bottom;margin-bottom:10px;}
.today_inbox .em_photo {width:70px;float:left;text-align:center;}
.today_inbox .em_photo img {padding:3px;border:1px solid #dadfe3;}
.today_inbox .em_infor {float:left;70px;text-align:left;margin-left:10px;}
.today_inbox .em_infor li {line-height:140%;background: url(img/icon_arrow.jpg) no-repeat left 5px;padding-left:7px;color:#4f4f4f;}
.today_inbox .em_infor li.tit {font-weight:bold;height:20px;background:none;padding-left:0;}

.today_command {clear:both;}
.today_command li {background: url(img/icon_dot.gif) no-repeat 0 4px;padding-left:7px;}
.today_command li .w_name {font-size:11px;}

/* kspo  ¿ë¾îÁý*/

.kspo_rapper {width:760px;margin:0 auto;}

.kspo_rapper  .top_seachbox {clear:both;width:730px;margin:0 auto;border:1px solid #e5e5e5;background: #fbfbfb;padding:15px;}
.kspo_rapper  .top_seachbox  ul {margin-left:50px;*margin-left:20px !important;}
.kspo_rapper  .top_seachbox li {float:left;}
.kspo_rapper  .top_seachbox li.tit {width:73px;padding-top:7px;}
.kspo_rapper  .top_seachbox li.btn {padding-top:1px;width:54px;}
.kspo_rapper  .top_seachbox li.txt {width:101px;padding-top:6px;color:#4f4f4f;}

.kspo_rapper  .detail_option  {clear:both;margin:0px 0 0 50px;.margin:0px 0 0 20px;padding-top:1px;height:23px;}
.kspo_rapper  .detail_option ul {margin-left:0;*margin-top:-20px;}

.kspo_rapper .seach_form {border:2px solid #00aae8;width:394px;height:19px;padding-left:5px;margin-right:5px;vertical-align:middle;padding:5px 0 0 5px;}


.kspo_rapper  .inrapper_box {width:760px;margin:0 auto;}
.kspo_rapper .hot_key {color:#0182e1;font-weight:bold;font-size:13px;}
.kspo_rapper .hot_key a {color:#0182e1;font-weight:bold;font-size:13px;}
.kspo_rapper  .keyword_cate {font-weight:normal;font-size:11px;color:#;letter-spacing:-1px;margin-left:8px;}
.kspo_rapper .seach_data {clear:both;margin-top:20px;position:relative;height:30px;}
.kspo_rapper .seach_result {background: url(seachr/dot.gif) no-repeat 0 4px;padding-left:9px;}



.kspo_rapper .seach_result_list {clear:both;border-top:1px solid #dedede;border-bottom:1px solid #dedede;margin-top:20px;}
.kspo_rapper .seach_result_list li {background: url(img/dot_line.gif) repeat-x left bottom;padding:10px 0 10px 0;}
.kspo_rapper .seach_result_list li.last {background:none;}
.kspo_rapper .seach_context {clear:both;padding:0px 5px;}
.kspo_rapper .seach_resulttxt {float:right;text-align:left;width:750px;}

.kspo_rapper .detail_contents  {padding:15px 10px !important;line-height:150% !important;}
.kspo_rapper  .s_title {color:#0074d9;font-weight:normal;}
.kspo_rapper  .s_dic_cont  {margin-left:10px;margin-top:5px;}

.kspo_rapper .s_dic_cont ul {margin-left:5px;}
.kspo_rapper .s_dic_cont li {line-height:140%;padding:0 0 0 7px  !important;background: url(img/icon_arrow.jpg) no-repeat left 5px !important;color:#969696  !important;}
.kspo_rapper .s_dic_cont li a {color:#969696  !important;font-weight:normal  !important;}
.kspo_rapper .s_dic_cont li a:visited {color:#969696  !important;font-weight:normal  !important;}
.kspo_rapper .s_dic_cont li a:actived {color:#969696  !important;font-weight:normal  !important;}
.kspo_rapper  .in_form {border:1px solid #dfe0e0;height:15px;width:220px;padding-left:8px;}
.kspo_rapper .wr_form  {border:1px solid #dfe0e0;height:150px;width:99%;}

/* Á÷¿øÁ¶È¸ */
.m_seach_rapper {width:776px;height:120px;background: url(img/bg_mmseach.gif) no-repeat;padding-top:47px;.padding-top:47px;margin-top:-7px;}
.m_seach_rapper .tbl_box {width:570px;position:relative;float:right;margin-right:55px;text-align:left;*width:600px;*margin-right:20px;}
.tbl_box table {margin-top:-7px;margin-left:-6px;}
.tbl_box th {vertical-align:middle;width:70px;color:#4f4f4f;.height:20px;}
.tbl_box td {vertical-align:middle;color:#4f4f4f;.height:20px;}
.tbl_box td input {vertical-align:middle;}

/* ¸Þ´ººä */
.viewAllMenuBtn{cursor:hand;color:#678CB9;}




.viewall_list {
	border:3px solid #8AA54D;POSITION: absolute;top:80px;left:0px;background-color:#ffffff;z-index:9999; 
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 690px; PADDING-RIGHT: 5px; 
	HEIGHT: 590px; FONT-SIZE: 11px; PADDING-TOP: 10px
}

.viewall_list li{
	list-style-type:none;
}
.viewall_list ul{
	margin:0;padding:0;
}

.closeLink {FLOAT: right;height:19px;}

.closeLink a.closeAdmin  {
    float: left;
    display: inline;
    background: url(/UFWeb/common/css/img/btn_opt_all.png) no-repeat -69px;
    width: 21px;
    height: 19px;
    text-indent: -9999em;
    margin: 0px 1px 0px 0px;
    outline: none;
    cursor: hand;
}

.viewall_title1 {
	list-style-type:none;FONT-SIZE:12px;FONT-WEIGHT:bold;COLOR:#339933;padding: 11px 0 0 38px;WIDTH: 130px; FLOAT: left; HEIGHT: 30px;BACKGROUND: url(/UFWeb/common/css/img/link_menu01.gif) no-repeat right 0.1em;
}

.viewall_title2 {
	 FONT-SIZE:12px;FONT-WEIGHT:bold;COLOR:#66aa66;padding: 11px 0 0 38px;WIDTH: 130px; FLOAT: left; HEIGHT: 30px;BACKGROUND: url(/UFWeb/common/css/img/link_menu02.gif) no-repeat right 0.1em;
}

.viewall_viewlist {
	  FLOAT: left;BORDER-BOTTOM: #dedede 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 12px; WIDTH:490px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.viewall_viewlist UL{
	 list-style-type:none;height:18px;
}

.viewall_viewlist LI {
	list-style-type:none; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(/UFWeb/common/css/img/bullet_bar.gif) no-repeat right 0.1em; FLOAT: left; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.viewall_viewlist LI.first {
	list-style-type:none;PADDING-LEFT: 0px;CLEAR: both;
}
.viewall_viewlist LI.last {
	list-style-type:none;BACKGROUND: none transparent scroll repeat 0% 0%;
}



.msgsend_rapper {border:1px solid #555555;}
.msgsend_rapper .msg_head {height:28px;background:#01a6e8;position:relative;}
.msgsend_rapper .msg_head h1 {color:#fff;font-size:14px;padding:6px 0 0 10px;line-height:140%;}
.msgsend_rapper .msg_ctnarea {clear:both;}
.msgsend_rapper .msg_ctnarea .photo_img img {padding:3px;border:1px solid #cccccc;}
.msgsend_rapper  .name_infor a {color:#278fcc;}
.msgsend_rapper .bottom {height:27px;background: #f2f2f2;text-align:right;padding-right:10px;border-top:1px solid #cccccc;padding-top:4px;}
.msgsend_rapper .wr_formarea {width:360px;text-align:center;border-top:1px solid #cccccc;padding:8px 0;margin:0 auto;}


/* KSPO ¸¶ÀÎµåÆË¾÷ */
#kspopop_rapper {width:400px;background: url(search/seach_pgtop.gif) no-repeat left top;}
.inrapper_box {margin:0 auto;}
.kspop_title_area {height:50px;position:relative;padding:0 20px;}
.kspop_title_area h1 {position:absolute;left:20px;top:15px;}
.kspop_cont_area {clear:both;position:relative;padding:0 20px;}
.kspop_cont_area .txt {color:#666666;background: url(search/dot.gif) no-repeat 0 5px;padding-left:7px;height:30px;}

/*1214ÀÏ Ãß°¡µÈ css */
.kspo_list {margin-left:20px;width:503px;padding-top:20px;}
.kspo_list li {background: url(img/icon_ksmind.jpg) no-repeat left 3px;padding-left:15px;font-weight:bold;color:#3472aa;margin-bottom:10px;}
.kspo_list li p {font-weight:normal;color:#7a7a7a;}

.ksmindbottom_tab {clear:both;margin-top:30px;height:20px;padding-top:5px;background: #ecf4ff;border-top:1px solid #bbc9d6;border-bottom:1px solid #bbc9d6;}
.ksmindbottom_tab ul {margin-left:70px;}
.ksmindbottom_tab li {float:left;background: url (img/bg_tabline.jpg) no-repeat right ;padding:0 8px;}

.ksmind_bottom_btn {width:640px;text-align:right;clear:both;margin-top:10px;}
.kspop_title_area h2 {font-size:16px;color:#018ae3;letter-spacing:-1px;padding-top:13px;font-weight:bold;border-bottom:1px solid #006fdb;height:28px;}

.ksmd2_htxt {margin-left:20px;letter-spacing:-0.05em;}
.tbl_box_ksmd2 {clear:both;width:650px;text-align:center;margin:0 auto;}
.tbl_box_ksmd2  table {width:600px;border-top:2px solid #438aac;}
.tbl_box_ksmd2 th {color:#3472aa;height:28px;vertical-align:middle;background:#daeef9;border-bottom:1px solid #c5e7fa;text-align:center;border-left:1px solid #c5e7fa;font-weight:bold;}
.tbl_box_ksmd2 th.left {height:28px;vertical-align:middle;border-bottom:1px solid #c5e7fa;text-align:center;border-left:0;font-weight:bold;}
.tbl_box_ksmd2 td {height:28px;vertical-align:middle;border-bottom:1px solid #c5e7fa;border-top:1px solid #c5e7fa;text-align:center;border-left:1px solid #c5e7fa;}
.tbl_box_ksmd2 td.left {height:28px;vertical-align:middle;border-bottom:1px solid #c5e7fa;border-top:1px solid #c5e7fa;text-align:center;border-left:0;}


/* ·Î±×ÀÎ */
.login_rapper {width:100%;height:100%;background: url(img/bg_login_page.gif);}
.login_head {height:60px;width:100%;background: url(img/bg_head.gif) repeat-x;}
.login_head_inrapper {width:875px;margin:0 auto;position:relative;}
.login_head_inrapper h1 {position:absolute;right:28px;top:20px;}
.login_page {width:100%;}
.inraper_loginpge {width:1076px;margin:0 auto;position:relative;}

.loginbox {width:843px;height:440px;position:absolute;right:124px;top:50px;background: url(img/bg_loginbox.gif) no-repeat;padding-top:200px;}
.login_area {float:right;width:345px;position:relative;padding:0px 10px 0 0;}
.login_area table {clear:both;margin-top:10px;}
.login_area th {vertical-align:middle;height:48px;}
.login_area td {vertical-align:middle;height:48px;}
.loginform {border:5px solid #dbe3e5;height:20px;padding-top:3px;padding-left:10px;width:180px;}

/* ÂÊÁö º¸³»±â Ãß°¡µÈ css */
.sendpaper_rapper {width:550px;}
.sendpaper_rapper .title_area {width:100%;height:22px;background: #01a6e8;line-height:140%;padding-top:8px;}
.sendpaper_rapper .title_area  h1 {color:#fff;font-size:14px;padding:0;margin-left:10px;}

.sendpaper_rapper  .send_contents {width:100%;}
.sendpaper_rapper  .send_contents .photo {float:left;width:120px;height:120px;text-align:center;padding-top:10px;margin-right:10px;}
.sendpaper_rapper  .send_contents .photo .photobox {width:100px;height:120px;padding:3px;border:1px solid #d7d7d7;margin:0 auto;}
.sendpaper_rapper  .send_contents .send_listbox {float:left;width:170px;padding-top:10px;height:140px;*height:120px;}
.sendpaper_rapper  .send_contents .btn_area {float:left;width:30px;text-align:left;padding-top:50px;}
.sendpaper_rapper  .send_contents .out_list {float:left;width:170px;padding-top:10px;height:130px;}

.sendpaper_rapper   .msg_box {clear:both;margin-top:15px;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;padding-top:7px;padding-left:10px;}
.sendpaper_rapper  .paper_write {text-align:center;padding:5px;}
.sendpaper_rapper .bottom_area {width:510px;height:30px;padding-top:5px;background: #f2f2f2;text-align:right;padding-right:10px;}
.sendpaper_rapper .bottom_area  input {height:20px;} 

.pper_list_v {width:250px;}
.pper_list_v  .paper_title_area  {width:250px;height:22px;background: #01a6e8;line-height:140%;padding-top:8px;color:#fff;padding-left:10px;}
.pper_list_v  .paper_contents  {height:60px;padding:6px;line-height:130%;}
.pper_list_v  .paper_bottom {text-align:center;padding-top:4px;height:25px;background: #f2f2f2;}
.pper_list_v   input {height:20px;}

/* ÀüÀÚ¹®¼­¸¦ À§ÇØ ¼öÁ¤µÈ css */
.middle_top_tab{width:521px;height:292px;background: url(img/bg_tabmain.gif) no-repeat;line-height:140%;padding-top:5px;}
.left_tabarea {float:left;width:62px;}
.left_tabarea li {padding:0;height:58px;}
.right_frame {float:left;position:relative;}

.mtab_sublist2 {width:81px;float:left;height:288px;background:#678cb9;color:#ffffff;}
.mtab_sublist2 li.icoLine {clear:both;width:76px;background:url(img/cont_b_top_C_line.jpg) no-repeat left bottom; text-align:left; vertical-align:bottom;padding:4px 0px 4px 5px;line-height:125%;}
.mtab_sublist2 li.img_area {height:120px;overflow:hidden;text-align:center;}
.mtab_sublist2 li.icoLine {color:#FFFFFF;}
.mtab_sublist2 li.icoLine a {color:#FFFFFF; text-decoration:none;  letter-spacing:-1px;cursor:pointer;} 
.mtab_sublist2 li.icoLine a:visited { color:#FFFFFF; text-decoration:none;  letter-spacing:-1px;} 
.mtab_sublist2 li.icoLineon {letter-spacing:-1px;cursor:pointer;color:#333;clear:both;width:76px;background:url(img/cont_b_top_C_line.jpg) no-repeat left bottom; text-align:left; vertical-align:bottom;padding:4px 0px 4px 5px;line-height:125%;} 

.mtab_tbl {float:left;width:375px;vertical-align:top;}
.mtab_tbl th {font-size:11px;font-weight:bold;text-align:center;color:#666666;font-family:dotum;height:32px;line-height:140%;vertical-align:middle;background: #f6f6f6;border-bottom:1px solid #d9d9d9;}
.mtab_tbl th.line {border-right:1px solid #d9d9d9;}

.mtab_tbl td {font-size:13px;text-align:left;font-family:dotum;height:28px;vertical-align:middle;border-bottom:1px solid #f5f5f5;}
.mtab_tbl td.alc {font-size:13px;text-align:center;color:#333;}
.mtab_tbl td.btnLine{background: #f6f6f6;border-top:1px solid #d9d9d9;}

#mtab_tbl_Cnt {position:absolute;right:45px;padding-top:3px}
#mtab_tbl_Lbtn {position:absolute;right:25px;}
#mtab_tbl_Rbtn {position:absolute;right:5px;}

.mtab_tbl td span {background: url(img/icon_dot.gif) no-repeat 10px 4px;padding-left:17px;color:#333;}