BODY
{ 
    COLOR: black;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 180%;
    MARGIN: 10px;	
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
}

BODY.admin
{
    COLOR: black;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 180%;
    MARGIN: 0px;	
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
}

TABLE.list
{
    BORDER-BOTTOM: white 2px solid;
    BORDER-LEFT: white 2px solid;
    BORDER-RIGHT: white 2px solid;
    BORDER-TOP: white 2px solid;
}

TD
{
    COLOR: black;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
		line-height:180%;
}

TD.border
{
    COLOR: black;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
	border:1 solid #96b156;
	padding-left: 5px;
	padding-right: 5px;
}

TD.test
{
    COLOR: black;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 8pt;
	line-height:180%;
}

TD.test1
{
    COLOR: black;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 6pt;
	line-height:180%;
}

HFONT
{
    COLOR: #666666;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 150%;
}

A:link
{
    COLOR: #3333CC;
    TEXT-DECORATION: none;
}
A:visited
{
    COLOR: #3333CC;
    TEXT-DECORATION: none;
}
A:hover
{
    COLOR: #3333CC;
    TEXT-DECORATION: none;
}

A.title:link
{
    COLOR: #666666;
    TEXT-DECORATION: none;
}
A.title:visited
{
    COLOR: #666666;
    TEXT-DECORATION: none;
}
A.title:hover
{
    COLOR: #999999;
    TEXT-DECORATION: underline;
}

A.paging:link
{
    COLOR: black;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none;
}
A.paging:visited
{
    COLOR: gray;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none;
}
A.paging:hover
{
    COLOR: steelblue;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none;
}

A.foot:link { text-decoration:none; color:#666666; }
A.foot:visited { text-decoration:none; color:#666666; }
A.foot:active { text-decoration:none; }
A.foot:hover { text-decoration:none; color:#999999;}

.title
{
    COLOR: #666666;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 150%;
}
.red
{
    COLOR: red;
    LINE-HEIGHT: 180%;
    TEXT-DECORATION: none;
}

.blue
{
    COLOR: blue;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none;
}

.green
{
    COLOR: green;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none;
}

.white
{
    COLOR: white;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none;
}
.gray
{
    COLOR: gray;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none;
}

.cmd
{
    BACKGROUND-COLOR: silver;
    BORDER-BOTTOM: #7c7c7c 2px solid;
    BORDER-LEFT: #7c7c7c 2px solid;
    BORDER-RIGHT: #7c7c7c 2px solid;
    BORDER-TOP: #7c7c7c 2px solid;
    COLOR: white;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
    PADDING-TOP: 0px;
}

.txt
{
	margin:0;
	padding-Top:3;
	padding-Left:2;
	border-width:1;
	border-color:#cccccc;
	border-style:solid;
	FONT-SIZE: 9pt;
}

.cbo
{
    BACKGROUND-COLOR: #43ccc4;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
	font-color: white;
}

.cbo2
{
    BACKGROUND-COLOR: white;
    font-family: ±¼¸², verdana, geneva, helvetica, arial, sans-serif;
    FONT-SIZE: 9pt;
	font-color: black;
}

.name1{text-decoration:none}

a.name1:link{text-decoration:none; color:#FFFFFF}

a.name1:visited {text-decoration:none; color:#FFFFFF}

a.name1:hover{text-decoration:none; color: #CCCCCC}

		 
.name2{text-decoration:none}

a.name2:link{text-decoration:none; color:#006699}

a.name2:visited {text-decoration:none; color:#006699}

a.name2:hover{text-decoration:none; color: #666666}

img {border: none;}
P.breakhere {page-break-before: always}
