<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"    "http://www.springframework.org/dtd/spring-beans.dtd"><beans>	<!--	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"          destroy-method="close">        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>        <property name="url" value="jdbc:oracle:thin:@localhost:8088:1521:ORA10"/>        <property name="username" value="uscan_test"/>        <property name="password" value="uscat_test"/>        <property name="defaultAutoCommit" value="false"/>    </bean>
	-->
	<!-- 경주사업관리 DB  start -->		
	<bean id="jndi-rbm_ds" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:/comp/env/jdbc/RBM" />
		<property name="resourceRef" value="false" />
	</bean>
	<bean id="rbmdao" class="com.posdata.glue.dao.PosJdbcDao">
		<property name="dataSource">
			<ref local="jndi-rbm_ds" />
		</property>
		<property name="queryManager">
			<ref local="queryManager" />
		</property>
		<property name="columnDefCache" value="true" />
	</bean>	
	<bean id="tx_rbm" class="com.posdata.glue.transaction.PosDataSourceTransactionManager">
		<property name="dataSource">
			<ref local="jndi-rbm_ds" />
		</property>
	</bean>
	<!-- 경주사업관리 DB  end -->
	
	<!-- PC 파일 업로드 할 때 사용 -->
	<bean id="rbmjdbcdao" class="snis.rbm.common.util.RbmJdbcDao">
        <property name="dataSource"><ref local="jndi-rbm_ds"/></property>
        <property name="queryManager"><ref local="queryManager"/></property>
        <property name="columnDefCache" value="true"/>
    </bean>
  
	<!-- VENUS DB  start -->		
	<bean id="jndi-venus_ds" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:/comp/env/jdbc/venus" />
		<property name="resourceRef" value="false" />
	</bean>
	<bean id="venisrbmdao" class="com.posdata.glue.dao.PosJdbcDao">
		<property name="dataSource">
			<ref local="jndi-venus_ds" />
		</property>
		<property name="queryManager">
			<ref local="queryManager" />
		</property>
		<property name="columnDefCache" value="true" />
	</bean>
	<bean id="tx_venus" class="com.posdata.glue.transaction.PosDataSourceTransactionManager">
		<property name="dataSource">
			<ref local="jndi-venus_ds" />
		</property>
	</bean>
	<!-- VENUS DB  END -->
	
	<!-- DW01 DB  start -->		
	<bean id="jndi-dw01_ds" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:/comp/env/jdbc/DW01" />
		<property name="resourceRef" value="false" />
	</bean>
	<bean id="dw01rbmdao" class="com.posdata.glue.dao.PosJdbcDao">
		<property name="dataSource">
			<ref local="jndi-dw01_ds" />
		</property>
		<property name="queryManager">
			<ref local="queryManager" />
		</property>
		<property name="columnDefCache" value="true" />
	</bean>
	<bean id="tx_dw01" class="com.posdata.glue.transaction.PosDataSourceTransactionManager">
		<property name="dataSource">
			<ref local="jndi-dw01_ds" />
		</property>
	</bean>
	<!-- DW01 DB  END -->
			
	<!-- 회원실 MS-SQL DB  start -->	
	<bean id="jndi-solbipos_ds" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:/comp/env/jdbc/solbipos" />
		<property name="resourceRef" value="false" />
	</bean> 
	<bean id="msrbmdao" class="com.posdata.glue.dao.PosJdbcDao">
		<property name="dataSource">
			<ref local="jndi-solbipos_ds" />
		</property>
		<property name="queryManager">
			<ref local="queryManager" />
		</property>
		<property name="columnDefCache" value="true" />
	</bean>
	<bean id="tx_msrbm" class="com.posdata.glue.transaction.PosDataSourceTransactionManager">
		<property name="dataSource">
			<ref local="jndi-solbipos_ds" />
		</property>
	</bean>
	
	<!-- 회원실 MS-SQL DB  END -->	
	
	<bean id="queryManager" class="com.posdata.glue.dao.manager.PosQueryManagerImpl">
		<constructor-arg>
			<ref local="cacheManager" />
		</constructor-arg>
		<constructor-arg>
			<ref local="queryLoader" />
		</constructor-arg>
	</bean>



    <!-- JUPITER DB  start -->       
    <bean id="jndi-jupit_ds" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:/comp/env/jdbc/JUPIT" />
        <property name="resourceRef" value="false" />
    </bean>
    <bean id="jupitdao" class="com.posdata.glue.dao.PosJdbcDao">
        <property name="dataSource">
            <ref local="jndi-jupit_ds" />
        </property>
        <property name="queryManager">
            <ref local="queryManager" />
        </property>
        <property name="columnDefCache" value="true" />
    </bean> 
    <bean id="tx_jupit" class="com.posdata.glue.transaction.PosDataSourceTransactionManager">
        <property name="dataSource">
            <ref local="jndi-jupit_ds" />
        </property>
    </bean>
    <!-- JUPITER DB  end -->
    

    <!-- TMONEY DB  start -->
    <bean id="jndi-tmoney_ds" class="org.springframework.jndi.JndiObjectFactoryBean">
            <property name="jndiName" value="java:/comp/env/jdbc/TMONEY" />
            <property name="resourceRef" value="false" />
    </bean>
    <bean id="tmoneydao" class="com.posdata.glue.dao.PosJdbcDao">
            <property name="dataSource">
                    <ref local="jndi-tmoney_ds" />
            </property>
            <property name="queryManager">
                    <ref local="queryManager" />
            </property>
            <property name="columnDefCache" value="true" />
    </bean>
    <bean id="tx_tmoney" class="com.posdata.glue.transaction.PosDataSourceTransactionManager">
            <property name="dataSource">
                    <ref local="jndi-tmoney_ds" />
            </property>
    </bean>
    <!-- TMONEY DB  END -->

	<bean id="cacheManager" class="com.posdata.glue.cache.PosCacheManagerJCS" />
	<bean id="queryLoader" class="com.posdata.glue.dao.manager.PosQueryLoader" />
 
	 
</beans>