<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>발그레 | 관리자페이지</title>

   	#parse ("/admin/layout/common_css.vm")	
   	
   	<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.bootstrap.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" rel="stylesheet" />
</head>

<body class="nav-md footer_fixed">
	<div class="container body">
		<div class="main_container">
			#parse ("/admin/layout/header.vm")
			<!-- page content -->
			<div class="right_col" role="main">
				<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>택배사<small>목록</small></h2>
                    <ul class="nav navbar-right">
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatables" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                        	<th>CODE</th>
            			    <th>택배사</th>
                        </tr>
                      </thead>
                      <tbody>	
                      	<tr>
                      		<td></td>
            			    <td></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
			</div>
			</div>
		</div>
		<!-- page content end-->
		#parse ("/admin/layout/footer.vm")
	</div>
</div>
	#parse ("/admin/layout/common_js.vm")
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
    <script>
    var myTable;
    $(document).ready(function() {
        myTable = $('#datatables').DataTable({
        	dom: 'Bfrtip',
			stateSave: true,	
          	"processing": true,
          	"serverSide": true,
          	"order": [],
          	"ajax": {
          		"url": "list_processing",
          		"data": function(data) {
          			planify(data);
                }
          	},
          	select:true,
          	columns: [
					{"data": "code", "name": "code"},
					{"data": "name", "name": "name"}
				],   
			buttons: [
				        {
				              text: '등록',
				              action: function ( e, dt, button, config ) {
				                  addBrand();
				              }
				          },
				          {
				              text: '수정',
				              enabled: false,
				              action: function ( e, dt, button, config ) {
				            	  var rowData = myTable.rows( '.selected' ).data().toArray();
				                  updateBrand(rowData[0]);
				              }
				          }
				      ],
			responsive: true
        });
        
        myTable.on( 'select', function () {
            var selectedRows = myTable.rows( { selected: true } ).count();
            myTable.button( 1 ).enable( selectedRows === 1 );
        } );
        
        myTable.on( 'deselect', function () {
            var selectedRows = myTable.rows( { selected: true } ).count();
            if(selectedRows == 0) {
           		myTable.button( 1 ).disable();
            }
            
            if(selectedRows == 1) 
            	myTable.button( 1 ).enable();
            
        } );
        
    } );
    
    function planify(data) {
        for (var i = 0; i < data.columns.length; i++) {
            column = data.columns[i];
            column.searchRegex = column.search.regex;
            column.searchValue = column.search.value;
            delete(column.search);
        }
    }
   
    function BootboxContent(name, code){    
        var frm_str = '<form id="delivery-form">'
			           + '<div class="form-group">'
			           + '<input type="text" id="code" name="code" class="form-control input-sm" size="3" placeholder="택배사 코드를 입력하세요." value="' + code + '">'
			           + '</div>'
                       + '<div class="form-group">'
                       + '<input id="name" name="name" class="form-control input-sm" size="10" placeholder="택배사를 입력하세요." type="text" required="required" value="' + name + '">'
                       + '</div>'
                       + '</form>';

        var object = $('<div/>').html(frm_str).contents();

         return object
    }

    function addBrand() {
    	bootbox.dialog({
    	    title: '택배사 정보 입력',
    	    message: BootboxContent("", ""),
    	    closeButton: true,
    	    buttons: {
    	    	cancel: {
    	            label: '닫기',
    	            className: 'btn-danger'
    	        },
    	    	confirm: {
    	            label: '등록',
    	            className: 'btn-success btn-add',
    	            callback: function (result) {
    	            	this.modal('hide');
    	            	var params = $("#delivery-form").serialize();
    	            	$.ajax({
    	    				url: "add",
    	    				contentType: 'application/x-www-form-urlencoded; charset=UTF-8', 
    	    				data: params,
    	    				type: 'POST',
    	    				success: function(result){
    	    					if(result.resultCode == 200) {
    	    						bootbox.alert(result.message, function() {
    	    							myTable.ajax.reload();
    	    						});
    	    					} else {
    	    						bootbox.alert(result.message, function() {});
    	    					}
    	    				},
    	    				error: function(){
    	    					bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
    	    				}
    	    			});
    				}
    	        }
			}
			 
    	});
    	$('#name').keyup(function(){
			if($(this).val().length !=0){
				$('.btn-add').attr('disabled', false);
			} else {
				$('.btn-add').attr('disabled', true);        
			}
		});
    	
    	$('.btn-add').prop("disabled", true);
    }
    
    function updateBrand(data) {
    	var updData = JSON.stringify(data);
    	bootbox.dialog({
    	    title: '택배사 정보 수정',
    	    message: BootboxContent(data.name, data.code),
    	    closeButton: true,
    	    buttons: {
    	    	cancel: {
    	            label: '닫기',
    	            className: 'btn-danger'
    	        },
    	    	confirm: {
    	            label: '수정',
    	            className: 'btn-success btn-add',
    	            callback: function (result) {
    	            	this.modal('hide');
    	            	var params = $("#delivery-form").serialize();
    	            	data.name = $("#name").val();
    	            	data.phone = $("#phone").val();
    	            	data.homepage = $("#homepage").val();
    	            	$.ajax({
    	    				url: "update",
    	    				contentType: 'application/json',
    	    			    mimeType: 'application/json',
    	    			    dataType: 'json', 
    	    			    data: JSON.stringify(data),
    	    				type: 'POST',
    	    				success: function(result){
    	    					if(result.resultCode == 200) {
    	    						bootbox.alert(result.message, function() {
    	    							myTable.ajax.reload();
    	    						});
    	    					} else {
    	    						bootbox.alert(result.message, function() {});
    	    					}
    	    				},
    	    				error: function(){
    	    					bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
    	    				}
    	    			});
    	            	
    				}
    	        }
			}
			 
    	});
    	$('#name').keyup(function(){
			if($(this).val().length !=0){
				$('.btn-add').attr('disabled', false);
			} else {
				$('.btn-add').attr('disabled', true);        
			}
		});
    	
    	/*
    	bootbox.prompt({
    		title: "수정할 브랜드명을 입력하세요.",
    		value: data.brandName,
    		callback: function (result) {
    			if(result) {
	    			data.brandName = result;
	    			$.ajax({
	    				url: "update",
	    				contentType: 'application/json',
	    			    mimeType: 'application/json',
	    			    dataType: 'json', 
	    				data: JSON.stringify(data),
	    				type: 'POST',
	    				success: function(result){
	    					if(result.resultCode == 200) {
	    						bootbox.alert(result.message, function() {
	    							myTable.ajax.reload();
	    						});
	    					} else {
	    						bootbox.alert(result.message, function() {});
	    					}
	    				},
	    				error: function(){
	    					bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
	    				}
	    			});
    			}
   			}
		});*/
    }
    
    </script>
    <!-- /Datatables -->
</body>
</html>