<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  	<body>
	  	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
		<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.2.js"></script>
		 <script type="text/javascript">
		 $(document).ready(function() {
			 var IMP = window.IMP; // 생략가능
			 IMP.init('imp60809676'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
			 IMP.request_pay({
			    pg : 'html5_inicis', // version 1.1.0부터 지원.
			    pay_method : '$!{payment.pay_method}',
			    merchant_uid : '$!{payment.merchantUid}',
			    name : '$!{payment.name}',
			    amount : '$!{payment.totalPayment}',
			    buyer_email : '$!{payment.buyer_email}',
			    buyer_name : '$!{payment.buyer_name}',
			    buyer_tel : '$!{payment.buyer_tel}',
			    buyer_addr : '$!{payment.buyer_addr}',
			    buyer_postcode : '$!{payment.buyer_postcode}',
			    vbank_due:'$!{vbankDate}',
			    m_redirect_url : 'http://digiserver.cafe24.com:10000/inapp/complete?paymentId=$!{payment.paymentId}',
			    app_scheme : 'ioniciamport'
			}, function(rsp) {
				console.log(rsp);
			    if ( rsp.success ) {
			        var msg = '결제가 완료되었습니다.';
			        msg += '고유ID : ' + rsp.imp_uid;
			        msg += '상점 거래ID : ' + rsp.merchant_uid;
			        msg += '결제 금액 : ' + rsp.paid_amount;
			        msg += '카드 승인번호 : ' + rsp.apply_num;
			        //location.href = "http://192.168.0.40:10000/api/payment/complete";
			    } else {
			        var msg = '결제에 실패하였습니다.';
			        msg += '에러내용 : ' + rsp.error_msg;
			    }
			    console.log(msg);
			});
		 });
		 </script>
	</body>
</html>
