<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>발그레 | 로그인</title>

    <!-- Bootstrap -->
    <link href="/webjars/github-com-twbs-bootstrap/v3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/webjars/nprogress/0.2.0/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/webjars/animate.css/3.5.2/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/dist/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
           	<form action="/admin/loginProcess" method="post" id="loginFrm">
              <h1>LOG IN</h1>
              <div>
                <input type="text" class="form-control" placeholder="아이디" required="required" name="username"/>
              </div>
              <div>
                <input type="password" class="form-control" placeholder="비밀번호" required="required" name="password"/>
              </div>
              <div>
              	<button class="btn btn-default submit" type="submit">Log in</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <!-- div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div -->
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form method="POST" action="reg_user" id="regUser">
              <h1>Create Account</h1>
              <div>
                <input type="text" class="form-control" name="username" placeholder="아이디" required="required" />
              </div>
              <div>
                <input type="email" class="form-control" name="email" placeholder="이메일" required="required" />
              </div>
              <div>
                <input type="text" class="form-control" name="name" placeholder="회사명" required="required" />
              </div>
              <div>
                <input type="text" class="form-control" name="phone" placeholder="전화번호" required="required" />
              </div>
              <div>
                <input type="password" class="form-control" name="password" placeholder="비밀번호" required="required" />
              </div>
              <div>
              	<button class="btn btn-default submit" type="submit">가입신청</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
