<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>발그레 | 관리자페이지</title>
	
   	#parse ("/admin/layout/common_css.vm")	
   	
   	<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.bootstrap.min.css" rel="stylesheet">
   	<link href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" rel="stylesheet" />
</head>

<body class="nav-md footer_fixed">
	<div class="container body">
		<div class="main_container">
			#parse ("/admin/layout/header.vm")
			<!-- page content -->
			<div class="right_col" role="main">
				<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>이벤트 <small>목록</small></h2>
                    <ul class="nav navbar-right">
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatables" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                        	<th>SORT</th>
                        	<th>Eid</th>
                        	<th>이미지</th>
            			    <th>이벤트타입</th>
            			    <th>진행여부</th>
            			    <th>상품</th>
            			    <th>등록일</th>
                        </tr>
                      </thead>
                      <tbody>	
                      	<tr>
                      		<td></td>
                      		<td></td>
            			    <td></td>
            			    <td></td>
            			    <td></td>
            			    <td></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
			</div>
			</div>
		</div>
		<!-- page content end-->
		#parse ("/admin/layout/footer.vm")
	</div>
</div>
		#parse ("/admin/layout/common_js.vm")
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
	<script src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
	
    <script>
    var myTable;
    $(document).ready(function() {
        myTable = $('#datatables').DataTable({
        	 dom: 'Bfrtip',
        	 rowReorder: {
 	  	        selector: 'td:nth-child(2)',
 	  	     	update: false
 	  	    },
			stateSave: true,	
          	"processing": true,
          	"serverSide": true,
          	"searching": false,
          	"order": [ [3, "asc"], [0, "asc"] ],
          	"lengthChange": true,
          	"ajax": {
          		"url": "list_processing",
          		"data": function(data) {
          			planify(data);
                }
          	},
          	select:true,
          	columns: [
					{"data": "sort", "name": "sort", "orderable": true},
					{"data": "eid", "name": "sort", "eid": false},
					{"data": "thumbnail", "name": "thumbnail", "orderable": false},
					{"data": "etype", "name": "etype", "orderable": false},
					{"data": "stopEvent", "name": "stopEvent", "orderable": false},
					{"data": "tid", "name": "tid", "orderable": false},
					{"data": "regDate", "name": "regDate", "orderable": false}
				],
				"columnDefs": [
								{
			   						"targets": 2,//index of column starting from 0	
			    					"data": "thumbnail", //this name should exist in your JSON response
			    					"render": function ( data, type, full, meta ) {
			    						return '<img src="' + "${image_url}" + data + '" height="70" />';	
			    					}
								},
								{
			   						"targets": 3,//index of column starting from 0	
			    					"data": "etype", //this name should exist in your JSON response
			    					"render": function ( data, type, full, meta ) {
			    						if(data == 0) {
			    							return '출석체크';
			    						} else if(data == 1) {
			    							return '브랜드';
			    						} else if(data == 2) {
			    							return '상품';
			    						} else if(data == 3) {
			    							return '기획전';
			    						} else if(data == 4) {
			    							return '쿠폰';
			    						} else {
			    							return '기본';	
			    						}
			    								
			    					}
								},
								{
			   						"targets": 4,//index of column starting from 0	
			    					"data": "stopEvent", //this name should exist in your JSON response
			    					"render": function ( data, type, full, meta ) {
			    						if(data == 1) {
			    							return '<span class="label label-danger">종료</span>';
			    						} else {
			    							return '<span class="label label-success">진행 중</span>';	
			    						}
			    								
			    					}
								},
								{
			   						"targets": 5,//index of column starting from 0	
			    					"data": "tid", //this name should exist in your JSON response
			    					"render": function ( data, type, full, meta ) {
			    						if(full.etype == 0) {
			    							return '';
			    						} else if(full.etype == 1) {
			    							return '<a href= "http://jamestomato.cafe24.com/eventdetail.php?product_id=' + data + '" class="btn btn-xs btn-info" target="_blank">보기</a>';
			    						} else if(full.etype == 2) {
			    							return '<a href= "http://jamestomato.cafe24.com/eventdetail.php?product_id=' + data + '" class="btn btn-xs btn-info" target="_blank">보기</a>';
			    						} else if(full.etype == 3) {
			    							return '';
			    						} else if(full.etype == 4) {
			    							return '';
			    						} else {
			    							return '';	
			    						}
			    								
			    					}
								},
								{
				  				   "targets": 6,//index of column starting from 0
				  				    "data": "regDate", //this name should exist in your JSON response
				  				    "render": function ( data, type, full, meta ) {
				  				    	e();
				  				    	return new Date(data).format("yyyy-MM-dd HH:mm:ss");		
				  			   		}
					  			}
							],
			buttons: [
					'pageLength',
				        {
				              text: '등록',
				              action: function ( e, dt, button, config ) {
				            	  location.href="write";
				              }
				          },
				          {
				              text: '수정',
				              enabled: false,
				              action: function ( e, dt, button, config ) {
				            	  var rowData = myTable.rows( '.selected' ).data().toArray();
				            	  location.href="update?eid=" + rowData[0].eid;
				              }
				          },
				          {
				              text: '진행',
				              enabled: false,
				              action: function ( e, dt, button, config ) {
				            	  var rowData = myTable.rows( '.selected' ).data().toArray();
				                  setEventStat(rowData, 0);
				              }
				          },
				          {
				              text: '중지',
				              enabled: false,
				              action: function ( e, dt, button, config ) {
				            	  var rowData = myTable.rows( '.selected' ).data().toArray();
				            	  setEventStat(rowData, 1);
				              }
				          },
				          {
				              text: '삭제',
				              enabled: false,
				              action: function ( e, dt, button, config ) {
				            	 var rowData = myTable.rows( '.selected' ).data().toArray();
				            	 deleteEvent(rowData);
				            	
				              }
				          }
				      ],
			responsive: true,
			'createdRow': function(row, data, dataIndex){
		         $(row).attr('id', data.eid);
		      }   
        });
        
        myTable.on( 'length.dt', function ( e1, settings, len ) {
            e();
        } );
        
        myTable.on( 'row-reorder', function ( e, diff, edit ) {
      	  	var eid = edit.triggerRow.data().eid;
      	  	var sort = edit.triggerRow.data().sort;
      		/*<![CDATA[*/
      		for(var i=0; i<diff.length; i++) {
      			var oldData = myTable.row(diff[i].oldPosition).data();
      			var newData = myTable.row(diff[i].newPosition).data();
      			if(oldData.sort == sort) {
      				reorderData(eid, oldData.sort, newData.sort )
      			}
      		}
      		 /*]]>*/
      	
      	});
        
        
        myTable.on( 'select', function () {
            var selectedRows = myTable.rows( { selected: true } ).count();
            myTable.button( 5 ).enable( selectedRows > 0 );
            myTable.button( 4 ).enable( selectedRows > 0 );
            myTable.button( 3 ).enable( selectedRows > 0 );
            myTable.button( 2 ).enable( selectedRows == 1 );
        } );
        
        myTable.on( 'deselect', function () {
            var selectedRows = myTable.rows( { selected: true } ).count();
            if(selectedRows == 0) {
            	myTable.button( 5 ).disable();
            	myTable.button( 4 ).disable();
            	myTable.button( 3 ).disable();
            }
            
            if(selectedRows == 1) {
            	myTable.button( 2 ).enable();
            }
        } );
    } );
    
    function planify(data) {
        for (var i = 0; i < data.columns.length; i++) {
            column = data.columns[i];
            column.searchRegex = column.search.regex;
            column.searchValue = column.search.value;
            delete(column.search);
        }
    }
    
    function reorderData(eid, oldorder,neworder) {
    	var formData = new FormData();
    	formData.append("eid", eid);
    	formData.append("oldorder", oldorder);
    	formData.append("neworder", neworder);
    	
    	$.ajax({
    		url: 'reorder',
    		processData: false,
    		contentType: false,
    		data: formData,
    		type: 'POST',
    		success: function(result){
    			myTable.ajax.reload();
    		},
    		error: function(){
    			alert("오류가 발생하여 잠시 후 다시 시도해 주세요.");
    		}
    	});
    }

    function setEventStat(rowData, flag) {
    	var message;
    	if(flag == 0) {
    		message = "선택한 이벤트를 진행 하시겠습니까?";
    	} else {
    		message = "선택한 이벤트를 종료 하시겠습니까?";
    	}
    	bootbox.confirm({
    	    message: message,
    	    buttons: {
    	        confirm: {
    	            label: 'Yes',
    	            className: 'btn-success'
    	        },
    	        cancel: {
    	            label: 'No',
    	            className: 'btn-danger'
    	        }
    	    },
    	    callback: function (result) {
    	    	if(result) {
    	    		$.ajax({
        				url: "eventStat?stat="+flag,
        				contentType: 'application/json',
        			    mimeType: 'application/json',
        			    dataType: 'json', 
        			    data: JSON.stringify(rowData), 
        				type: 'POST',
        				success: function(result){
        					if(result.resultCode == 200) {
        						bootbox.alert(result.message, function() {
        							myTable.ajax.reload();
        						});
        					} else {
        						bootbox.alert(result.message, function() {});
        					}
        				},
        				error: function(){
        					bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
        				}
        			});
    	    	}
    	    }
    	});
    }
     function deleteEvent(rowData) {
	
		$.ajax({
			url: "delete",
			contentType: 'application/json',
		    mimeType: 'application/json',
		    dataType: 'json', 
		    data: JSON.stringify(rowData), 
			type: 'POST',
			success: function(result){
				if(result.resultCode == 200) {
					myTable.ajax.reload();
					myTable.button( 0 ).disable();
				} else {
					bootbox.alert(result.message, function() {});
				}
			},
			error: function(){
				bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
			}
		});
    }
    
    </script>
    <!-- /Datatables -->
</body>
</html>