<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>발그레 | 관리자페이지</title>

	#parse ("/admin/layout/common_css.vm")
    <!-- Summernote -->
    <link href="/vendors/summernote/summernote.css" rel="stylesheet">
    
    <style type="text/css">
    	div.detail_note{
		    border-radius: 15px;
		    display: inline-block;
		    font-size: 15px;
		    margin: 15px 0;
		    padding: 3px 10px;
		   font-weight: bold;
		}
		
		.main_color{
		   color: #FFFFFF;
		   background: #6fc5db;
		   border: 0px;
		}
    </style>
  </head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			#parse ("/admin/layout/header.vm")
			<!-- page content -->
			<div class="right_col" role="main">
            	<div class="clearfix"></div>
            		<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
                			<div class="x_panel">
                  				<div class="x_title">
                    				<h2>이벤트 <small>등록</small></h2>
                    				<div class="clearfix"></div>
                  				</div>
                  			<div class="x_content">
                    			<form class="form-horizontal form-label-left" id="productForm">
                    				<input type="hidden" id="thumb_path" name="thumb_path" required="required"/>
                      				<div class="form-group">
                  						<label class="control-label col-md-2 col-sm-2 col-xs-12">이벤트 타입 <span class="required">*</span></label>
                  						<div class="col-md-8 col-sm-8 col-xs-12">
                  							<select class="select2 form-control" name="etype" id="etype" required="required">
                  								<option value="5">기본</option>
                  								<option value="0">출석체크</option>
                  								<option value="1">브랜드</option>
                  								<option value="2">상품</option>
                  								<option value="3">기획전</option>
                  								<option value="4">쿠폰</option>
                  							</select>
                   						</div>
  	              					</div>
  	              					<div id="def_p" class="form-group">
                        				<label class="control-label col-md-2 col-sm-2 col-xs-12">기본페이지 <span class="required">*</span></label>
                         				<div class="col-md-10 col-sm-10 col-xs-12">
			              					<div id="summernote">
			              					</div>
			            				</div>
                      				</div>
	        	              		<div id="sel_p" class="form-group">
                        				<label id="tText" class="control-label col-md-2 col-sm-2 col-xs-12">이동<span class="required">*</span></label>
                        				<div class="col-md-8 col-sm-8 col-xs-12">
                        					<select class="select2 form-control" id="tid" name="tid">
	                        					<option value="0">Default</option>
        	                				</select>
    	    	                		</div>
        	    	          		</div>
        	    	          		<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">썸네일이미지</label>
	                        			<div class="col-md-8 col-sm-8 col-xs-12">
		                          			<div id="thumb-image" class="dropzone dz-message text-center">
	    									</div>
	    	                    		</div>
	        	              		</div>
        	              			<div class="ln_solid"></div>
                      				<div class="form-group">
                        				<div class="col-md-6 col-md-offset-3">
                        					<button type="button" class="btn btn-primary" onclick="javascript:history.back();">취소</button>
                        					#if($action == 'update')
                          						<button id="send" type="submit" class="btn btn-success">수정하기</button>
                          					#else
                          						<button id="send" type="submit" class="btn btn-success">등록하기</button>
                          					#end
                        				</div>
                      				</div>
                    			</form>
                  			</div>
                		</div>
              		</div>
            	</div>
        	</div>
        	<!-- /page content -->
		#parse ("/admin/layout/footer.vm")
	</div>
</div>

	#parse ("/admin/layout/common_js.vm")
	<!-- summernote -->
    <script src="/vendors/summernote/summernote.min.js"></script>
    <script src="/vendors/summernote/summernote-image-attributes.js"></script>
    <!-- include summernote-ko-KR -->
	<script src="/vendors/summernote/lang/summernote-ko-KR.js"></script>	
	
	<!-- Select2 -->
    <script>
    Dropzone.autoDiscover = false;
      $(document).ready(function() {
    	  $('div#thumb-image').dropzone({
				url: "upload", // 드롭다운 시 업로드 되는 URL
			    maxFiles: 1,
			    maxFilesize: 10,
			    acceptedFiles: "image/*",
			    maxfilesexceeded: function(file) {
			    	console.log("maxfilesexceeded");
			        this.removeAllFiles();
			        this.addFile(file);
			    },
			    init: function() {
			    	this.on('success', function(file, json) {
			    		if(json.resultCode == 200) {
			    			// 성공
			    			$("#thumb_path").val(json.message);
			    		} else {
			    			//실패
			    			this.removeFile(file); 
			    		}
			    	});
			    	detail_this = this;
			    	this.on("error", function(file, message) { 
		                this.removeFile(file); 
		    		});
			    }
		
		});
    	  
    	$(".select2").select2({});
    	
    	$("#def_p").css("display", "none");
    	$("#sel_p").css("display", "none");
    	var eType = $("#etype").val();
    	if(eType == 1 || eType == 2 || eType == 3) {
    		getData();
    		$("#sel_p").css("display", "block");
    	} 
    	
    	if(eType == 5 || eType == 4 || eType == 0) { $("#def_p").css("display", "block"); }
    	
    	
		$("#etype").change(function() {
			console.log($("#etype").val());
			eType = $("#etype").val();
			if(eType == 0) { //출석체크
				$("#def_p").css("display", "block");
				$("#sel_p").css("display", "none");
			} else if(eType == 1) { // 브랜드
				getData();
				$("#def_p").css("display", "none");
				$("#sel_p").css("display", "block");
			} else if(eType == 2) { // 상품
				getData();
				$("#def_p").css("display", "none");
				$("#sel_p").css("display", "block");
			} else if(eType == 3) { // 기획전
				getData();
				$("#def_p").css("display", "none");
				$("#sel_p").css("display", "block");
			} else if(eType == 4) { // 쿠폰
				$("#def_p").css("display", "block");
				$("#sel_p").css("display", "none");
			} else if(eType == 5) { // 기본
				$("#def_p").css("display", "block");
				$("#sel_p").css("display", "none");
			}
		});
      });
      
      function getData() {
		var eType = $("#etype").val();
  	    $.ajax({
  	        url : "getData?eType=" + eType,
  	        type : "GET",
  	        cache : false,
  	        contentType : false,
  	        processData : false,
  	        success : function(data) {
  	        	console.log(data);
  	        	$("#tid").html(''); 
  	        	if(eType == 1) {
  	        		for(i=0; i<data.length; i++) {
  	        			$("#tid").append($("<option></option>").attr("value", data[i].brandId ).text(data[i].brandName ));
  	        		}
  	        	} else if(eType == 2) {
  	        		for(i=0; i<data.length; i++) {
  	        			$("#tid").append($("<option></option>").attr("value", data[i].prodId ).text(data[i].prodName ));
  	        		}
  	        	} else if(eType == 3) {
  	        		for(i=0; i<data.length; i++) {
						$("#tid").append($("<option></option>").attr("value", data[i].pid ).text(data[i].title ));
  	        		}
  	        	}
  	        	
  	        	 /*$(".mySelect")
  	           .append($("<option></option>")
  	           .attr("value", value )
  	           .text(value ));*/
  	        }
  	    });
      }
    </script>
    <!-- /Select2 -->
    
    <!-- summernote -->
    <script>
      $(document).ready(function() {
  		$('#summernote').summernote({
  		    lang: 'ko-KR', // default: 'en-US'
		   	height : 350,
		   	popover: {
	            image: [
	                ['custom', ['imageAttributes']],
	                ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
	                ['float', ['floatLeft', 'floatRight', 'floatNone']],
	                ['remove', ['removeMedia']]
	            ],
	        },
	        imageAttributes:{
	            imageDialogLayout:'horizontal', // default|horizontal
	            icon:'<i class="note-icon-link"/>',
	            removeEmpty:false // true = remove attributes | false = leave empty if present
	        },
		   	toolbar: [
			   	       // [groupName, [list of button]]
			   	       	['style', ['style']],
			   	       	['media', ['picture', 'link', 'video']],
			   	    	['table', ['table', 'hr']],
				   	    ['style2', ['bold', 'italic', 'underline', 'clear']],
				   	    ['font', ['strikethrough', 'superscript', 'subscript']],
				   	    ['fontname', ['fontname']],
				   	    ['fontsize', ['fontsize']],
				   	    ['color', ['color']],
				   	    ['para', ['ul', 'ol', 'paragraph']],
				   	    ['height', ['height']],
				   	    ['misc', ['undo', 'redo', 'fullscreen', 'codeview', 'help']],
				   	    ['tag', ['addTag']]
			   	     ],
		   	callbacks: {
	  		    onImageUpload : function(files) {
	  		    	sendFile(files[0], $(this));
	  		    }
		   	}
  		  });

      });
      
      function sendFile(file, editor) {
    	    data = new FormData();
    	    data.append("uploadFile", file);
    	    $.ajax({
    	        data : data,
    	        type : "POST",
    	        url : "imageUpload",
    	        cache : false,
    	        contentType : false,
    	        processData : false,
    	        success : function(data) {
    	        	//alert(data);
    	        	editor.summernote('insertImage', data);
    	            //editor.insertImage(welEditable, data);
    	        }
    	    });
    	}

    </script>
    <!-- /summernote -->

	<!-- validator -->
	<script>
      // initialize the validator function
      validator.message.date = 'not a real date';

      // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
      $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        .on('keypress', 'input[required][pattern]', validator.keypress);

      $('.multi.required').on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
      });

      $('form').submit(function(e) {
        e.preventDefault();
        var submit = true;

        // evaluate the form using generic validaing
        if (!validator.checkAll($(this))) {
          submit = false;
        }
        
        if (submit) {
			insertData();
        }
        	
          //this.submit();

        return false;
      });
      
	function insertData() {

		var params = $("#productForm").serializeObject();
		
		var markupStr = $('#summernote').summernote('code');
  		
  		if(markupStr) {
  			params.content = markupStr;	
  		}
		$.ajax({
			type: 'POST',
		    url: "save",
		    contentType: 'application/json',
		    mimeType: 'application/json',
		    dataType: 'json', 
		    data: JSON.stringify(params),
	        success: function(result){
	        	if(result.resultCode == 200) {
	        		bootbox.alert("등록 되었습니다.", function() {
						history.back();
					});
    			} else {
    				bootbox.alert(result.message, function() {});
    			}
		     },
			 error: function(){
				bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
			 }
	  	});
    }
    </script>
    <!-- /validator -->
</body>
</html>