<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>발그레 | 관리자페이지</title>

	#parse ("/admin/layout/common_css.vm")
    
    <style type="text/css">
    	div.detail_note{
		    border-radius: 15px;
		    display: inline-block;
		    font-size: 15px;
		    margin: 15px 0;
		    padding: 3px 10px;
		   font-weight: bold;
		}
		
		.main_color{
		   color: #FFFFFF;
		   background: #6fc5db;
		   border: 0px;
		}
    </style>
  </head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			#parse ("/admin/layout/header.vm")
			<!-- page content -->
			<div class="right_col" role="main">
            	<div class="clearfix"></div>
            		<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
                			<div class="x_panel">
                  				<div class="x_title">
                    				<h2>쿠폰<small>등록</small></h2>
                    				<div class="clearfix"></div>
                  				</div>
                  			<div class="x_content">
                    			<form class="form-horizontal form-label-left" id="productForm">
  	              					<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">쿠폰명 <span class="required">*</span></label>
	                        			<div class="col-md-8 col-sm-8 col-xs-12">
		                          			<input type="text" id="cpName" name="cpName" class="form-control" placeholder="쿠폰명을 입력하세요." required="required">
	    	                    		</div>
	        	              		</div>
	        	              		<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">쿠폰타입<span class="required">*</span></label>
    	                    			<div class="col-md-8 col-sm-8 col-xs-12">
	    	                      			<select class="select2 form-control" id="cpType" name="cpType">
            	            					<option value="0" selected>일반쿠폰</option>
                	        					<option value="1">중복쿠폰</option>
                	        					<option value="2">특별쿠폰-브랜드</option>
                	        					<option value="3">특별쿠폰-카테고리</option>
                	        					<option value="4">특별쿠폰-제품</option>
                	        					<option value="5">제품교환권</option>
                    	    				</select>
    	                	    		</div>
        	              			</div>
        	              			
        	              			<div class="form-group" id="cp_range">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">쿠폰대상<span class="required">*</span></label>
    	                    			<div class="col-md-8 col-sm-8 col-xs-12">
	    	                      			<select class="select2 form-control" id="cpRange" name="cpRange[]"  multiple="multiple">
                    	    				</select>
    	                	    		</div>
        	              			</div>
        	              			
        	              			<div class="form-group" id="range_user">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">적용회원<span class="required">*</span></label>
    	                    			<div class="col-md-8 col-sm-8 col-xs-12">
	    	                      			<select class="select2 form-control" id="rangeUser" name="rangeUser[]"  multiple="multiple">
                    	    				</select>
    	                	    		</div>
        	              			</div>
        	              			
        	              			<div id="sub_content">
	        	              			<div class="form-group">
		                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">할인타입<span class="required">*</span></label>
	    	                    			<div class="col-md-8 col-sm-8 col-xs-12">
		    	                      			<select class="select2 form-control" id="saleType" name="saleType">
	            	            					<option value="0" selected>할인율</option>
	                	        					<option value="1">할인금액</option>
	                    	    				</select>
	    	                	    		</div>
	        	              			</div>
	        	              			
		        	              		<div class="form-group" id="sale_per">
		                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">할인율<span class="required">*</span></label>
		                        			<div class="col-md-8 col-sm-8 col-xs-12">
			                          			<input type="number" id="price" name="price" class="form-control" min="0" placeholder="할인율을 입력하세요.">
		    	                    		</div>
		        	              		</div>
		        	              		
		        	              		<div class="form-group">
		                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">최대 할인금액<span class="required">*</span></label>
		                        			<div class="col-md-8 col-sm-8 col-xs-12">
			                          			<input type="number" id="maximum" name="maximum" class="form-control" min="0" placeholder="최대 할인금액을 입력하세요.">
		    	                    		</div>
		        	              		</div>
		        	              		
		        	              		<div class="form-group">
		                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">최소 상품금액<span class="required">*</span></label>
		                        			<div class="col-md-8 col-sm-8 col-xs-12">
			                          			<input type="number" id="minimum" name="minimum" class="form-control" min="0" placeholder="최소 상품금액을 입력하세요.">
			                          			<p class="help-block">* 제한이 없을시 0을 입력 해 주세요.</p>
		    	                    		</div>
		        	              		</div>
		        	              	</div>
        	              			<div class="form-group" id="cp_count">
		                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">수량<span class="required">*</span></label>
		                        			<div class="col-md-8 col-sm-8 col-xs-12">
			                          			<input type="number" id="cpCount" name="cpCount" min="-1" class="form-control" placeholder="쿠폰 수량을 입력하세요.">
			                          			<p class="help-block">* 제한이 없을시 -1을 입력 해 주세요.</p>
		    	                    		</div>
		        	              	</div>
	        	              		<div class="form-group">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">소멸기준<span class="required">*</span></label>
    	                    			<div class="col-md-8 col-sm-8 col-xs-12">
	    	                      			<select class="select2 form-control" id="endType" name="endType"  required="required" >
            	            					<option value="0" selected>다운로드 후</option>
                	        					<option value="1">특정날짜</option>
                	        					<option value="2">매일자정</option>
                    	    				</select>
    	                	    		</div>
        	              			</div>
        	              			<div class="form-group" id="endDiv">
	                        			<label class="control-label col-md-2 col-sm-2 col-xs-12">소멸<span class="required">*</span></label>
	                        			<div class="col-md-8 col-sm-8 col-xs-12" id="sale_date">
		                          			<fieldset>
					                            <div class="control-group">
					                              <div class="controls">
					                                <div class="input-prepend input-group">
					                                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
					                                  <input type="text" id="selectDate" name="selectDate" class="form-control" />
					                                </div>
					                              </div>
					                            </div>
					                        </fieldset>
	    	                    		</div>
	    	                    		<div class="col-md-8 col-sm-8 col-xs-12" id="after_date">
	    	                    			<input type="number" id="after" name="after" min="1" class="form-control" placeholder=".">
	    	                    			<p class="help-block">* 쿠폰 다운로드 받은 날짜 기준 해당 일수 이후에 소멸.</p>
	    	                    		</div>
	        	              		</div>
	        	              		<div class="ln_solid"></div>
                      				<div class="form-group">
                        				<div class="col-md-6 col-md-offset-3">
                        					<button type="button" class="btn btn-primary" onclick="javascript:history.back();">취소</button>
                          					<button id="send" type="submit" class="btn btn-success">등록하기</button>
                        				</div>
                      				</div>
                    			</form>
                  			</div>
                		</div>
              		</div>
            	</div>
        	</div>
        	<!-- /page content -->
		#parse ("/admin/layout/footer.vm")
	</div>
</div>

	#parse ("/admin/layout/common_js.vm")
	
		<script>
	 var _this;
	 var detail_this;
	 var couponDate=new Date();
	 $(function() {	 
		 $('#selectDate').daterangepicker({
        	locale: {
        	      format: 'YYYY-MM-DD hh:mm A',
        	      "applyLabel": "적용",
        	      "cancelLabel": "취소",
        	      "monthNames": [ "1월", "2월", "3월", "4월", "5월", "6월", 
              	                "7월", "8월", "9월", "10월","11월", "12월"
              	           	  ],
              	"daysOfWeek": [ "일", "월", "화", "수", "목", "금", "토"],
        	},
        	singleDatePicker: true,
        	timePicker: true,
        	timePicker24Hour: true,
            timePickerIncrement: 10,
        	startDate: couponDate
        }, function(start, end, label) {
        	couponDate = start;
        });
	});
	    
	</script>
	<!-- Select2 -->
    <script>
      $(document).ready(function() {
    	  // 쿠폰타입 변경시
    	  $("#cpType").change(function() {
    		  console.log($(this).val());
    		  $("#range_user").css("display", "none");
    		  if($(this).val() == 5) {	// 중복 또는 교환권 선택시
    			 $("#sub_content").css("display", "none");
    			 
    			 if($(this).val() == 5) {
    				 $("#cp_count").css("display", "none");
    				 $("#cp_range").css("display", "block");
    				 $("#range_user").css("display", "block");
    			 } else {
    				 $("#cp_range").css("display", "none");
    				 $("#cp_count").css("display", "block");	 
    			 }
    		  } else {
    			  if($(this).val() == 0 || $(this).val() == 1) {
    				  $("#cp_range").css("display", "none");
    			  } else {
    				  $("#cp_range").css("display", "block");  
    			  }
    			  
    			  $("#sub_content").css("display", "block");
    			  $("#cp_count").css("display", "block");
    		  }
    		  
    		  changeRange($(this).val());
		  });
    	  
    	  // 할인타입 변경시
    	  $("#saleType").change(function() {
    		  console.log($(this).val());
    		  if($(this).val() == 1) {	// 금액할인
    			  $("#sale_per").css("display", "none");
    		  } else {				// 할인율
    			  $("#sale_per").css("display", "block");
    		  }
  		});
    	  
    	  // 소멸기준 변경시
    	$("#endType").change(function() {
    	  console.log($(this).val());
    	  if($(this).val() == 0) {	// 다운로드
    		  $("#endDiv").css("display", "block");
    		  $("#after_date").css("display", "block");
    		  $("#sale_date").css("display", "none");
    	  } else if($(this).val() == 1) {	// 특정일
    		  $("#endDiv").css("display", "block");
    		  $("#sale_date").css("display", "block");
    		  $("#after_date").css("display", "none");
    	  } else {				// 자정
    		  $("#endDiv").css("display", "none");
    	  }
  		});
    	  
        $(".select2").select2({});
        $(".select2_multiple").select2({
          placeholder: "카테고리를 선택하세요.",
          allowClear: true
        });
        
        if($("#cpType").val() == 0) {
        	$("#cp_range").css("display", "none");
        }
        
        if($("#cpType").val() != 5) {
        	$("#range_user").css("display", "none");
        }
        
        if($("#endType").val() == 0) {	// 다운로드
			$("#endDiv").css("display", "block");
  		  	$("#after_date").css("display", "block");
  		  	$("#sale_date").css("display", "none");
		} else if($("#endType").val() == 1) {	// 특정일
			$("#endDiv").css("display", "block");
			$("#sale_date").css("display", "block");
			$("#after_date").css("display", "none");
	  	 } else {				// 자정
			$("#endDiv").css("display", "none");
	  	 }
      });
      
      function changeRange(type) {
    	  if(type == 0) {
    		  
    	  } else if(type == 3) {
    		  $("#cpRange").html(''); 
    	      #foreach($ctg in $!{category}) 
    	      	#if($!ctg.get(3))
    	      		$("#cpRange").append($("<option selected></option>").attr("value", "$!ctg.get(3)" ).text("$ctg.get(1)" + " > " + "$ctg.get(4)"));
				#else
					$("#cpRange").append($("<option selected></option>").attr("value", "$!ctg.get(0)" ).text("$ctg.get(1)"));
	            #end
    	      #end
    	  } else if(type == 2) {
    		  $("#cpRange").html(''); 
    	      #foreach($brand in $!{brand}) 
    	      	$("#cpRange").append($("<option selected></option>").attr("value", "$!brand.brandId" ).text("$brand.brandName"));
    	      #end
    	  } else if(type == 4) {
    		  $("#cpRange").html(''); 
    	      #foreach($prod in $!{product}) 
    	      	$("#cpRange").append($("<option selected></option>").attr("value", "$!prod.productId" ).text("$prod.prodName"));
    	      #end
    	  } else if(type == 5) {
    		  $("#cpRange").html(''); 
    	      #foreach($prod in $!{product}) 
    	      	$("#cpRange").append($("<option></option>").attr("value", "$!prod.productId" ).text("$prod.prodName"));
    	      #end
    	      $("#rangeUser").html('');    
	    	  	#foreach( $u in $user)
	    	  		$("#rangeUser").append($("<option></option>").attr("value", "$!u.userId" ).text("$!u.name" + " > " + "$!u.email"));
				#end
    	  }
    	  
      }
    </script>
    <!-- /Select2 -->
    
	<!-- validator -->
	<script>
      // initialize the validator function
      validator.message.date = 'not a real date';

      // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
      $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        .on('keypress', 'input[required][pattern]', validator.keypress);

      $('.multi.required').on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
      });

      $('form').submit(function(e) {
        e.preventDefault();
        var submit = true;

        // evaluate the form using generic validaing
        if (!validator.checkAll($(this))) {
          submit = false;
        }
        
        if (submit) {
			insertData();
        }
        	
          //this.submit();

        return false;
      });
      
	function insertData() {

		var params = $("#productForm").serializeObject();
		params.selectDate = couponDate.format('YYYY-MM-DD HH:mm:ss');
		alert(params.selectDate);
		$.ajax({
			type: 'POST',
		    url: "save",
		    contentType: 'application/json',
		    mimeType: 'application/json',
		    dataType: 'json', 
		    data: JSON.stringify(params),
	        success: function(result){
	        	if(result.resultCode == 200) {
	        		bootbox.alert("등록 되었습니다.", function() {
						history.back();
					});
    			} else {
    				bootbox.alert(result.message, function() {});
    			}
		     },
			 error: function(){
				bootbox.alert("오류가 발생였습니다.\n잠시 후 다시 시도해 주세요.", function() {});
			 }
	  	});
    }
    </script>
    <!-- /validator -->
</body>
</html>