/* Faced Tab Navigation */
.tab.face{padding:0px 0px 39px 0px; background-image:url(img/top_menu_bg.jpg); background-repeat:no-repeat;}
.tab.face ul{position:relative;margin:0;padding:4px 0 0 25px; list-style:none;font-family:JejuGothic_400,³ª´®°íµñ,°íµñÃ¼,dotum;font-size:12px;}
.tab.face ul:after{content:"";display:block;clear:both;}
.tab.face li{font-weight:bold; float:left;margin-right:1px; height:75px; background-position:top left; background-repeat:no-repeat;}
.tab.face li a,
.tab.face li a span{position:relative;cursor:pointer}
.tab.face li a{float:left;text-decoration:none}
.tab.face li a span{background:transparent !important;border:0px solid;font-weight:bold;display:inline-block;text-align:middle;padding:6px 30px 11px 30px;color:#fff; font-family:JejuGothic_400,³ª´®°íµñ,°íµñÃ¼,dotum; font-size:15px;}

.tab.face li ul{width:100%;position:absolute;top:40px;left:0;list-style:none;border:0;margin:0;padding:0;white-space:nowrap;overflow:hidden;}
.tab.face li ul:after{content:"";display:block;clear:both}
.tab.face li li{position:relative;left:-1px;padding:0 8px;overflow:visible;background:transparent !important}
.tab.face li li a{font-weight:normal;text-decoration:none;display:block;position:static;padding:6px 0px 0px 8px;left:0;top:0;color:#666;background:url(/UFWeb/portal/img/arrow_off.jpg) no-repeat 0;}


.tab.face li.active{text-decoration:none;border:0px solid;}
.tab.face li.active2{text-decoration:none;border:0px solid;color:#ffffff;}

.tab.face li.active3 a:hover,
.tab.face li.active3 a:active,
.tab.face li.active3 a:focus,
.tab.face li.active3 a span{text-decoration:none;color:#f06c21;border:0px solid;}

.tab.face li.active a:hover{text-decoration:none;}
.tab.face li.active a:active{text-decoration:none;}
.tab.face li.active a:focus{text-decoration:none;}
.tab.face li.active a span{background:transparent !important;border:0px solid;font-weight:bold;display:inline-block;text-align:middle;padding:6px 30px 11px 30px;color:#fff; font-family:JejuGothic_400,³ª´®°íµñ,°íµñÃ¼,dotum; font-size:15px;color:#f06c21;}

.tab.face li li a:hover,
.tab.face li li a:active,
.tab.face li li a:focus,
.tab.face li li.active a{font-weight:normal;text-decoration:none;display:block;position:static;padding:6px 0px 0px 8px;left:0;top:0;color:#FF5B3E;background:url(/UFWeb/portal/img/arrow_on.jpg) no-repeat 0;}

.tab.face.jx{padding:0px;display:none;}
.tab.face.jx ul{border:0px;}
.tab.face.jx li{float:none}
.tab.face.jx li a{float:none;font-weight:bold}
.tab.face.jx li ul{display:block;position:static;padding:5px 0;left:0;top:0;background:#fff}
.tab.face.jx li li{display:inline}
.tab.face.jx li li a{border:0px solid;height:16px;background:url(/UFWeb/portal/img/arrow_off.jpg) no-repeat 0;padding:0px 0px 0px 8px;text-decoration:none;font-weight:normal !important;color:#999999;letter-spacing:normal; font-family:dotum, µ¸¿ò;}
.tab.face.jx li li a:hover,
.tab.face.jx li li a:active,
.tab.face.jx li li a:focus{color:#0044b7;background:url(/UFWeb/portal/img/arrow_on.jpg) no-repeat 0;}

.rucianHolder	{
	border:2px dashed #AAA;background-color:#fcfcfc;
}

.B {
font-weight:bold;
}

input	{ height:16px;
font-family:dotum, µ¸¿ò, arial;
font-size:12px;
color:#666666;
}

a	{ color:#636363; font-size:12px; font-family:dotum,arial;text-decoration:none; }

.A_l { text-align:left; }
.A_c { text-align:center;}
.A_r { text-align:right; }

.vA_t {vertical-align:top; }
.vA_m { vertical-align:middle; }
.vA_b { vertical-align:bottom; }


.pR5	{ padding-right:5px; }
.pL5 	{ padding-left:5px; }
.pT5	{ padding-top:5px; }
.pB5	{ padding-bottom:5px; }


.pR10	{ padding-right:10px; }
.pL10 	{ padding-left:10px; }
.pT10	{ padding-top:10px; }
.pB10	{ padding-bottom:10px; }

.pR20	{ padding-right:20px; }
.pL20 	{ padding-left:20px; }
.pT20	{ padding-top:20px; }
.pB20	{ padding-bottom:20px; }

.mT5	{ margin-top:5px;}
.mR5	{ margin-right:5px; }
.mB5	{ margin-bottom:5px; }
.mL5	{ margin-left:5px; }


.mT10	{ margin-top:10px;}
.mR10	{ margin-right:10px; }
.mB10	{ margin-bottom:10px; }
.mL10	{ margin-left:10px; }

#maincontainer{
width: 960px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}

#topsection{
clear: both;
width:100%;
background-image:url(img/top_back_bg.jpg);
text-align:center;
height: 155px; /*Height of top section*/
vertical-align:top;
}


#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin: 0 220px 0 220px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 220px; /*Width of left column in pixel*/
margin-left: -960px; /*Set margin to that of -(MainContainerWidth)*/
vertical-align:top;
}

.cal .top	{
float:left;
width:210px;
height:52px;
background-image:url(img/L_cal_bgTop.jpg);
}

.cal .date	{
width:210px;
background-image:url(img/L_cal_bg.jpg);
color:#666666;
font-size:12px;
font-family:myriad, dotum, arial;
}

.cal .date td {
width:30px;
height:26px;
text-align:center;
vertical-align:middle;
}

.cal .date .dBG {
background-image:url(img/L_cal_dayBG.jpg);
background-repeat:no-repeat;
background-position:center;
}

.cal a { color:#636363; text-decoration:none;
}

.cal .today	{
background-image:url(img/L_cal_todayBG.jpg) ;
background-repeat:no-repeat;
background-position:center;
background-position:bottom;
color:#FFFFFF;
}


#rightcolumn{
float:left;
width: 220px; /*Width of right column*/
margin-left: -210px; /*Set left margin to -(RightColumnWidth)*/
vertical-align:top;
}

#footer{
clear: both;
width: 100%;
text-align: center;
background-image:url(img/footer_bg.jpg); 
}

#footer a{
color: #FFFF80;
}


table.top	{ 
width:960px;
vertical-align:top;
border:0px;
}

table.top td{
color:#666666;
}

table.top td.L{
text-align:left;
}

table.top td.R{
text-align:right;
}

table.top  a:hover { text-decoration:underline; }
table.top  a:active,
table.top  a:focus,
table.top  a{ text-decoration:none; color:#666666; }



.cont .top	{
float:left;
width:200px;
height:23px;
background-image:url(img/cont_s_top.jpg);
background-repeat:no-repeat;
font-size:14px;
font-family:³ª´®°íµñ;
font-weight:bold;
padding:8px 0px 0px 13px;
}

.cont .mid	{
clear:both;
width:210px;
/*
background-image:url(img/cont_s_mid.jpg);*/
font-size:12px;
font-family:myriad, dotum, arial;
vertical-align:top;
padding-top:0px;
}

.cont a { color:#636363; text-decoration:none;}

.cont .mid .alr {
background-image:url(img/L_cont_box01.jpg);
background-repeat:no-repeat;
color:#666666;
width:65px;
height:39px;
line-height:150%;
text-align: center;
padding-bottom:5px;
}

.cont .mid .alr2 {
padding-bottom:5px;
}

.cont .mid .alr2 .on{
float:left;
background-image:url(img/L_cont_box02_on.jpg);
background-repeat:no-repeat;
color:#999999;
width:98px;
height:24px;
text-align: center;
}

.cont .mid .alr2 .off{
float:left;
background-image:url(img/L_cont_box02_off.jpg);
background-repeat:no-repeat;
color:#999999;
width:98px;
height:24px;
text-align: center;
}

.cont .mid .alr2 .fontB	{color:#ddeaf4;padding-top:3px;width:65px;text-align: center;}
.cont .mid .alr2 .fontC	{color:#666666;padding-top:3px;width:30px;text-align: center;}


.cont .mid .zone {
background-image:url(img/ico_zone_dot.jpg) ; 
padding-left:10px;
font-size:11px;
background-position:left;
background-repeat:no-repeat;
color:#4f5b75;
line-height:120%;
}

.cont .mid .head {
background-image:url(img/R_head_box.jpg);
background-repeat:no-repeat;
color:#888;
width:64px;
height:53px;
vertical-align:bottom;
}

.cont .mid .head .bl {
height:5px;
}

.fc9	{ color:#999999; }

.cont .mid .fontB	{
color:#ddebf5;
}

.cont .mid .fontB	a{
color:#ffffff;
}

.cont .bot	{
width:210px;
height:9px;
background-image:url(img/cont_s_bot.jpg);
}


.Btop	{
float:left;
width:520px;
height:23px;
background-image:url(img/cont_b_top.jpg);
background-repeat:no-repeat;
font-size:14px;
font-family:³ª´®°íµñ;
font-weight:bold;
padding-left:13px;
padding-top:8px;
}

.BtopP {padding:8px 0px 0px 13px;}
.Bmid	{
width:520px;
background-image:url(img/cont_b_mid.jpg);
font-size:12px;
font-family:myriad, dotum, arial;
vertical-align:top;
text-align:center;
}

.Bbot	{
width:520px;
height:9px;
background-image:url(img/cont_b_bot.jpg);
}
/*
.contB a { color:#636363; text-decoration:none;}
*/
.Bbtn {
float:right;
margin-right:20px;
vertical-align:middle;
}

.tdR {
background-image:url(img/cont_b_tdR.jpg);
background-repeat:no-repeat;
background-position:right;

}

.contB .tdLine {
border-bottom:solid #ccc 1px;
}

.contB a.fB {
	color: #00a5e5;
	font-weight: bold;
}

.contB .dotT{
width:493px;
}

.contB .dotT tr{
background-image:url(img/line_C_dot30.jpg);
background-position:left;
}

.contB .dotT td{
height:30px;
vertical-align:middle;
}

.contB .dotT a {
color:#444; }

.contB .dotT .date {
color:#888;
}

.contB .info td {
text-align:center;
line-height:120%;
color:#4f5b73;
vertical-align:bottom;
}
 
.contB .info .gra {
background-image:url(img/cont_b_info_titBG.jpg);
background-repeat:no-repeat;
width:68px;
height:84px;
}

.numtd {
background-image:url(img/num_td_line.jpg);
background-repeat:no-repeat;
background-position:right;
}

.numtd a { text-decoration:none; color:#666; font-weight:normal; }

.ch	{ width:493px; }
.ch .img { border:solid 1px #CCCCCC; }
.ch .chTit { font-weight:bold; color:#444; height:40px; text-align:left; }
.ch .chTxt { color:#888; line-height:120%; text-align:left; vertical-align:top; }
.ch .chBG  { background-color:#f3f3f3;}

.link { width:206px; }
.link a:active,
.link a:focus,
.link a { color:#444444; }
.link a:hover { color:#f66523; }
.link ul{margin:0px; height:30px; background-image:url(img/cont_b_link_bg.jpg); background-repeat:no-repeat;padding-left:20px; text-align:left; vertical-align:bottom; }

.cTop	{ width:521px; height:296px; background-image:url(img/cont_b_top_bg.jpg);}
.cTop .cTopL	{ width:88px;}
.cTop .icoT		{ width:116px; }
.cTop .icoT .icoLine { width:116px; height:26px; background-image:url(img/cont_b_top_C_line.jpg); background-position:bottom; background-repeat:no-repeat; text-align:left; vertical-align:bottom; margin-top:3px; }
.cTop .icoT a { color:#FFFFFF; text-decoration:none;  letter-spacing:-1pt; }
.cTop .bbsT	{ width:317px; }
.cTop .bbsT .bbsLine { border-right:solid 1px #d9d9d9; }
.cTop .bbsT .bbsTit { text-align:center; color:#666; height:31px;font-size:11px; vertical-align:middle;}
.cTop .bbsT .bbsTxt { text-align:left; font-weight:normal; height:29px; vertical-align:middle; padding-left:5px;color:#666;font-size:11px; } 
.cTop .bbsT .bbsTxt a { color:#666; text-decoration:none; font-size:11px; font-weight:normal; }

/* left Menu */
/*
.LTit	{ text-align:left;height:80px; width:210px; background-repeat:no-repeat; font-size:16px; color:0074db; padding-top:27px;} 
.LTits	{ text-align:left;font:arial; font-size:10px; color:#a19f9f; word-spacing:-2px; }

.menu01 {
padding:6px 0px 0px 20px;
background-image:url(img/Lmenu_menu01_bg01.jpg);
background-repeat:no-repeat;
width:210px;
height:22px;
color:#999;
text-align:left;
}
.menu01 a:active,
.menu01 a:focus,
.menu01 a:hover	{ text-align:left;color:#00a9e9; font-weight:bold; text-decoration:none; word-spacing:-2px; }
.menu01 a:link	{ text-align:left;color:#999; text-decoration:none; }

.menu02 {
text-align:left;
padding:6px 0px 0px 20px;
background-image:url(img/Lmenu_menu01_bg02.jpg);
background-repeat:no-repeat;
width:210px;
height:22px;
}

.menu02 a:active,
.menu02 a:focus,
.menu02 a:hover	{ text-align:left;color:#00a9e9; font-weight:bold; text-decoration:none; word-spacing:-2px; }
.menu02 a:link	{ text-align:left;color:#999; text-decoration:none; }

.B	{ font-weight:bold; }
.submenu {
text-align:left;
width:150px;
padding:3px 1px 1px 0px;
display:none;
color:#707070;

}
.submenu a {text-align:left;color:#707070; font-size:11px; text-decoration:none; }

.subBG {
text-align:left;
width:210px;
height:18px;
}

.menu2 {
text-align:left;
padding:3px 1px 1px 2px;
width:135px;
display:block;
}	
.submenu2 {
text-align:left;
background-color:#f4f4f4;
width:140px;
padding:3px 1px 1px 2px;
display:block;
}
.submenu2 a {text-align:left;color:#707070; font-size:11px; text-decoration:none; }

*/
.mL22 {margin-left:22px; }
.mL20	{margin-left:20px; }

/* 2011/11/14 add */
.frameCenter {
width:100%; 
}
.subFrameLeft {
width:215px;vertical-align:top;
}
.subFrameCenter {
width:780px;vertical-align:top;
}


/* left Menu */
.LTit	{ text-align:left; height:52px; width:210px;padding-top:3px;padding-left:6px;line-height:140%;} 
.LTit h3 {text-align:left; color:#0074db;font-size:21px;}
.LTits	{ text-align:left; font:arial; font-size:10px; color:#a19f9f; word-spacing:-2px;margin-top:-3px; }

.lnb_section {clear:both;width:210px;padding-top:6px;border-right:1px solid #d1d1d1;}
.lnb_section ul {list-style-type:none;margin:0;padding:0}
.lnb_1depth li {font-weight:bold;list-style:none;text-align:left; line-height:170%;background: url(img/ico_none.gif) no-repeat 7px 5px;}

.lnb_1depth li.submn_open {list-style:none;text-align:left;line-height:170%;background: url(img/ico_plus.gif) no-repeat 5px 5px;}
.lnb_1depth li.submn_open span{width:20px;height:10px;cursor:hand;padding-left:20px;}
.lnb_1depth li.submn_open a{padding-left:0px;}



.lnb_1depth li.submn_openon {list-style:none;text-align:left;line-height:170%;background: url(img/ico_plus.gif) no-repeat 5px 5px;}
.lnb_1depth li.submn_openon a{color:#00a9e9;font-weight:bold;padding-left:20px;}

.lnb_1depth li.on a{text-decoration:none;color:#00a9e9;font-weight:bold;padding-left:0px;padding-left:20px;}

.lnb_1depth li.submn_close {line-height:170%;background: url(img/ico_minus.gif) no-repeat 5px 7px;padding-left:20px;}
.lnb_1depth li.submn_close a {color:#00a9e9;font-weight:bold;font-size:12px;letter-spacing:-0.02em;}
.lnb_1depth li  a {text-decoration:none;list-style:none;text-align:left;color:#666;font-size:12px;letter-spacing:-0.02em;padding-left:20px;}
.lnb_1depth li  a:hover {text-decoration:none;list-style:none;text-align:left;color:#00a9e9;font-weight:bold;font-size:12px;letter-spacing:-0.02em;}

.lnb_1depth li .lnb_2depth {list-style:none;text-align:left;margin-top:4px;padding-left:20px;}
.lnb_1depth li .lnb_2depth li {color:#999;list-style:none;text-align:left;background: url(img/ico_arrow.gif) no-repeat 0 6px;padding-left:7px;}
.lnb_1depth li .lnb_2depth li a {text-decoration:none;text-align:left;color:#666;font-weight:normal;padding-left:0px;}
.lnb_1depth li .lnb_2depth li a:hover {text-decoration:none;text-align:left;color:#00a9e9;font-weight:normal;}
.lnb_1depth li .lnb_2depth li.on{color:#00a9e9;text-align:left;font-weight:bold;}
.lnb_1depth li .lnb_2depth li.on a {color:#00a9e9;text-align:left;font-weight:bold;}

.lnb_1depth li .lnb_2depth li  .lnb_3depth {color:#666;width:183px !important;margin-bottom:4px;}
.lnb_1depth li .lnb_2depth li  .lnb_3depth li {background:transparent;width:183px !important;height:17px;margin-bottom:1px;line-height:140%;padding-top:1px;font-weight:normal;}
.lnb_1depth li .lnb_2depth li  .lnb_3depth li a {text-decoration:none;background: url(img/lnb/lco_bar.gif) no-repeat 0 6px;color:#666;font-size:12px;padding-left:8px;font-weight:normal;}
.lnb_1depth li .lnb_2depth li  .lnb_3depth li a:hover {text-decoration:none;color:#00a9e9;font-weight:normal;}
.lnb_1depth li .lnb_2depth li  .lnb_3depth li.on{background: url(img/lnb/bg_3dep.gif) no-repeat;}
.lnb_1depth li .lnb_2depth li  .lnb_3depth li.on a {text-decoration:none;width:183px !important;color:#00a9e9;font-weight:normal;}


/* kspo ¸¶ÀÎµå */
#management {
	border:3px solid #2086e0;POSITION: absolute;top:80px;left:0px;background-color:#ffffff;z-index:9999; WIDTH: 780px; HEIGHT: 470px; FONT-SIZE: 11px; padding:0px;
}
