.form {
	font-family: "Arial", "µ¸¿ò", "sans-serif";
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	border: thin none #FFFFFF;
	word-spacing: normal;
	margin: auto;
	height: 16px;

}
body { 
scrollbar-face-color: #ffffff; 
scrollbar-highlight-color: #bbbbbb; 
scrollbar-3dlight-color: #FFFFFF; 
scrollbar-shadow-color: #bbbbbb; 
scrollbar-darkshadow-color: #FFFFFF; 
scrollbar-track-color: #FFFFFF; 
scrollbar-arrow-color: #bbbbbb;
background-color:#FFFFFF; 
font-family:Arial,µ¸¿ò; 
font-size: 9pt; 
line-height:20px
}


	
a:link    {font-family: µ¸¿ò; text-decoration:none; font-size:9pt; Color:#585858 }
a:visited {font-family: µ¸¿ò; text-decoration:none; font-size:9pt; Color:#585858 }
a:hover   {font-family: µ¸¿ò; text-decoration:none; font-size:9pt; Color:#0066cc }
a:active  {font-family: µ¸¿ò; text-decoration:none; font-size:9pt; Color:#585858 }


td {
	font-family:"Arial", "µ¸¿ò";
    font-weight:normal;
	font-size:9pt;
	color:#585858;
	line-height: 18pt;
}

table {
font-family:Arial,µ¸¿ò; 
line-height: 20pt;
}
/*  ±âº» ¼¿·ºÆ®¹Ú½º  */	

select {
    font-family: "Arial", "µ¸¿ò"
	color:#585858;
	font-size:12px;
	line-height: normal;
    border: 1px solid #d0cfcf; 

}

.select {
	border:0px;
	color:#d0cfcf;
	font-size:12px;
	background-color:#ffffff;
	line-height: normal;

}
/*  »ì»ö_Ç×¸ñ ¼¿·ºÆ®¹Ú½º  */	
.select2 {
font-family:Arial,µ¸¿ò; 
color:#585858;
font-size:12px;
background-color:#F5F2DB;
line-height: 20pt;
}


/*  È¸»ö_¼¿·ºÆ®¹Ú½º  */	
.select3 {
font-family:Arial,µ¸¿ò; 
color:#585858;
font-size:12px;
background-color:#dcdcdc;
line-height: 20pt;
}


textarea {
font-family:Arial,µ¸¿ò; 
color: #666666; 
border: 1px solid #d0cfcf; 
scrollbar-face-color: #ffffff; 
scrollbar-highlight-color: #bbbbbb; 
scrollbar-3dlight-color: #FFFFFF; 
scrollbar-shadow-color: #bbbbbb; 
scrollbar-darkshadow-color: #FFFFFF; 
scrollbar-track-color: #FFFFFF; 
scrollbar-arrow-color: #bbbbbb;
line-height:normal;
}



input {
	font-family: "Arial", "µ¸¿ò";
	font-size: 12px;
	color: #333333;
	line-height: 12px;
	height: 18px;
    border: 1px solid d0cfcf;
}


.intd1 {
border:1px solid #c7c7c7; 
font-family:µ¸¿ò;
font-weight:normal;
font-size:9pt;
color:#585858;
height:24;
}



.intd2 {
border:1px solid #c7c7c7; 
font-family:µ¸¿ò;
font-weight:normal;
font-size:9pt;
color:#585858;
height:24;
background-color:#f4f4f4;
}
