.previewFrame {
	background-color: #f3f3f3;
}

.preview {
	position:relative;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    margin: 15px auto 15px auto;
	background-color: #ffffff;
	overflow: auto;
}
