
    <!-- Bootstrap -->
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Font Awesome -->
    <link href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/webjars/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/webjars/bootstrap-progressbar/0.9.0/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/webjars/bootstrap-daterangepicker/2.1.24/daterangepicker.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="/webjars/select2/4.0.3/dist/css/select2.min.css" rel="stylesheet">
    <!-- DropZone -->
    <link href="/webjars/dropzone/4.3.0/dist/min/dropzone.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/dist/css/custom.min.css" rel="stylesheet">