 <!-- footer content -->
 <footer>
	<div class="pull-right">
		<span>Copyright ©-주식회사 숨크리에이티브 2016. All Rights Reserved.</span>
	</div>
   	<div class="clearfix"></div>
</footer>
 <!-- /footer content -->