        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/admin/index" class="site_title"><span>발그레</span></a>
            </div>

            <div class="clearfix"></div>
			
            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="/dist/img/meta_img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>
                	$!request.getSession().getAttribute("auth").userId
                </h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

           
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>관리자메뉴</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> 메인<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a>메인배너1<span class="fa fa-chevron-down"></span></a>
                      	<ul  class="nav child_menu">
                      		<li><a  href="/admin/main/first?showType=1">메인</a></li>
                      		<li><a  href="/admin/main/first?showType=2">베스트</a></li>
                      		<li><a  href="/admin/main/first?showType=3">NEW</a></li>
                      	</ul>
                      </li>
                      <li><a href="/admin/main/second">메인배너2</a></li>
                      <!--li><a href="#">메인메뉴</a></li-->
                      <li><a href="/admin/main/list">메인목록</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-gift"></i> 이벤트<span class="fa fa-chevron-down"></span></a>
                  	 <ul class="nav child_menu">
                  		<li><a href="/admin/event/list">이벤트</a> </li>
                  		<li><a href="/admin/plan/list">기획전</a> </li>
                  		<li><a href="/admin/time/list">한정특가</a> </li>
                  		<li><a href="/admin/coupon/list">쿠폰</a> </li>
                  	</ul>
                  </li>
                  <li><a><i class="fa fa-exclamation"></i> 상품&기타<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    	<li><a href="/admin/product/top/list">상품상단</a></li>
                    	<li><a href="/admin/product/list?box=0">상품</a></li>
                    	<li><a href="/admin/product/list?box=1">발그레박스</a></li>
                    	<!-- li><a href="/admin/detail/top">상품상세 상단</a></li -->
                      	<li><a href="/admin/category/view">카테고리</a></li>
                      	<li><a href="/admin/brand/list">브랜드</a></li>
                      	<li><a href="/admin/dcompany/list">택배사</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-exclamation"></i> 주문내역<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    	<li><a href="/admin/payment/list?type=R">주문내역-결제대기</a></li>
                    	<li><a href="/admin/payment/list?type=P">주문내역-결제완료</a></li>
                    	<li><a href="/admin/payment/list?type=C">주문내역-결제취소</a></li>
                    	<li><a href="/admin/payment/list?type=F">주문내역-결제실패</a></li>
                    	<!-- li><a href="/admin/product/list?box=1">출고내역</a></li>
                    	<li><a href="/admin/detail/top">상품상세 상단</a></li>
                      	<li><a href="/admin/category/view">카테고리</a></li>
                      	<li><a href="/admin/brand/list">브랜드</a></li>
                      	<li><a href="/admin/dcompany/list">택배사</a></li -->
                    </ul>
                  </li>
                  <li><a><i class="fa fa-users"></i> 회원 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a>회원목록<span class="fa fa-chevron-down"></span></a>
                      	 <ul class="nav child_menu">
                      	 	<li class="sub_menu"><a href="/admin/user/list?type=u&role=1">관리자</a>
                      	 	<li class="sub_menu"><a href="/admin/user/list?type=u&role=2">업체</a>
                      	 	<li class="sub_menu"><a href="/admin/user/list?type=u&role=3">회원</a>
                      	 </ul>
                      </li>
                      <li><a href="/admin/user/list?type=l&role=0">탈퇴회원</a></li>
                    </ul>
                  </li>
                  <li><a href="/admin/qna/list"><i class="fa fa-headphones"></i> 1:1문의</a></li>
                  <!-- li><a href="/admin/push/send"><i class="fa fa-paper-plane-o"></i> PUSH<span class="fa fa-chevron"></span></a-->
                  </li>
                  <li><a href="javascript:openVersion();"><i class="fa fa-android"></i> 버전정보 <span class="fa fa-chevron"></span></a>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="/admin/logout" class="fa fa-sign-out pull-right" >
                    	로그아웃
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="/admin/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
